{% extends "index.html" %}
{% block content %}
{% load bootstrap4 %}
<h1>
    <small>Borrar curva de descarga</small>
</h1>
<div class="row">
    <div class="col-lg-4 col-md-6">
        <br>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Estación</th>
                <td>{{curvadescarga.estacion}}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{curvadescarga.fecha}}</td>
            </tr>
            <tr>
                <th>Función</th>
                <td>{{curvadescarga.funcion}}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <form method="post" class="form">
            {% csrf_token %}
            <button type="submit" class="btn btn-warning">Confirmar</button>
            <a class="btn btn-light" href="{% url 'medicion:curvadescarga_index' %}">Cancelar</a>
        </form>
    </div>
</div>

{% endblock %}
