
{% load static %}


<script src="{% static 'validacion.js' %}"></script>
<link rel="stylesheet" href="{% static 'validacion.css' %}">


<div class="row">
    <div class="col-lg-7 col-md-7 col-sm-12">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <h5>Límites Dato crudo:</h5>
                </div>
                <div class="row form-group">
                    <div class="col-lg-2 col-md-3 col-sm-6">Inferior:</div>
                    <div class="col-lg-4 col-md-3 col-sm-6">
                        <input name="lim_inf" type="number" class="form-control" step="0.1" >
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-6">Superior:</div>
                    <div class="col-lg-4 col-md-3 col-sm-6">
                        <input name="lim_sup" type="number" class="form-control" step="0.1" >
                    </div>
                </div>

                <div >
                    <button id="limites_cambiar" class="btn btn-primary">Cambiar</button>
                    <button id="limites_reset" class="btn btn-warning">Reestablecer</button>
                </div>

            </div>
        </div>

    </div>
    <div class="col-lg-5 col-md-5 col-sm-12">
        <div class="card">
            <div class="card-body">
                <h5>Comentario general</h5>
                <div class="form-group">
                    <textarea name="comentario_general" rows="2" cols="60" class="form-control"></textarea>
                </div>

                <button id="btn_validacion_enviar" type="button" class="btn btn-success">Enviar validación</button>
            </div>
        </div>

        <br>
    </div>
</div>

<!--
<div class="row">
    <div class="col-2">
        <b>Filtro Fecha</b>
    </div>
    <div class="col-4">
        <div class="form-group">
            <select id="chk_fecha" class="form-control form-control-sm">
                <option value="fecha">Todos</option>
                <option value="fecha normal">Normales</option>
                <option value="fecha salto">Saltos</option>
                <option value="fecha error">No esperados</option>
            </select>
        </div>
    </div>

    <div class="col-2">
        <b>Filtro Valor</b>
    </div>
    <div class="col-4">
        <div class="form-group">
            <select id="chk_valor" class="form-control form-control-sm">
                <option value="fecha">Todos</option>
                <option value="fecha normal">Normales</option>
                <option value="fecha salto">Errores</option>
            </select>
        </div>
    </div>

</div>
-->

    <div class="col-12">
        <div class="table-responsive">
            <table id="tabla_datos"  class="table table-scroll table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="col-3">

                            <div class="row mt-2 no-gutters justify-content-md-center" >
                                <div class="col-md-auto">Fecha</div>
                            </div>

                            <div class="row mt-2 no-gutters justify-content-md-center" >
                                <div class="col-md-auto">
                                    <span id="btn_fec_error" class="badge badge-danger">Error</span>
                                    <span id="btn_fec_normal" class="badge badge-success">Normal<br/>-</span>
                                    <span id="btn_fec_salto" class="badge badge-warning ">Salto<br/>-</span>
                                </div>
                            </div>

                        </th>

                        <th scope="col" class="col-2">

                            <div class="row mt-2 no-gutters justify-content-md-center" >
                                <div class="col-md-auto">Validación</div>
                            </div>

                            <div class="row mt-2 no-gutters justify-content-md-center" >
                                <div class="col-md-auto">
                                    <span id="btn_val_nuevo"  class="badge badge-default" title="No Validado">No Val.<br/>-</span>
                                    <span id="btn_val_ya_validado"  class="badge badge-success" title="Validado">Val.<br/>-</span>
                                    <span id="btn_val_cambio" class="badge badge-info" title="Cambio realizado">Cambio<br/>-</span>
                                </div>
                            </div>

                        </th>

                        <th scope="col" class="col-2">

                            <div class="row no-gutters justify-content-md-center" >
                                <div class="col-md-auto">Valor</div>
                            </div>

                            <div class="row no-gutters justify-content-md-center" >
                                <div class="col-md-auto">
                                    <div class="small"><small>Norm: [{{variable.var_minimo}} , {{variable.var_maximo}}]</small></div>
                                </div>
                            </div>

                            <div class="row mt-2 no-gutters justify-content-md-center" >
                                <div class="col-md-auto">
                                    <span id="btn_med_normal" class="badge badge-success">Normal</span>
                                    <span id="btn_med_error"  class="badge badge-danger">Error</span>
                                </div>

                            </div>

                        </th>

                        <th scope="col" class="col-2">

                            <div class="row no-gutters justify-content-md-center">
                                <div class="col-md-auto">
                                    <div class="small font-weight-bold">Valores atípicos</div>
                                </div>
                            </div>


                            <div class="row mt-2 no-gutters justify-content-md-center">
                                <div class="col-md-auto">
                                    <div class="small"><small>Fuera de {{variable.var_min | floatformat:1}} sigmas</small></div>
                                </div>

                            </div>

                            <div class="row mt-2 no-gutters justify-content-md-center" >
                                <div class="col-md-auto">
                                    <span id="btn_dev_normal"  class="badge badge-success">Normal<br/>-</span>
                                    <span id="btn_dev_error"  class="badge badge-danger">Extr.<br/>-</span>
                                </div>
                            </div>


                        </th>

                        <th scope="col" class="col-3"><p class="font-weight-bold">Comentario</p></th>

                    </tr>
                </thead>
                <tbody>

                    {% for item in lista %}
                        <tr id="{{item.numero_fila}}" class="{{item.class_fila}}" >

                            <td scope="row" class="col-3 {{item.class_fecha}}">{{item.fecha|date:"Y-m-d H:i:s.u"}}</td>

                            <td class="col-2 {{item.class_validacion}}">{{item.valor_seleccionado|default_if_none:"" }}</td>
                            <td class="col-2 {{item.class_valor}}">{{item.valor|default_if_none:"" }}</td>
                            <td class="col-2 {{item.class_stddev_error}}">&nbsp;</td>

                            <td class="col-3 comentario" >{{item.comentario|default_if_none:"&nbsp;"}}</td>

                        </tr>
                    {% endfor%}

                </tbody>

            </table>

        </div>


    </div>






<div id="comentario_overlay" class="popup-overlay"  >
    <div id="comentario_content" class="popup-content">
        <input type="hidden" name="row_id" value="">
        <div id="id_comentario_dialog" class="dialog" title="Comentario por cambio de valor" >
            <textarea name="nuevo_comentario" rows="10" cols="40"></textarea>
            <br>
            <button id="btn_guardar_comentario" type="button" class="btn btn-success btn-xs">Guardar comentario</button>
            <button id="btn_sin_comentario" type="button" class="btn btn-danger btn-xs">Sin comentario</button>
        </div>
     </div>
</div>


<input type="hidden" name="orig_estacion_id" value="{{estacion.est_id }}">
<input type="hidden" name="orig_variable_id" value="{{variable.var_id}}">
<input type="hidden" name="orig_fecha_inicio" value="{{inicio|date:'Y-m-d'}}">
<input type="hidden" name="orig_fecha_fin" value="{{fin|date:'Y-m-d'}}">
<input type="hidden" name="orig_lim_sup" value="{{variable.var_maximo}}">
<input type="hidden" name="orig_lim_inf" value="{{variable.var_minimo}}">
<input type="hidden" name="orig_variacion_sos" value="{{variable.var_sos}}">
<input type="hidden" name="orig_variacion_err" value="{{variable.var_err}}">