{% load bootstrap3 %}
{% load humanize %}
{% load static %}


<script src="{% static 'validacion.js' %}"></script>
<link rel="stylesheet" href="{% static 'validacion.css' %}">

<input type="hidden" name="orig_estacion_id" value="{{estacion.est_id }}">
<input type="hidden" name="orig_variable_id" value="{{variable.var_id}}">
<input type="hidden" name="orig_fecha_inicio" value="{{inicio|date:'Y-m-d'}}">
<input type="hidden" name="orig_fecha_fin" value="{{fin|date:'Y-m-d'}}">
<input type="hidden" name="orig_lim_sup" value="{{variable.var_maximo}}">
<input type="hidden" name="orig_lim_inf" value="{{variable.var_minimo}}">
<input type="hidden" name="orig_variacion_sos" value="{{variable.var_sos}}">
<input type="hidden" name="orig_variacion_err" value="{{variable.var_err}}">


<div id="comentario_overlay" class="popup-overlay"  >
    <div id="comentario_content" class="popup-content">
        <input type="hidden" name="row_id" value="">
        <div id="id_comentario_dialog" class="dialog" title="Comentario por cambio de valor" >
            <textarea name="nuevo_comentario" rows="10" cols="40"></textarea>
            <br>
            <button id="btn_guardar_comentario" type="button" class="btn btn-success btn-xs">Guardar comentario</button>
            <button id="btn_sin_comentario" type="button" class="btn btn-danger btn-xs">Sin comentario</button>
        </div>
     </div>
</div>

<br>

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12" style="border: 1px solid lightgrey;">
        {% if grafico %}
        <center><div id="grafico" style="width:auto;height:300">{{ grafico|safe }}</div></center>
        {%else%}
        <label>No hay información para los parametros ingresados</label>
        {% endif %}
        <br>
    </div>

</div>


<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 fondo-transp-blanco" style="border: 1px solid lightgrey;">
        <div class="row">
            <h5>Límites Dato crudo:
            <button id="limites_cambiar" class="btn btn-xs" style="background-color: #BFBFFF">Cambiar</button>
            <button id="limites_reset" class="btn btn-default btn-xs">Reestablecer</button>
            </h5>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">Inferior:</div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <input name="lim_inf" type="number" class="form-control" step="0.1" >
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1"><br></div>
            <div class="col-lg-2 col-md-2 col-sm-2">Superior:</div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <input name="lim_sup" type="number" class="form-control" step="0.1" >
            </div>
        </div>
        <br>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 fondo-transp-blanco">
        <h4>Comentario general</h4>
        <textarea name="comentario_general" rows="2" cols="60" class="form-control"></textarea>
        <br>
    </div>
</div>

<br>
<center>
    <button id="btn_validacion_enviar" type="button" class="btn btn-default btn-info btn-space">Enviar validación</button>
</center>

<br>



    <table class="table table-bordered table-condensed table-hover">
        <thead>
            <tr>

                <th class="col1">
                    <div class="row" >
                        <center><h5>Fecha</h5></center>
                        <h6><br></h6>
                    </div>

                    <div class="row" >
                        <center>
                            <button id="btn_fec_error" type="button" class="btn btn-danger btn-xs">Error<br/>-</button>
                            <button id="btn_fec_normal" type="button" class="btn btn-xs btn-success">Normal<br/>-</button>
                            <button id="btn_fec_salto" type="button" class="btn btn-warning btn-xs">Salto<br/>-</button>
                        </center>
                    </div>
                </th>

                <th class="col2">
                    <div class="row" >
                        <center><h5>Validación</h5></center>
                        <h6><br></h6>
                    </div>

                    <div class="row" >
                        <center>
                            <button id="btn_val_nuevo" type="button" class="btn btn-default btn-xs" title="No Validado">No Val.<br/>-</button>
                            <button id="btn_val_ya_validado" type="button" class="btn btn-success btn-xs" title="Validado">Val.<br/>-</button>
                            <button id="btn_val_cambio" type="button" class="btn btn-xs btn-info" title="Cambio realizado">Cambio<br/>-</button>
                        </center>
                    </div>
                </th>

                <th class="col3">
                    <div class="row" >
                        <center><h5>Valor</h5></center>
                        <center><h6>Norm: [{{variable.var_minimo}} , {{variable.var_maximo}}]</h6></center>
                    </div>

                    <div class="row" >
                        <center>
                            <button id="btn_med_normal" type="button" class="btn btn-success btn-xs">Normal</button>
                            <button id="btn_med_error" type="button" class="btn btn-danger btn-xs">Error</button>
                        </center>
                    </div>
                </th>


                <th class="col4">
                    <div class="row">
                            <center><h5>Variación consecutiva</h5></center>
                        <h6><center>Sosp: [{{variable.var_sos}} ; {{variable.var_err}}] <br/> Err >= {{variable.var_err}}</center></h6>
                    </div>

                    <div class="row" >
                        <center>
                            <button id="btn_var_normal" type="button" class="btn btn-success btn-xs">Norm.<br/>-</button>
                            <button id="btn_var_sospechoso" type="button" class="btn btn-warning btn-xs">Sosp.<br/>-</button>
                            <button id="btn_var_error" type="button" class="btn btn-danger btn-xs">Error<br/>-</button>
                        </center>
                    </div>
                </th>


                <th class="col5">
                    <div class="row">
                        <center><h5>Valores atípicos</h5></center>
                        <center><h6>Fuera de {{variable.var_min | floatformat:1}} sigmas</h6></center>
                    </div>
                    <div class="row" >
                        <center>
                            <button id="btn_dev_normal" type="button" class="btn btn-success btn-xs">Normal<br/>-</button>
                            <button id="btn_dev_error" type="button" class="btn btn-danger btn-xs">Extr.<br/>-</button>
                        </center>
                    </div>
                </th>


                <th class="col6"><center><h5>Comentario</h5></center></th>

            </tr>
        </thead>



        <tbody>

        {% for item in lista %}
        <tr id="{{item.numero_fila}}" class="{{item.class_fila}}" >
            <td class="col1 {{item.class_fecha}}">{{item.fecha|date:"Y-m-d H:i:s.u"}}</td>
            <td class="col2 {{item.class_validacion}}">{{item.valor_seleccionado|default_if_none:"" }}</td>
            <td class="col3 {{item.class_valor}}">{{item.valor|default_if_none:"" }}</td>
            <td class="col4 {{item.class_variacion_consecutiva}}">{{item.variacion_consecutiva|default_if_none:"" }}</td>
            <td class="col5 {{item.class_stddev_error}}"></td>
            <td class="col6 comentario" >{{item.comentario|default_if_none:""}}</td>
        </tr>
        {% endfor%}

        </tbody>

    </table>

