{% extends "template_detail.html" %}

{% block titulo %}Bitácora{% endblock %}

{% block table_rows %}
    <tr><th>Estación</th><td>{{bitacora.est_id}}</td></tr>
    <tr><th>Variable</th><td>{{bitacora.var_id}}</td></tr>
    <tr><th>Inicio</th><td>{{bitacora.bit_fecha_ini}}</td></tr>
    <tr><th>Fin</th><td>{{bitacora.bit_fecha_fin}}</td></tr>
    <tr><th>Observación</th><td>{{bitacora.bit_observacion}}</td></tr>
{% endblock %}

{% block url_change %}{% if perms.bitacora.change_bitacora %}{% url 'bitacora:bitacora_update' bitacora.bit_id %}{% endif %}{% endblock %}

{% block url_delete %}{% if perms.bitacora.delete_bitacora %}{% url 'bitacora:bitacora_delete' bitacora.bit_id%}{% endif %}{% endblock %}

{% block url_back %}{% url 'bitacora:bitacora_index' %}{% endblock %}
