{% extends "base.html" %}
{% block content %}
{% load bootstrap4 %}
{% load static %}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{% static 'styles/style.css' %}">

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(document).ready(function() {
  //consulta y guarda la información
  $("select").addClass("use-placeholder");
    window.mostrar_label_dentro_de_select();
  $("#btn_procesar").click(function(){
    $(this).attr('disabled',true);
    $.ajax({
      url: $("#form_validacion").attr('action'),
      data: $("#form_validacion").serialize(),
      type:'POST',
      beforeSend: function () {
        $("#div_informacion").hide();
        $("#div_loading").show();
        $("#div_error").hide();
      },
      success: function (data) {
        $("#div_informacion").html(data)
        $("#btn_procesar").removeAttr('disabled');
        $("#div_informacion").show();
        $("#div_loading").hide();
        $("#div_mensaje").html("Datos Guardados")
        $("#div_error").hide();
      },
      error: function () {
        $("#div_informacion").hide();
        $("#div_loading").hide();
        $("#div_error").show();
        $("#btn_procesar").removeAttr('disabled');
      }
    });
  });
  $("#id_estacion").change(function () {
        $("#div_error").addClass("div-hiden").removeClass("div-show");
        var estacion = $(this).val();
        var action = $(".form").attr('action');
        var estacion = $(this).val(); 
        $("#btn_bus_inten").prop('disabled', false);
        $("#id_periodo").find('option').remove().end()
        $.ajax({
            url: '/estacion/listar_anio/'+estacion+'/1',
            dataType: 'json',
            success: function (data) {
                $.each(data, function(index, value) {
                    $("#id_periodo").append('<option value="' + value + '">' + value + '</option>');
                    if (value == "No existen datos") {
                        $("#btn_bus_inten").prop('disabled', true);
                    }
                });
            }
        }); 
    });

  $("#id_estacion").change(function () {
    var estacion = $(this).val();
    $("#id_variable").find('option').remove().end()
    $.ajax({
      url: '/anuarios/variables/'+estacion,

      dataType: 'json',
      success: function (data) {
        //datos=JSON.parse(data)
        $.each(data, function(index, value) {
          $("#id_variable").append('<option value="' + index + '">' + value + '</option>');
          //console.log(value)
        });
      }
    });
  });
  $("#id_variable").change(function () {
            var action = $(".form").attr('action');
            var variable = $(this).val(); 
            var estacion = $('#id_estacion').val(); 
            $("#btn_bus_inten").prop('disabled', false);
            $("#id_periodo").find('option').remove().end()
            $.ajax({
                url: '/estacion/listar_anio/'+estacion+'/'+variable,
                dataType: 'json',
                success: function (data) {
                    $.each(data, function(index, value) {
                        $("#id_periodo").append('<option value="' + value + '">' + value + '</option>');
                        if (value == "No existen datos") {
                            $("#btn_bus_inten").prop('disabled', true);
                        }
                    });
                }
            }); 
        });
        
});

</script>


<div class="">
  
    <div class="titulo row">
      <div class = "col-lg-7">
        <h1>Procesar Variables del Anuario</h1> 
      </div>
      <div class="col-lg-3 my-3">
        <a class="btn btn-light"  href="{% url 'anuarios:anuarios_procesar' %}">
          Limpiar</a>
      </div>
      
      
      </div>
    <div class=" filtro">
        <div id="div_mensaje" class="alert alert-info alert-dismissible" role="alert">
            Si la información del anuario ya existe, al procesarlo nuevamente los datos se sobreescribiran
        </div>
        <form id="form_validacion" class="form" method="post" action="{% url 'anuarios:anuarios_procesar' %}">
            {% csrf_token %}

            <div class="row">
                {% for field in form%}
                {% bootstrap_field field show_label=False form_group_class='col-lg-4 my-3' %}
                {% endfor %}
                <div class="form-group col-lg-3 my-3">
                    <button id="btn_procesar" type="button" class="btn btn-primary">
                        Procesar
                    </button>
                    
                </div>
            </div>
        </form>
    </div>
</div>

<br>
<div id="div_informacion" class="row filtro">

</div>
<div id="div_loading" class="row" style="display:none;">
    <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <img src="/static/images/loading6.gif"/>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
</div>
<div id="div_error" class="row" style="display:none;">
    <div class="alert alert-danger alert-dismissible" role="alert">
        Ocurrio un problema con el procesamiento de la información, por favor intentelo nuevamente
    </div>
</div>
{% endblock %}
