{% extends "base.html" %}
{% block content %}
{% load bootstrap4 %}
<script>
    function enviar(){
        data = $('#form_borrar_validados').serialize();
        $('#id_estacion').prop('disabled', true);
        $('#id_variable').prop('disabled', true);
        $('#id_inicio').prop('disabled', true);
        $('#id_fin').prop('disabled', true);
        $('#id_enviar').prop('disabled', true);
        $.ajax({
            url : "{% url 'validacion:borrar_validados' %}",
            type : "POST",
            data : data,
            success : function(json) {
                if (json.filas_validado > 0
                 || json.filas_horario > 0
                 || json.filas_diario > 0
                 || json.filas_mensual > 0){
                    $('.div-alerta').children().addClass('alert-success');
                    $('.mensaje').html(
                        'Validados: ' + json.filas_validado + ' datos borrados.<br>' +
                        'Horarios: ' + json.filas_horario + ' datos borrados.<br>' +
                        'Diarios: ' + json.filas_diario + ' datos borrados.<br>' +
                        'Mensuales: ' + json.filas_mensual + ' datos borrados.<br>'
                        );
                    $('.div-alerta').show();
                }else{
                    $('.div-alerta').children().addClass('alert-success');
                    $('.mensaje').html('No hubo datos que eliminar.');
                    $('.div-alerta').show();
                }

            },
            error : function(xhr,errmsg,err) {
                $('.div-alerta').children().addClass('alert-danger');
                $('.mensaje').html('ERROR!: Vuelva a intentarlo');
                $('.div-alerta').show();
            }
        });
    }

    $(document).ready(function() {
        $('#form_borrar_validados').on('submit', function(event){
            event.preventDefault();
            enviar();
        });
    });
</script>

<div class="col-lg-8 transp-blanco">

    <div class="row">
        <div class="col"><h5>Borrar datos VALIDADOS</h5></div>
    </div>

    <div class="row"><div class="col">Se eliminarán datos validados, horarios, diarios y mensuales.<br>&ensp;</div></div>

    <form method="post" id="form_borrar_validados">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-6">{% bootstrap_field form.estacion %}</div>
            <div class="col-lg-6">{% bootstrap_field form.variable %}</div>
        </div>
        <div class="row">
            <div class="col-lg-6">{% bootstrap_field form.inicio %}</div>
            <div class="col-lg-6">{% bootstrap_field form.fin %}</div>
        </div>
        <div class="row">
            <div class="col">
                <input class="btn btn-danger" type="submit" value="Borrar VALIDADOS" id="id_enviar">
                <a class="btn btn-info" href="{% url 'validacion:borrar_validados' %}">Limpiar</a>
            </div>
        </div>

    </form>

    <div class="div-alerta" style="display: none;">
        <div class="alert alert-dismissable">
            <div class="mensaje"></div>
        </div>
    </div>

</div>



{% endblock %}
