{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<style type="text/css">
    .popup-overlay {
        visibility:hidden;
        position:fixed;
        background-size:100% 100%;
        height: 100%;
        width: 100% ;
        left: 0;
        top: 0;
        z-index: 1;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    .popup-content {
        position:relative;
        margin:0 auto;
        visibility:hidden;
        height:20%;
        width:40%;
        vertical-align: middle;
    }
    .mensaje{
        vertical-align: middle;
        text-align: center;
    }
    .popup-overlay.active{visibility:visible;}
    .popup-content.active{visibility:visible;}
</style>


<link rel="stylesheet" href="{% static 'ext/dygraph-2.1.0/dygraph.css' %}"/>
<script crossorigin="anonymous" src="{% static 'ext/dygraph-2.1.0/dygraph.min.js' %}"></script>



<script>

var error_validacion = false;

function cargar_variables(estacion){
    if (estacion == undefined){estacion = ""}
    $("#id_variable").prop( "disabled", true );
    $("#id_variable").find('option').remove().end()
    $("#id_variable").append('<option value selected>---------</option>');
    $.ajax({
        url: '{% url 'medicion:variables' %}',
        data: {
        'estacion_id': estacion
        },
        dataType: 'json',
        success: function (data) {
            $.each(data, function(index, value) {
                $("#id_variable").append('<option value="' + index + '">' + value + '</option>');
            });
            $("select").addClass("use-placeholder");
            window.mostrar_label_dentro_de_select();
        }
    });
    $("#id_variable").prop( "disabled", false);
}


function activar_espera(){
    $("#div_loading").show();
    $("#div_informacion").hide();
}


function desactivar_espera(){
    $("#div_loading").hide();
    $("#div_informacion").show();
}


function periodos_validacion(){
    $.ajax({
        url: '{% url 'validacion:periodos_validacion' %}',
        data: $("#form_filter").serialize(),
        type:'POST',
        beforeSend: function () {
            activar_espera();
            $("#div_error").hide();
        },
        success: function (data) {
            $("#btn_periodos_validacion").attr("disabled", false);
            $("#div_informacion").html(data)
            desactivar_espera();
            $("#div_error").hide();
        },
        error: function () {
            $("#div_informacion").hide();
            $("#div_loading").hide();
            $("#div_error").show();
        }
    });
}

function tabla_validacion(){
    $.ajax({
        url: '{% url 'validacion:validar' %}',
        data: $("#form_filter").serialize(),
        type:'POST',
        beforeSend: function () {
            activar_espera();
            $("#div_error").hide();
        },
        success: function (data) {
            $("#btn_validacion_enviar").attr("disabled", false);
            $("#div_informacion").html(data);
            desactivar_espera();
            $("#div_error").hide();
            //plot_adjust();
            graficar();
        },
        error: function () {
            $("#div_informacion").hide();
            $("#div_loading").hide();
            $("#div_error").show();
        }
    });

}




function graficar(){

    table = $("#table_validacion").DataTable({
        //language: window.DATATABLES_LANGUAGE,
        "scrollY":        "400px",
        "scrollCollapse": true,
        "paging":         false,
        "dom": '<"top">rt<"bottom"><"clear">',
        columnDefs: [],
    });

    var fecha = table.column(0).data().toArray();
    var valor1 = table.column(1).data().toArray();
    var datos = [];
    for (var i=0; i<fecha.length; i++) {
        datos.push([ new Date(fecha[i]), parseFloat(valor1[i]) ]);
    }

    var es_acumulada = $("input[name='orig_variable_es_acumulada']").val();

    if (es_acumulada === "True"){
        grafico_barras(datos);
    }else{
        grafico_dispersion(datos);
    }
}

function grafico_barras(data){
    var var_nombre = $("input[name='orig_variable_nombre']").val();
    var var_unidad = $("input[name='orig_variable_unidad']").val();
    var g = new Dygraph(
        document.getElementById('grafico'),
        data,
        {
            title:  var_nombre + '  (' + var_unidad + ')',
            labels: ['fecha', 'valor'],
            drawPoints:true,
            drawPointCallback : bargraph,
            strokeWidth: 0.0
        }
    );
}

var bargraph = function(g, series, ctx, cx, cy, color, radius) {
    ctx.lineWidth = 2.0; // Change as needed. Could use radius
    ctx.strokeStyle = 'blue';
    ctx.fillStyle = color;
    ctx.beginPath();
    ctx.moveTo(cx, cy);
    ctx.lineTo(cx, g.toDomYCoord(0));
    ctx.closePath();
    ctx.stroke();
    ctx.fill();
};


function grafico_dispersion(data){
    var var_nombre = $("input[name='orig_variable_nombre']").val();
    var var_unidad = $("input[name='orig_variable_unidad']").val();
    var g = new Dygraph(
        document.getElementById('grafico'),
        data,
        {
            title: var_nombre + '  (' + var_unidad + ')',
            labels: ['fecha', 'valor'],
            drawPoints: true,
            strokeWidth: 0,
            pointSize: 1.5
        }
    );

}





$(document).ready(function() {

    $("#btn_validacion_enviar").attr("disabled", true);
    $("select").addClass("use-placeholder");
    window.mostrar_label_dentro_de_select();

    $(".close").on("click", function(){
        $("#mensaje_overlay, #mensaje_content").removeClass("active");
        if (!error_validacion){
            $('#id_limpiar span').click();
        }
    });

    $("#id_estacion").change(function () {
        var estacion = $(this).val();
        cargar_variables(estacion);
    });

    $( "#id_inicio" ).datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat:"yy-mm-dd",
        yearRange: '2000:'+(new Date).getFullYear()
    });

    $( "#id_fin" ).datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat:"yy-mm-dd",
        yearRange: '2000:'+(new Date).getFullYear()
    });


    $( "#div_edit" ).dialog({
        autoOpen: false,
        width:400,
        height:350
    });

    $( "#div_delete" ).dialog({
        autoOpen: false,
        width:400,
        height:350
    });


    $('#btn_periodos_validacion').on('click', function(event) {
        var valido_est = $("#id_estacion")[0].checkValidity();
        var valido_var = $("#id_variable")[0].checkValidity();
        if (valido_est && valido_var) {
            event.preventDefault();
            periodos_validacion();
        }
    });


    $('#btn_tabla_validacion').on('click', function(event) {
        var valido = $("#form_filter")[0].checkValidity();
        if (valido) {
            event.preventDefault();
            tabla_validacion();
        }
    });
});

</script>

<div class="row titulo p-2">
    <div class="col">
        <h5>Validación Datos Crudos</h5>
    </div>
    <div class="col">
        <a id="id_limpiar" class="btn btn-light" href="{% url 'validacion:validar' %}"><span>Limpiar</span></a>
    </div>
</div>

<div class="filtro mt-1">

    <form id="form_filter" method="post" enctype="multipart/form-data" autocomplete="off">
        {% csrf_token %}
        <div class="row"><div class="col">

            <div style="width:16em;display:inline-block;">
                {% bootstrap_field form.estacion show_label=False %}
            </div>
            <div style="width:16em;display:inline-block;">
                {% bootstrap_field form.variable show_label=False %}
            </div>
            <div style="max-width:16em;display:inline-block;">
                {% bootstrap_field form.inicio   show_label=False %}
            </div>
            <div style="max-width:16em;display:inline-block;">
                 {% bootstrap_field form.fin     show_label=False %}
            </div>
            <div style="max-width:16em;display:inline-block;">
                <button id="btn_periodos_validacion" type="sumit" class="btn btn-info">Consultar</button>
                <button id="btn_tabla_validacion" type="submit" class="btn btn-primary">Validar</button>
            </div>

        </div></div>

        <div class="row"><div class="col">
        {% bootstrap_form_errors form %}
        </div></div>


            </form>
        </div>
    </div>



</div>



<div id="mensaje_overlay" class="popup-overlay"  >
    <br><br><br>
    <center><div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div></center>
    <div id="mensaje_content" class="popup-content">
        <a id="clover" class="close" href="#/">Cerrar</a>
        <h2><div id="mensaje_texto"></div></h2>
     </div>
</div>


<br>
<div id="div_informacion" >
</div>

<div id="div_edit" title="Modificar Información">
</div>

<div id="div_delete" title="Eliminar Información">
</div>

<div id="div_loading" class="row" style="display:none;">
    <div class="col mt-5 mb-5 d-flex justify-content-center">
        <div class="spinner-border" role="status"><span class="sr-only">Loading...</span></div>
    </div>
</div>


<div id="div_error" class="row" style="display:none;">
    <div class="col d-flex justify-content-center">
        <div class="alert alert-danger alert-dismissible" role="alert">
        Ocurrio un problema con el procesamiento de la información, por favor intentelo nuevamente
        </div>
    </div>
</div>
{% endblock %}
