*
!djangomain
!formatting
!importing
!management
!measurement
!sensor
!static
!station
!templates
!utilities
!validated
!variable
!LICENSE
!manage.py
!requirements.txt
!requirements-dev.txt
!README.md
!data
