certifi==2018.1.18
chardet==3.0.4
daemon==1.1
decorator==4.2.1
Django==2.1.1
django-bootstrap4==0.0.7
django-extensions==1.9.9
docutils==0.14
enum34==1.1.6
et-xmlfile==1.0.1
fortnum==0.0.9
idna==2.6
ipython-genutils==0.2.0
jdcal==1.4
jsonschema==2.6.0
jupyter-core==4.4.0
lockfile==0.12.2
nbformat==4.4.0
openpyxl==2.5.8
openpyxl-templates==0.1.24
openpyxl-utilities==0.5
Pillow==5.2.0
plotly==2.3.0
psycopg2==2.7.3.2
pyexcel-openpyxlx==0.1.0.1
python-daemon==2.1.2
pytz==2017.3
requests==2.18.4
ruamel.yaml==0.15.71
six==1.11.0
traitlets==4.3.2
typing==3.6.4
urllib3==1.22
