asgiref
Django
django-bootstrap4
django-crispy-forms
django-excel-response
django-extensions
django-filter
django-timescaledb
djangorestframework
djangorestframework-simplejwt
drf-yasg
idna
jdcal
numpy
pandas
psycopg2
pytz
PyYAML
uritemplate
crispy-bootstrap4
django-plotly-dash
dash-ag-grid
django-guardian