{% extends "template_detail.html" %}

{% block titulo %}Sitio{% endblock %}

{% block table_rows %}
<tr><th>Nombre</th><td>{{sitio.nombre}}</td></tr>
<tr><th>Fotografía/Mapa</th><td>{{sitio.imagen}}</td></tr>
{% endblock %}

{% block url_change %}
{% if perms.estacion.change_sitio %}{% url 'estacion:sitio_update' sitio.id %}{% endif %}
{% endblock %}

{% block url_delete %}
{% if perms.estacion.delete_sitio %}{% url 'estacion:sitio_delete' sitio.id%}{% endif %}
{% endblock %}

{% block url_back %}{% url 'estacion:sitio_index' %}{% endblock %}
