{% extends "template_detail.html" %}

{% block titulo %}Datalogger{% endblock %}

{% block table_rows %}
<tr><th>Codigo</th><td>{{datalogger.dat_codigo|default_if_none:""}}</td></tr>
<tr><th>Marca</th><td>{{datalogger.mar_id|default_if_none:""}}</td></tr>
<tr><th>Modelo</th><td>{{datalogger.dat_modelo|default_if_none:""}}</td></tr>
<tr><th>Serial</th><td>{{datalogger.dat_serial|default_if_none:""}}</td></tr>
<tr><th>Estado</th><td>{% if datalogger.dat_estado %}Activo{% else %}Inactivo{% endif %}</td></tr>
{% endblock %}

{% block url_change %}{% if perms.datalogger.change_datalogger %}{% url 'datalogger:datalogger_update' datalogger.dat_id %}{% endif %}{% endblock %}

{% block url_delete %}{% if perms.datalogger.delete_datalogger %}{% url 'datalogger:datalogger_delete' datalogger.dat_id %}{% endif %}{% endblock %}

{% block url_back %}{% url 'datalogger:datalogger_index' %}{% endblock %}

