{% extends "template_list.html" %}

{% block javascript %}

    {{ block.super }}
    <script>

    var btns = '';
    var table;


    {% if perms.sensor.view_sensor %}
    btns = btns + window.btn_detalle_html("{% url 'sensor:sensor_detail' 0 %}");
    {% endif %}

    {% if perms.sensor.change_sensor %}
    btns = btns + "&nbsp;" + window.btn_editar_html("{% url 'sensor:sensor_update' 0 %}");
    {% endif %}

    {% if perms.sensor.delete_sensor %}
    btns = btns + "&nbsp;" + window.btn_eliminar_html("{% url 'sensor:sensor_delete' 0 %}");
    {% endif %}


    $(document).ready(function() {

        table = $('#table_sensor').DataTable({
            language: window.DATATABLES_LANGUAGE,
            scrollX: true,
            "dom": '<"top"f>rt<"bottom"p><"clear">',
            fixedColumns: { leftColumns: 2,},
            columnDefs: [
                { "targets": 0, "visible" : false, "searchable": false },
                { "targets": 1, "defaultOrder": true,},
                { "targets": 6, "searchable": true,
                   "render" : function(data, type, row){ if (row[6]==="True") {return "Activo";} else { return "Inactivo";} }
                },
                { "targets": 7, "render" : function(data, type, row){ return btns;}  },
            ],
        });


        // Asociar búsqueda con caja de selección
        table.columns(2).every( function(){
            var column = this;
            var select = $('#filtro_tipo').on( 'change', function () {
                var val = $.fn.dataTable.util.escapeRegex(
                    $(this).val()
                );

                column
                    .search( val ? '^'+val+'$' : '', true, false )
                    .draw();
            } );
            column.data().unique().sort().each( function ( d, j ) {
                select.append( '<option value="'+d+'">'+d+'</option>' )
            } );
        } );


        // Asociar búsqueda con caja de selección
        table.columns(3).every( function(){
            var column = this;
            var select = $('#filtro_marca').on( 'change', function () {
                var val = $.fn.dataTable.util.escapeRegex(
                    $(this).val()
                );

                column
                    .search( val ? '^'+val+'$' : '', true, false )
                    .draw();
            } );
            column.data().unique().sort().each( function ( d, j ) {
                select.append( '<option value="'+d+'">'+d+'</option>' )
            } );
        } );

        $('#div_loading').hide();
        $('#div_informacion').show();
        table.columns.adjust().draw();

    });

    </script>
{% endblock %}


{% block titulo %}Sensor{% endblock %}

{% block cen %}

    <div class="d-inline-block">
        <label class="sr-only" >Filtrar por tipo</label>
        <select id="filtro_tipo" class="form-control use-placeholder" style="width:auto;">
            <option value="">---------</option>
        </select>
    </div>
    
    <div class="d-inline-block">
        <label class="sr-only" >Filtrar por marca</label>
        <select id="filtro_marca" class="form-control use-placeholder" style="width:auto;">
            <option value="">---------</option>
        </select>
    </div>

{% endblock %}

{% block href_nuevo %}
        {% if perms.sensor.add_sensor %}{% url 'sensor:sensor_create' %}{% endif %}
{% endblock %}

{% block href_exportar %}
        {% if perms.sensor.view_sensor %}{% url 'sensor:sensor_export' %}{% endif %}
{% endblock %}


{% block div_informacion_content %}
    <style>
    tr>:nth-child(1) {min-width: 4em; max-width: 6em;}
    tr>:nth-child(2) {min-width: 6em; max-width: 10em;}
    tr>:nth-child(3) {min-width: 6em; max-width: 10em;}
    tr>:nth-child(4) {min-width: 6em; max-width: 10em;}
    tr>:nth-child(5) {min-width: 6em; max-width: 12em;}
    tr>:nth-child(6) {min-width: 4em; max-width: 6em;}
    </style>
    <table id="table_sensor" class="table table-hover table-sm overflowtooltip" >
        <thead>
        <tr>
            <th>Id</th>
            <th>Código</th>
            <th>Tipo</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Serial</th>
            <th>Estado</th>
            <th>Acción</th>
        </tr>
        </thead>

        <tbody>{{ sensores|safe }}</tbody>
    </table>
{% endblock %}
