{% if rad %}
<div>
    <table style="font-size: 12px" class="table table-sm transp-blanco">
        <thead>
        <tr>
            <th align="center" colspan='17' style="text-align: center">Radiación Solar - Valores mínimos, mínimos medios
                horarios
            </th>
        </tr>
        <tr>
            <th align="center" colspan='17' style="text-align: center">Radiación Máxima Horaria W/m<sup>2</sup></th>
        </tr>
        <tr>
            <th>Mes/Hora</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
            <th>16</th>
            <th>17</th>
            <th>18</th>
            <th>Máx</th>
            <th>Hora</th>
        </tr>
        </thead>
        <tbody>
        {% for item in 7_matriz.rad_max %}
        <tr>
            <td>{{ item.rad_mes }}</td>
            <td>{{ item.rad_5|floatformat:2 }}</td>
            <td>{{ item.rad_6|floatformat:2 }}</td>
            <td>{{ item.rad_7|floatformat:2 }}</td>
            <td>{{ item.rad_8|floatformat:2 }}</td>
            <td>{{ item.rad_9|floatformat:2 }}</td>
            <td>{{ item.rad_10|floatformat:2 }}</td>
            <td>{{ item.rad_11|floatformat:2 }}</td>
            <td>{{ item.rad_12|floatformat:2 }}</td>
            <td>{{ item.rad_13|floatformat:2 }}</td>
            <td>{{ item.rad_14|floatformat:2 }}</td>
            <td>{{ item.rad_15|floatformat:2 }}</td>
            <td>{{ item.rad_16|floatformat:2 }}</td>
            <td>{{ item.rad_17|floatformat:2 }}</td>
            <td>{{ item.rad_18|floatformat:2 }}</td>
            <td>{{ item.rad_max|floatformat:2 }}</td>
            <td>{{ item.rad_hora }}</td>
        </tr>
        {% endfor%}
        </tbody>
        <thead>
        <tr>
            <th colspan='17'>Radiación Mínima Horaria W/m<sup>2</sup></th>
        </tr>
        <tr>
            <th>Mes/Hora</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>
            <th>13</th>
            <th>14</th>
            <th>15</th>
            <th>16</th>
            <th>17</th>
            <th>18</th>
            <th>Min</th>
            <th>Hora</th>
        </tr>
        </thead>
        <tbody>
        {% for item in 7_matriz.rad_min %}

        <tr>
            <td>{{ item.rad_mes }}</td>
            <td>{{ item.rad_5|floatformat:2 }}</td>
            <td>{{ item.rad_6|floatformat:2 }}</td>
            <td>{{ item.rad_7|floatformat:2 }}</td>
            <td>{{ item.rad_8|floatformat:2 }}</td>
            <td>{{ item.rad_9|floatformat:2 }}</td>
            <td>{{ item.rad_10|floatformat:2 }}</td>
            <td>{{ item.rad_11|floatformat:2 }}</td>
            <td>{{ item.rad_12|floatformat:2 }}</td>
            <td>{{ item.rad_13|floatformat:2 }}</td>
            <td>{{ item.rad_14|floatformat:2 }}</td>
            <td>{{ item.rad_15|floatformat:2 }}</td>
            <td>{{ item.rad_16|floatformat:2 }}</td>
            <td>{{ item.rad_17|floatformat:2 }}</td>
            <td>{{ item.rad_18|floatformat:2 }}</td>
            <td>{{ item.rad_max|floatformat:2 }}</td>
            <td>{{ item.rad_hora }}</td>

        </tr>

        {% endfor%}

        </tbody>
    </table>
    <table style="font-size: 12px" class="table table-sm transp-blanco">

        <thead>
        <tr>
            <th align="center" colspan='6'>Radiación Solar - Valores mínimos, mínimos medios
                horarios
            </th>
        </tr>
        <tr>
            <th rowspan='2'>Mes</th>
            <th colspan='5'>Radiación Solar ()</th>
        </tr>
        <tr>
            <th>Máx</th>
            <th>Día</th>
            <th>Mín</th>
            <th>Día</th>
            <th>Media</th>
        </tr>
        </thead>
        <tbody>
        <!-- "año", "mes", "vmes", "max", "min", "max_abs", "dmax_abs", "min_abs", "dmin_abs" -->

        {% for h in hai %}

        <tr>
            <td>{{ h.mes }}</td>
            <td>{{ h.max_p|floatformat:2 }}</td>
            <td>{{ h.dmax_p|floatformat:0 }}</td>
            <td>{{ h.min_p|floatformat:2 }}</td>
            <td>{{ h.dmin_p|floatformat:0 }}</td>
            <td>{{ h.vmes|floatformat:2 }}</td>
        </tr>

        {% endfor%}

        </tbody>
    </table>
</div>
{% endif %}

<!-- NO HAY GRAFICO PARA RADIACION
<div class="col">
  {% if 7_grafico %}
  <div >
    {{ 4_grafico|safe }}
  </div>
  {% endif %}
</div>
-->
