{% extends "base.html" %}
{% block content %}
{% load bootstrap4 %}

<script>
    function consultar_profundidades(){
        $("#id_profundidad").prop( "disabled", true );
        $("#id_profundidad").find('option').remove().end()
        $("#id_profundidad").append('<option value selected>---------</option>');

        $.ajax({

            url: "{% url 'validacion:profundidades' %}",
            data: {
                'estacion_id': $("#id_estacion").val(),
                'variable_id': $("#id_variable").val()
            },
            dataType: 'json',
            beforeSend: function () {
                activar_espera();
                $("#div_error").hide();
            },
            success: function (data) {
                $.each(data, function(index, value) {
                    $("#id_profundidad").append('<option value="' + index + '">' + value + '</option>');
                });
                $("#id_profundidad").prop( "disabled", false );
                desactivar_espera();
                $("#div_error").hide();
            },
            error: function () {
                $("#div_informacion").hide();
                $("#div_loading").hide();
                $("#div_error").show();
            }
        });

    }

    function solicitar_borrado(){
        data = $('#form_borrar_validados').serialize();
        $('#id_estacion').prop('disabled', true);
        $('#id_variable').prop('disabled', true);
        $('#id_profundidad').prop('disabled', true);
        $('#id_inicio').prop('disabled', true);
        $('#id_fin').prop('disabled', true);
        $('#id_enviar').prop('disabled', true);
        $.ajax({
            url : "{% url 'validacion:calidad_borrar_datos' %}",
            type : "POST",
            data : data,
            success : function(json) {
                if ( json.crudos > 0 || json.validados > 0 || json.horarios > 0 || json.diarios > 0 || json.mensuales > 0){
                    $('.div-alerta').children().addClass('alert-success');
                    $('.mensaje').html(
                        'Crudos: ' + json.crudos + ' datos borrados.<br>' +
                        'Validados: ' + json.validados + ' datos borrados.<br>' +
                        'Horarios: ' + json.horarios + ' datos borrados.<br>' +
                        'Diarios: ' + json.diarios + ' datos borrados.<br>' +
                        'Mensuales: ' + json.mensuales + ' datos borrados.<br>'
                        );
                    $('.div-alerta').show();
                }else{
                    $('.div-alerta').children().addClass('alert-success');
                    $('.mensaje').html('No hubo datos que eliminar.');
                    $('.div-alerta').show();
                }

            },
            error : function(xhr,errmsg,err) {
                $('.div-alerta').children().addClass('alert-danger');
                $('.mensaje').html('ERROR!: Vuelva a intentarlo');
                $('.div-alerta').show();
            }
        });
    }

    function activar_espera(){
        $("#div_loading").show();
        $("#div_informacion").hide();
    }


    function desactivar_espera(){
        $("#div_loading").hide();
        $("#div_informacion").show();
    }


    $(document).ready(function() {
        $("#id_variable").change(function () {
            consultar_profundidades();
        });

        $("#id_estacion").change(function () {
            consultar_profundidades();
        });

        $('#form_borrar_validados').on('submit', function(event){
            event.preventDefault();
            solicitar_borrado();
        });
    });
</script>

<div class="col-lg-8 transp-blanco">

    <div class="row">
        <div class="col">
            <h5>Borrar datos</h5>
        </div>
    </div>


        <form method="post" id="form_borrar_validados">
            {% csrf_token %}
            <div class="row">
                <div class="col">{% bootstrap_field form.tipo %}</div>
            </div>
            <div class="row">
                <div class="col-lg-5">{% bootstrap_field form.estacion %}</div>
                <div class="col-lg-4">{% bootstrap_field form.variable %}</div>
                <div class="col-lg-3">{% bootstrap_field form.profundidad %}</div>
            </div>
            <div class="row">
                <div class="col-lg-6">{% bootstrap_field form.inicio %}</div>
                <div class="col-lg-6">{% bootstrap_field form.fin %}</div>
            </div>
            <div class="row">
                <div class="col">
                    <input class="btn btn-danger" type="submit" value="Borrar" id="id_enviar">
                    <a class="btn btn-info" href="{% url 'validacion:calidad_borrar_datos' %}">Limpiar</a>
                </div>
            </div>

        </form>

        <div class="div-alerta" style="display: none;">
            <div class="alert alert-dismissable">
                <div class="mensaje"></div>
            </div>
        </div>

</div>



{% endblock %}
