{% extends "index.html" %}
{% block content %}
{% load bootstrap4 %}
{% load humanize %}
{% load static %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src="{% static 'js_ajax.js' %}"></script>
<script src="{% static 'validacion_diaria.js' %}"></script>

<style type="text/css">
    .fa-search::before{
        box-sizing: revert;

    }
</style>

<!-- div titulo-->
<div class="row">
    <div class="col-lg-10 col-sm-10">
        <h3>Validación Datos Crudos por Frecuencia Diaria</h3>
    </div>
</div>



<div class="row">
    <!-- div formulario-->
    <div class="col-lg-4 col-md-6 col-sm-12">

        <form id="form_validacion" class="form" method="post" action="{% url 'validacion:diaria' %}">
            <div class="row">
                {% csrf_token %}
                {% for field in form%}
                {% bootstrap_field field form_group_class='col-lg-12 col-md-12' %}
                {% endfor %}
                <div class="form-group col-lg-12 col-md-12 mt-4">

                    <button id="btn_buscar" type="button" class="btn btn-default btn-primary">Validar</button>
                    <a id="id_limpiar" class="btn btn-default" href="{% url 'validacion:diaria' %}"><span>Limpiar</span></a>
                </div>
            </div>
        </form>


    </div><!-- end div formulario-->
    <!-- div historial validacion-->
    <div class="col-lg-8 col-md-6 col-sm-12">

        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-8 col-md-6 col-sm-12">
                        <h5 class="card-title">Historial de Validación</h5>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                        <button id="btn_periodos_validacion" type="button" class="btn btn-outline-info" data-toggle="tooltip" data-placement="bottom" title="Revisa el Historial de Validacion">
                            Revisar
                        </button>
                    </div>
                </div>




                <div id="div_loading_historial" style="display:none;">
                    <div class="d-flex align-items-center">
                        <strong>Loading...</strong>
                        <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                    </div>
                </div>

                <div id="div_historial" class="row mt-4">

                </div>

                <div id="div_error_historial" class="row mt-4" style="display:none;">
                    <div class="alert alert-danger alert-dismissible" role="alert">
                        Ocurrio un problema con el procesamiento de la información, por favor intentelo nuevamente
                    </div>
                </div>

            </div>
        </div>



    </div><!-- end div historial validacion-->

</div>

<div class="row">
        <div class="col-12">
            <div id='div_grafico' style="height:400px;"><!-- Plotly chart will be drawn inside this DIV --></div>
        </div>
    </div>

<div id="div_informacion">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table id="tabla_diario" style="font-size: 12px" class="table table-scroll table-bordered">
                    <thead>
                    <tr>
                    </tr>

                    </thead>
                    <tbody>
                    <tr>
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>



</div><!--end div informacion-->





<div id="div_loading" class="row" style="display:none;">
    <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <img src="/media/loading6.gif"/>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
</div>



<div id="div_error" class="row" style="display:none;">
    <div class="alert alert-danger alert-dismissible" role="alert">
        Ocurrio un problema con el procesamiento de la información, por favor intentelo nuevamente
    </div>
</div>


<div id="div_lista_datos">
</div>

<div id="div_loading_datos" class="row" style="display:none;">
    <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <img src="/media/loading6.gif"/>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
</div>

<div id="div_error_datos" class="row" style="display:none;">
    <div class="alert alert-danger alert-dismissible" role="alert">
        Ocurrio un problema con el procesamiento de la información, por favor intentelo nuevamente
    </div>
</div>

{% endblock %}
