{% extends "index.html" %}
{% block content %}
{% load bootstrap4 %}

<!-- bootstrap-table-->
<link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<!-- bootstrap-table export-->
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/export/bootstrap-table-export.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<!-- bootstrap-table filter-->
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<!-- jquery-ui-->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<div class="row">
    <div class="col-lg-9">
        <h4>Búsqueda de Estaciones</h4>
    </div>
    <div class="col-lg-3">
        <a style="float:right" class="btn btn-info"
           href="{% url 'estacion:estacion_create' %}">
            Nueva Estación</a>
    </div>
</div>

<div style="height:420px" >
    <div id="toolbar" class="select">
        <select class="form-control">
            <option value="">Export Basic</option>
            <option value="all">Export All</option>
            <option value="selected">Export Selected</option>
        </select>
    </div>
    <table id="table"
           data-show-export="true"
           data-pagination="true"
           data-show-pagination-switch="true"
           data-filter-control="true"
           data-click-to-select="true"
           data-toolbar="#toolbar"
           data-show-toggle="true"
           data-show-columns="true"

           data-url="{% url 'estacion:json' %}" class="table table-striped table-bordered table-sm">

        <thead>
            <tr>
                <th data-field="state"></th>
                <th data-field="est_codigo" data-filter-control="input" data-sortable="true" >Código</th>
                <th data-field="est_nombre" data-filter-control="input" data-sortable="true">Nombre</th>
                <th data-field="tipo" data-filter-control="select" data-sortable="true">Tipo</th>
                <th data-field="provincia" data-filter-control="select" data-sortable="true">Provincia</th>
                <th data-field="administrador" data-filter-control="select" data-sortable="true">Administrador</th>
                <th data-field="accion" data-sortable="true">Acción</th>
            </tr>
        </thead>
    </table>
</div>




<script>
    var $table = $('#table');

    $(function() {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('destroy').bootstrapTable({
                exportDataType: $(this).val(),
                exportTypes: ['json', 'xml', 'csv', 'txt', 'sql', 'excel', 'pdf'],
                columns: [
                    {
                        field: 'state',
                        checkbox: true,
                        visible: $(this).val() === 'selected'
                    },

                    {
                        field: 'est_codigo',
                        title: 'Código'
                    },
                    {
                        field: 'est_nombre',
                        title: 'Nombre'
                    },
                    {
                        field: 'tipo',
                        title: 'Tipo'
                    },
                    {
                        field: 'provincia',
                        title: 'Provincia'
                    },
                    {
                        field: 'administrador',
                        title: 'Administrador'
                    },
                    {
                        field: 'accion',
                        title: 'Acción'
                    }

                ]
            })
        }).trigger('change')
    })
</script>


{% endblock %}