{% extends "template_list.html" %}

{% block javascript %}

    {{ block.super }}
    <script>

    var btns = '';
    var table;


    {% if perms.estacion.view_estacion %}
    btns = btns + window.btn_detalle_html("{% url 'estacion:estacion_detail' 0 %}");
    {% endif %}

    {% if perms.estacion.change_estacion %}
    btns = btns + "&nbsp;" + window.btn_editar_html("{% url 'estacion:estacion_update' 0 %}");
    {% endif %}

    {% if perms.estacion.delete_estacion %}
    btns = btns + "&nbsp;" + window.btn_eliminar_html("{% url 'estacion:estacion_delete' 0 %}");
    {% endif %}


    $(document).ready(function() {

        table = $('#table_estacion').DataTable({
            language: window.DATATABLES_LANGUAGE,
            scrollX: true,
            "dom": '<"top"f>rt<"bottom"p><"clear">',
            fixedColumns: { leftColumns: 2,},
            columnDefs: [
                { "targets": 0, "visible" : false, "searchable": false },
                { "targets": 1, "defaultOrder": true,},
                { "targets": 10, "searchable": true,
                   "render" : function(data, type, row){ if (row[7]) {return "Activa";} else { return "Inactiva";} }
                },
                { "targets": 14, visible : false, searchable: false },
                { "targets": 15,
                   "render" : function(data, type, row){ if (row[12]) {return "Externa";} else { return "Interna";}}
                },
                { "targets": 16, "render" : function(data, type, row){ return btns;}  },
            ],
        });


        // Asociar búsqueda con caja de selección
        table.columns(3).every( function(){
            var column = this;
            var select = $('#filtro_tipo').on( 'change', function () {
                var val = $.fn.dataTable.util.escapeRegex(
                    $(this).val()
                );

                column
                    .search( val ? '^'+val+'$' : '', true, false )
                    .draw();
            } );


        } );


        $('#div_loading').hide();
        $('#div_informacion').show();

        table.columns.adjust().draw();
    });

    </script>
{% endblock %}


{% block titulo %}Estación{% endblock %}

{% block cen %}
    <label class="sr-only" >Filtrar por tipo de estación</label>
    <select id="filtro_tipo" class="form-control use-placeholder" style="width:auto;">
        <option value=""></option>
        {% for item in tipos_estacion %}
        <option value="{{ item.nombre }}">{{ item.nombre }}</option>
        {% endfor %}
    </select>
{% endblock %}

{% block href_nuevo %}
        {% if perms.estacion.add_estacion %}{% url 'estacion:estacion_create' %}{% endif %}
{% endblock %}


{% block href_exportar %}
    {% if perms.estacion.view_estacion %}{% url 'estacion:estacion_export' %}{% endif %}
{% endblock %}



{% block div_informacion_content %}
    <style>
    #tr>:nth-child(1) {max-width: 6em;}
    #tr>:nth-child(2) {max-width: 12em;}
    #tr>:nth-child(3) {max-width: 5em;}
    #tr>:nth-child(4) {max-width: 5em;}
    #tr>:nth-child(5) {max-width: 12em;}
    #tr>:nth-child(6) {max-width: 7em;}
    #tr>:nth-child(7) {max-width: 6em;}
    #tr>:nth-child(8) {max-width: 6em;}
    #tr>:nth-child(9) {max-width: 6em;}
    #tr>:nth-child(10) {max-width: 4em;}
    #tr>:nth-child(11) {max-width: 5em;}
    #tr>:nth-child(12) {max-width: 4em;}

    </style>
    <table id="table_estacion" class="table table-hover table-sm overflowtooltip" >
        <thead>
        <tr>
            <th>Id</th>
            <th>Código</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>País</th>
            <th>Reg./Prov./Depto.</th>
            <th>Sitio</th>
            <th>Cuenca</th>
            <th>Ecosistema</th>
            <th>Socio</th>
            <th>Estado</th>
            <th>Latitud</th>
            <th>Longitud</th>
            <th>Altura</th>
            <th>Fotografía/Archivo</th>
            <th>Interna/Externa</th>
            <th>Acción</th>
        </tr>
        </thead>

        <tbody>{{ estaciones|safe }}</tbody>
    </table>


{% endblock %}
