{% extends "index.html" %}
{% block content %}
{% load bootstrap4 %}
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h1>
            <small>Borrar estación</small>
        </h1>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Código</th>
                <td>{{estacion.est_codigo}}</td>
                <th>Y UTM</th>
                <td>{{estacion.est_latitud}}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{estacion.est_nombre}}</td>
                <th>X UTM</th>
                <td>{{estacion.est_longitud}}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{estacion.tipo}}</td>
                <th>Altura</th>
                <td>{{estacion.est_altura}}</td>
            </tr>
            <tr>
                <th>Provincia</th>
                <td>{{estacion.provincia}}</td>
                <th>Fecha de inicio de Operaciones</th>
                <td>{{estacion.est_fecha_inicio}}</td>
            </tr>
            <tr>
                <th>Estado</th>
                {% if estacion.est_estado %}
                <td>Operativa</td>
                {% else %}
                <td>No operativa</td>
                {% endif %}
                <th>Fichas</th>
                <td><a target="_blank" href="{{ estacion.est_ficha.url }}">Descargar</a></td>
            </tr>

        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <form method="post" class="form">
            {% csrf_token %}
            <input type="submit" class="btn btn-warning" value="Confirmar"/>
            <a class="btn btn-light" href="{% url 'estacion:estacion_index' %}">Cancelar</a>
        </form>
    </div>
</div>


{% endblock %}
