{% extends "index.html" %}

{% block content %}

{% load bootstrap4 %}

<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <h1>
            <small>Detalle de estación</small>
        </h1>
        <table class="table table-striped table-bordered">
            <tr>
                <th>Código</th>
                <td>{{estacion.est_codigo}}</td>
                <th>Y UTM</th>
                <td>{{estacion.est_latitud}}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{estacion.est_nombre}}</td>
                <th>X UTM</th>
                <td>{{estacion.est_longitud}}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{estacion.tipo}}</td>
                <th>Altura</th>
                <td>{{estacion.est_altura}}</td>
            </tr>
            <tr>
                <th>Provincia</th>
                <td>{{estacion.provincia}}</td>
                <th>Fecha de inicio de Operaciones</th>
                <td>{{estacion.est_fecha_inicio}}</td>
            </tr>
            <tr>
                <th>Estado</th>
                {% if estacion.est_estado %}
                <td>Activo</td>
                {% else %}
                <td>Inactivo</td>
                {% endif %}
                <th>Fichas</th>
                <td><a target="_blank" href="{{ estacion.est_ficha.url }}">Descargar</a></td>
            </tr>

        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-8">
        <a class="btn btn-primary" href="{% url 'estacion:estacion_update' estacion.est_id %}">Modificar</a>
        <a class="btn btn-warning" href="{% url 'estacion:estacion_delete' estacion.est_id%}">Borrar</a>
        <a class="btn btn-light" href="{% url 'estacion:estacion_index' %}">Regresar</a>
    </div>
</div>

{% endblock %}
