{% extends "template_list.html" %}

{% block javascript %}

    {{ block.super }}

    <script>

    var btns = '';
    var table;

    {% if perms.estacion.view_region %}
    btns = btns + window.btn_detalle_html("{% url 'estacion:region_detail' 0 %}");
    {% endif %}

    {% if perms.estacion.change_region %}
    btns = btns + "&nbsp;" + window.btn_editar_html("{% url 'estacion:region_update' 0 %}");
    {% endif %}

    {% if perms.estacion.delete_region %}
    btns = btns + "&nbsp;" + window.btn_eliminar_html("{% url 'estacion:region_delete' 0 %}");
    {% endif %}


    $(document).ready(function() {

        table = $('#table_region').DataTable({
            language: window.DATATABLES_LANGUAGE,
            scrollX: true,
            "dom": '<"top"f>rt<"bottom"p><"clear">',
            fixedColumns: { leftColumns: 2,},
            columnDefs: [
                { "targets": 0, "visible" : false, "searchable": false },
                { "targets": 1, "defaultOrder": true, "searchable": true,},
                { "targets": 3, "render" : function(data, type, row){ return btns;}  },
            ],
        });


        $('#div_loading').hide();
        $('#div_informacion').show();
        table.columns.adjust().draw();

    });

    </script>

{% endblock %}


{% block titulo %}Región/Provincia/Departamento{% endblock %}


{% block href_nuevo %}
    {% if perms.estacion.add_region %}{% url 'estacion:region_create' %}{% endif %}
{% endblock %}


{% block div_informacion_content %}
    <style>
    tr>:nth-child(1) {min-width:  14em; max-width: 20em;}
    </style>

    <table id="table_region" class="table table-hover table-sm overflowtooltip" >
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>País</th>
            <th>Acción</th>
        </tr>
        </thead>

        <tbody>{{ regiones|safe }}</tbody>
    </table>
{% endblock %}
