{% extends "template_detail.html" %}

{% block titulo %}Sistema{% endblock %}

{% block table_rows %}
<tr><th>Nombre</th><td>{{sistema.nombre}}</td></tr>
<tr><th>Imagen</th><td>{{sistema.imagen}}</td></tr>
{% endblock %}

{% block url_change %}
{% if perms.estacion.change_sistema %}{% url 'estacion:sistema_update' sistema.id %}{% endif %}
{% endblock %}

{% block url_delete %}
{% if perms.estacion.delete_sistema %}{% url 'estacion:sistema_delete' sistema.id%}{% endif %}
{% endblock %}

{% block url_back %}{% url 'estacion:sistema_index' %}{% endblock %}
