{% extends "template_list.html" %}

{% block javascript %}

    {{ block.super }}

    <script>

    var btns = '';
    var table;

    {% if perms.estacion.view_sitio %}
    btns = btns + window.btn_detalle_html("{% url 'estacion:sitio_detail' 0 %}");
    {% endif %}


    {% if perms.estacion.change_sitio %}
    btns = btns + "&nbsp;" + window.btn_editar_html("{% url 'estacion:sitio_update' 0 %}");
    {% endif %}


    {% if perms.estacion.delete_sitio %}
    btns = btns + "&nbsp;" + window.btn_eliminar_html("{% url 'estacion:sitio_delete' 0 %}");
    {% endif %}



    $(document).ready(function() {

        table = $('#table_sitio').DataTable({
            language: window.DATATABLES_LANGUAGE,
            scrollX: true,
            "dom": '<"top"f>rt<"bottom"p><"clear">',
            fixedColumns: { leftColumns: 2,},
            columnDefs: [
                { "targets": 0, "visible" : false, "searchable": false },
                { "targets": 1, "defaultOrder": true, "searchable": true,},
                { "targets": 2, "render" : function(data, type, row){ return btns;}  },
            ],
        });


        $('#div_loading').hide();
        $('#div_informacion').show();
        table.columns.adjust().draw();

    });

    </script>

{% endblock %}


{% block titulo %}Sitio{% endblock %}


{% block href_nuevo %}
    {% if perms.estacion.add_sitio %}{% url 'estacion:sitio_create' %}{% endif %}
{% endblock %}


{% block div_informacion_content %}
    <style>
    tr>:nth-child(1) {min-width:  14em; max-width: 20em;}
    </style>
    <table id="table_sitio" class="table table-hover table-sm overflowtooltip" >
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Acción</th>
        </tr>
        </thead>

        <tbody>{{ sitios|safe }}</tbody>
    </table>
{% endblock %}
