{% extends base_template %}
{% block content %}
{% load bootstrap4 %}
{% load humanize %}
{% load static %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{% static 'js_ajax.js' %}"></script>
<script>
$(document).ready(function() {

  // JQuery code to be added in here.
  var dateFormat = "dd/mm/yy";
  $( "#id_inicio" ).datepicker({
    changeMonth: true,
    changeYear: true,
    dateFormat:"dd/mm/yy"
  });
  $( "#id_inicio" ).on( "change", function() {
    $( "#id_fin" ).datepicker( "option", "minDate", getDate( this ) );
  });
  $( "#id_fin" ).datepicker({
    changeMonth: true,
    changeYear: true,
    dateFormat:"dd/mm/yy"
  });
  $( "#id_fin" ).on( "change", function() {
    $( "#id_inicio" ).datepicker( "option", "maxDate", getDate( this ) );
  });



  function getDate( element ) {
    var date;
    try {
      date = $.datepicker.parseDate( dateFormat, element.value );
    } catch( error ) {
      date = null;
    }

    return date;
  }

  $("#id_estacion").change(function () {
    var estacion = $(this).val();
    $("#id_variable").find('option').remove().end()
    $.ajax({
      url: '/anuarios/variables',
      data: {
        'estacion': estacion
      },
      dataType: 'json',
      success: function (data) {
        //datos=JSON.parse(data)
        $.each(data, function(index, value) {
          $("#id_variable").append('<option value="' + index + '">' + value + '</option>');
        });
      }
    });
  });

});

</script>
<div class="row">
    <div class="col-lg-10 col-sm-10">
        <h3>Consultas por periodo</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="text-info"><strong>Información: </strong>Esta consulta le permite obtener información de una variable asociada a una estación en un periodo de fechas determinado.</p>
    </div>
</div>

<form id="form_busqueda" class="form" method="post">
    <div class="row">
        {% csrf_token %}
        {% for field in form%}
        {% bootstrap_field field form_group_class='col-lg-4 col-md-6' %}
        {% endfor %}
        <div class="form-group col-lg-4 col-md-6">
            <label>&nbsp;</label><br>
            <button id="btn_graficar" name="exportar" type="button" class="btn btn-primary">
                Visualizar
            </button>
            <button name="visualizar" type="submit" class="btn btn-primary">
                Exportar
            </button>
            <a class="btn btn-light" href="/reportes/consultas">Limpiar</a>
        </div>
    </div>
</form>


<div class="row">
    <div class="col-lg-12">
        <p class="text-info"><strong>Nota: </strong>
            Si no selecciona/ingresa la <strong>Fecha de Inicio</strong>, la consulta se hará desde la fecha de inicio de operación de las estación seleccionada.<br>
            Si no selecciona/ingresa la <strong>Fecha de Fin</strong>, la consulta se hará hasta la fecha actual.
        </p>
    </div>
</div>
<div id="div_informacion" >

</div>
<div id="div_loading" class="row" style="display:none;">
    <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <img src="/media/loading6.gif"/>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
</div>
<div id="div_error" class="row" style="display:none;">
    <div class="alert alert-danger alert-dismissible" role="alert">
        Ocurrio un problema con el procesamiento de la información, por favor intentelo nuevamente
    </div>
</div>
{% endblock %}
