{% extends "index.html" %}
{% block content %}
{% load bootstrap4 %}
{% load humanize %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(document).ready(function() {

  // JQuery code to be added in here.
  var dateFormat = "dd/mm/yy";
  $( "#id_inicio" ).datepicker({
    changeMonth: true,
    changeYear: true,
    dateFormat:"dd/mm/yy"
  });
  $( "#id_inicio" ).on( "change", function() {
    $( "#id_fin" ).datepicker( "option", "minDate", getDate( this ) );
  });
  $( "#id_fin" ).datepicker({
    changeMonth: true,
    changeYear: true,
    dateFormat:"dd/mm/yy"
  });
  $( "#id_fin" ).on( "change", function() {
    $( "#id_inicio" ).datepicker( "option", "maxDate", getDate( this ) );
  });



  function getDate( element ) {
    var date;
    try {
      date = $.datepicker.parseDate( dateFormat, element.value );
    } catch( error ) {
      date = null;
    }

    return date;
  }



});

</script>
<div class="row">
    <div class="col-lg-10 col-sm-10">
        <h3>Datos Crudos por Estación</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="text-info"><strong>Información: </strong>Esta consulta esta diseñada para obtener los datos crudos en un periodo de tiempo de todas las variables que tenga la estación.</p>
    </div>
</div>



<form class="form" method="post">
    <div class="row">
        {% csrf_token %}
        {% for field in form%}
        {% bootstrap_field field form_group_class='col-lg-6 col-md-6' %}
        {% endfor %}
        <div class="form-group col-lg-6 col-md-6">
            <label>&nbsp;</label><br>

            <button name="visualizar" type="submit" class="btn btn-primary">
                Exportar
            </button>
            <a class="btn btn-light" href="/reportes/estacionvariable">Limpiar</a>
        </div>
    </div>


</form>


<div class="row">
    <div class="col-lg-12">
        <p class="text-info"><strong>Nota: </strong> El reporte solo se puede exportar a aun archivo deformato CSV. Si el archivo resultante de la consulta esta vacio, se debe que no existe información almacenada para el periodo de tiempo consultado.</p>
    </div>
</div>

<br>
<div id="div_informacion" class="row">

</div>
<div id="div_loading" class="row" style="display:none;">
    <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <img src="/media/loading6.gif"/>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
</div>
<div id="div_error" class="row" style="display:none;">
    <div class="alert alert-danger alert-dismissible" role="alert">
        Ocurrio un problema con el procesamiento de la información, por favor intentelo nuevamente
    </div>
</div>
{% endblock %}
