{% extends base_template %}
{% block content %}
{% load bootstrap4 %}
{% load humanize %}
{% load static %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!--carga de leaflet-->
<script src="{% static 'leaflet/leaflet.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet.css' %}" />

<script src="{% static 'js_ajax.js' %}"></script>
<script src="{% static 'mapa_inamhi.js' %}"></script>




<div class="row">
    <div class="col-lg-10 col-sm-10">
        <h3>Información Estaciones INAMHI</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p class="text-info"><strong>Información: </strong>Esta consulta muestra la información de las estaciones del INAMHI. Todos los campos son obligatorios para realizar la consulta</p>
        <p class="text-warning"><strong>Aviso: </strong>El campo parametro depende de los campos estación y frecuencia</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <form id="form_busqueda" class="form" method="post" action="{% url 'reportes:reporte_inamhi' %}">
            <div class="row">
                {% csrf_token %}
                {% for field in form%}
                {% bootstrap_field field form_group_class='col-lg-12 col-md-12' %}
                {% endfor %}

                <div class="form-group col-lg-12 col-md-12 col-sm-12 mt-4">

                    <button id="btn_consultar" type="button" class="btn btn-primary">
                        Buscar
                    </button>
                    <button type="submit" class="btn btn-primary">
                        Exportar
                    </button>
                    <a class="btn btn-light"
                       href="{% url 'reportes:reporte_inamhi' %}">
                        Limpiar</a>
                </div>
            </div>
        </form>
    </div>
    <!--mapa-->
    <div class="col-lg-8 col-md-6 col-sm-12">
        <div id="mapid" style="height: 466px;"></div>
    </div>

</div>

<div id="div_informacion">

</div>

<div id="div_mensaje" class="alert alert-info" role="alert" style="display:none;">

</div>



<div id="div_loading" class="row" style="display:none;">
    <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
    <div class="col-lg-4 col-md-4 col-sm-4">
        <img src="/media/loading6.gif"/>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
</div>
<div id="div_error" class="row" style="display:none;">
    <div class="alert alert-danger alert-dismissible" role="alert">
        Ocurrio un problema con el procesamiento de la información, por favor intentelo nuevamente
    </div>
</div>



<div class="row">
    <!--<div class="col-lg-12">
        <p class="text-info"><strong>Nota: </strong>Los tiempos de respuesta y la información mostrada dependen del INAMHI</p>
    </div>-->

    <div class="p-3 mb-2 bg-white text-info"><strong>Nota: </strong>Los tiempos de respuesta y la información mostrada dependen del INAMHI</div>
</div>







{% endblock %}