{% extends "index_visor.html" %}
{% block content %}
{% load bootstrap4 %}
{% load humanize %}
{% load static %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!--carga de leaflet-->
<script src="{% static 'leaflet/leaflet.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet.css' %}" />

<script src="{% static 'js_ajax.js' %}"></script>
<script src="{% static 'visor.js' %}"></script>



<div class="row no-gutters mb-5">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <!--<div class="pb-md-4 ml-auto mr-0" style="width:500px; padding-top:20px;">
            <h1 style="color:#252C71;" >Sistema de Estandarización de</h1>
        </div>

        <div class="pb-md-4 ml-auto mr-0" style="width:450px;">
            <p class="lead">Nuestra intención es compartir la información generada por la red de monitoreo hidrometeorológico FONAG</p>

        </div>-->

        <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" style="max-width:700px">
            <h1 class="display-4 text-primary">SEDC</h1>
            <h4 class="text-secondary">Sistema de Estandarización de Datos Hidroclimáticos Crudos</h4>
        </div>

        <div class=" py-3 mx-auto text-center">

            <p class="lead">La red de monitoreo del FONAG te brinda información sobre el comportamiento de las variables climáticas e hidrológicas que permiten caracterizar la hidrología de los ecosistemas alto-andinos proveedores de agua</p>

        </div>

        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="text-center">
                    <img src="/media/ico_pre.png" width="64px" class="rounded" alt="...">
                    <p>Precipitación</p>
                </div>

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">

                <div class="text-center">
                    <img src="/media/ico_tai.png" width="64px" class="rounded" alt="...">
                    <p>Temperatura</p>
                </div>

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="text-center">
                    <img src="/media/ico_hai.png" width="64px" class="rounded" alt="...">
                    <p>Humedad</p>
                </div>

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="text-center">
                    <img src="/media/ico_vie.png" width="64px" class="rounded" alt="...">
                    <p>Viento</p>
                </div>

            </div>

        </div>



        <div class="row">

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="text-center">
                    <img src="/media/ico_pat.png" width="64px" class="rounded" alt="...">
                    <p>Presión Atmosférica</p>
                </div>

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">

                <div class="text-center">
                    <img src="/media/ico_rad.png" width="64px" class="rounded" alt="...">
                    <p>Radiación Solar</p>
                </div>

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="text-center">
                    <img src="/media/ico_nag.png" width="64px" class="rounded" alt="...">
                    <p>Nivel de Agua</p>
                </div>

            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="text-center">
                    <img src="/media/ico_cau.png" width="64px" class="rounded" alt="...">
                    <p>Caudal</p>
                </div>

            </div>

        </div>


    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div id="mapid" style="height: 670px;"></div>
    </div>
</div>




<div class="row py-5 mx-5">
    <div class="col-lg-3 col-md-4 col-sm-4 pt-5">
        <div class="mt-0">
            <h2 class="my-3 font-weight-normal">Anuario Hidroclimático</h2>
            <p class="lead my-4">Revisa nuestro resumen estadístico anual de las variables climáticas e hidrológicas</p>

            <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'reportes:anuario' %}" role="button">Revisar</a>
        </div>

    </div>
    <div class="col-lg-9 col-md-8 col-sm-8">
        <img src="/media/01anuario.png" class="img-fluid" alt="Responsive image">
    </div>
</div>

<div class="row py-5 mx-5">
    <div class="col-lg-3 col-md-4 col-sm-4 pt-5">
        <div class="mt-0">
            <h2 class="my-3 font-weight-normal">Consultas por periodo</h2>
            <p class="lead my-4">Revisa y descarga información climática e hidrológica para las frecuencias: horaria, diaria o mensual.</p>

            <a class="btn btn-lg btn-block btn-outline-primary" href="{% url 'reportes:consultas_periodo' %}" role="button">Consultar</a>
        </div>

    </div>
    <div class="col-lg-9 col-md-8 col-sm-8">
        <img src="/media/04periodo.png" class="img-fluid" alt="Formulario">
        <!--<img src="/media/05periodo.png" class="img-fluid" alt="Grafico">-->
    </div>
</div>


<div class="row py-5 mx-5">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="mt-1 mx-auto text-center">
            <h2 class="my-4 font-weight-normal">Comparar entre Estaciones</h2>
            <p class="lead my-4">Compara la información de una misma variable hidroclimática registrada por distintas estaciones</p>
            <img src="/media/02estaciones.png" class="img-fluid my-4" alt="Responsive image">

            <a class="btn btn-warning btn-lg" href="{% url 'reportes:comparacion_reporte' %}" role="button">Comparar Estaciones</a>
        </div>

    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="mt-1 mx-auto text-center">
            <h2 class="my-4 font-weight-normal">Comparar entre Variables</h2>
            <p class="lead my-4">Compara la información entre múltiples variables hidroclimáticas registradas por distintas estaciones</p>
            <img src="/media/03variables.png" class="img-fluid my-4" alt="Comparar Variables">
            <a class="btn btn-warning btn-lg" href="{% url 'reportes:comparacion_variable' %}" role="button">Comparar Variables</a>
        </div>
    </div>
</div>


<div class="row mt-5 mx-5">
    <div class="mx-auto text-center" >
        <h2 class="my-4 font-weight-normal">Datos En tiempo Real</h2>
    </div>
</div>
<div class="row mb-5 mx-5">
    <div class="col-6">
        <div class="mx-auto text-center">


            <img src="/media/06visualizar01.png" style="height:160px;" class="img-fluid" alt="Visualizar Variables">
            <img src="/media/06visualizar02.png" style="height:160px;" class="img-fluid" alt="Visualizar Variables">
            <img src="/media/06visualizar03.png" style="height:160px;" class="img-fluid" alt="Visualizar Variables">

        </div>
        <div class="mx-auto text-center my-3">
            <a class="btn btn-primary" href="{% url 'telemetria:visualizar' %}" role="button">Visualizar Variables</a>
        </div>

    </div>
    <div class="col-6">
        <div class="mx-auto text-center">
            <!--<h4 class="font-weight-normal">Mapa Transmisión</h4>-->
            <img src="/media/07mapa.png" style="height:220px;" class="img-fluid" alt="Mapa Transmisión"><br>

        </div>
        <div class="mx-auto text-center my-3">
            <a class="btn btn-success" href="{% url 'telemetria:mapa_alarma_transmision' %}" role="button">Mapa Transmisión</a>
        </div>
        <div class="mx-auto text-center">
            <!--<h4 class="font-weight-normal">Precipitación</h4>-->
            <img src="/media/08precipitacion.png" style="height:220px;" class="img-fluid" alt="Precipitación">

        </div>
        <div class="mx-auto text-center my-3">
            <a class="btn btn-info" href="{% url 'telemetria:precipitacion' %}" role="button">Precipitación Diaria</a>
            <a class="btn btn-info" href="{% url 'telemetria:multiestacion_precipitacion' %}" role="button">Precipitación Multiestación</a>
        </div>

    </div>
</div>














{% endblock %}
