{% extends "index.html" %}
{% block content %}
{% load bootstrap4 %}
{% load humanize %}
{% load static %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="{% static 'estaciones-geojson.js' %}"></script>

<script>


</script>

<div class="row">
    <div class="col-lg-10 col-sm-10">
        <h3>Información de Estaciones</h3>
    </div>

</div>
<div class="row">
    <div class="col-lg-12 col-sm-12">
        <div id="mapid" style="height: 600px;"></div>
    </div>

</div>

{% endblock %}