{% extends "base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block javascript %}
    {{ block.super }}
    
    
    <script script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static 'scripts/js_ajax.js' %}"></script>
    <script src="{% static 'scripts/estaciones-geojson.js' %}"></script>
        <!--carga de leaflet-->
    <script src="{% static 'leaflet/leaflet.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet.css' %}">

<!--    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>-->
    <script src="{% static 'scripts/reporte.js' %}"></script>
    <link rel="stylesheet" href="{% static 'styles/reporte.css' %}">

    <script>
    $( document ).ready(function(){
        /*$("select").addClass("use-placeholder");
        window.mostrar_label_dentro_de_select();*/
        {% block dr_top %}{% endblock %}

        $(".form-control.is-valid").removeClass("is-valid");
    });
    </script>

{% endblock %}


{% block content %}

<form id="form_consultas" class="form" method="post">
    {% csrf_token %}

    <div id="barra_sup" class="row transp-azul mt-0 mx-0"  >
        <div class="row align-items-center p-1">

            <div class="col"><h5>Reportes / {% block titulo %}{% endblock %}</h5></div>
            <div class="col">{% block centro %}{% endblock %}</div>
            <div class="col">{% block derecha %}{% endblock %}</div>
        </div>
    </div>


    <div id="formulario" class="row transp-blanco mt-2 mx-0"  >
        <div class="row align-items-center">
            {% block formulario %}
            {% endblock %}
        </div>
    </div>
</form>


<div id="resultados" class="row ">
    <!--div class="row"-->

        <div id="div_tabla" class="col-xl-5 col-lg-5 col-md-12 col-sm-12">
            <table id="table_reporte" class="table table-sm transp-blanco">
                <thead><tr><th><h6>Estación</h6></th><th><h6>Acción</h6></th></tr></thead>
                <tbody id="data_reporte"></tbody>
            </table>
        </div>
        <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12">
            <div class="row" style="
            padding-top: 43px;">
                  
            </div>
            <div id="mapid" style="height: 435px"></div>
            
        </div>
            
</div>

 <!--/div-->

 <div id="div_grafico" class="col" >

    <div id="div_loading" class="d-flex justify-content-center" style="display:none;" >
        <div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>
    </div>

    <div id="div_error" style="display:none;">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        Ocurrio un problema con el procesamiento de la información, por favor intentelo nuevamente
        </div>
    </div>


    <div id="div_mapa">
        <div class="row my-2">
            <div class="col">
                <button type="button" class="btn btn-light open" data-toggle="modal" data-target="#imagemodal">
                    Zoom imágen</button>
            </div>
        </div>
        <div class="row my-2">
            <div class="col"><img id="mapa" src="" style="width: 310px;"></div>
        </div>
    </div>


</div>

<div id="imagemodal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" style="display:none;">

    <div class="modal-dialog" role="document"><a class="btn btn-danger close" data-dismiss="modal">&times; Cerrar</a></div>

    <img id="mapa_grande" src="">

    <div id="grafico" class="mt-5"></div>

    {% if mensaje %}<label>{{ mensaje }}</label>{% endif %}


</div>
{% endblock %}
