{% extends "template_list.html" %}

{% block javascript %}

    {{ block.super }}
    <script>

    var btns = '';
    var table;

    {% if perms.importing.view_importing %}
    btns = btns + window.btn_detalle_html("{% url 'importing:importing_detail' 0 %}");
    {% endif %}

    $(document).ready(function() {

        table = $('#table_importing').DataTable({
            language: window.DATATABLES_LANGUAGE,
            scrollX: true,
            "dom": '<"top"f>rt<"bottom"p><"clear">',
            fixedColumns: { leftColumns: 2,},
            columnDefs: [
                { "targets": 0, "visible" : false, "searchable": false },
                { "targets": 6, "render" : function(data, type, row){ return row[6].replace('archivos/','');}  },
                { "targets": 9, "render" : function(data, type, row){ return btns;}  },
            ],
        });


        table.columns(1).every( function(){
            var column = this;
            var select = $('#filtro_estacion').on( 'change', function () {
                var val = $.fn.dataTable.util.escapeRegex(
                    $(this).val()
                );

                column
                    .search( val ? '^'+val+'$' : '', true, false )
                    .draw();
            } );
            column.data().unique().each( function ( d, j ) {
                select.append( '<option value="'+d+'">'+d+'</option>' )
            } );
        } );


        $('#div_loading').hide();
        $('#div_informacion').show();

        table.columns.adjust().draw();
    });

    </script>
{% endblock %}


{% block titulo %}Importación{% endblock %}

{% block cen %}
    <label class="sr-only" >Filtrar por estación</label>
    <select id="filtro_estacion" class="form-control use-placeholder" style="width:300px;">
        <option value="">---------</option>
    </select>
{% endblock %}


{% block div_informacion_content %}
    <style>
    tr>:nth-child(1) {min-width:  6em; max-width: 10em;}
    tr>:nth-child(2) {min-width:  4em; max-width: 10em;}
    tr>:nth-child(3) {min-width:  6em; max-width: 11em;}
    tr>:nth-child(4) {min-width:  6em; max-width: 11em;}
    tr>:nth-child(5) {min-width:  6em; max-width: 11em;}
    tr>:nth-child(6) {min-width:  6em; max-width: 13em;}
    tr>:nth-child(7) {min-width:  5em; max-width: 11em;}
    tr>:nth-child(8) {min-width:  4em; max-width: 6em;}
    tr>:nth-child(9) {min-width:  4em; max-width: 4em;}

    </style>
    <table id="table_importing" class="table table-hover table-sm overflowtooltip" >
        <thead>
        <tr>
            <th>Id</th>
            <th>Estación</th>
            <th>Formato</th>
            <th>Fecha imp.</th>
            <th>Inicio Datos</th>
            <th>Fin Datos</th>
            <th>Archivo</th>
            <th>Observación</th>
            <th>Usuario</th>
            <th>Acción</th>
        </tr>
        </thead>

        <tbody>{{ importing|safe }}</tbody>
    </table>


{% endblock %}