{% extends "template_list.html" %}
{% load bootstrap4 %}


{% block javascript %}
    {{ block.super }}

    <script>
    function activar_espera(){
        $("#div_loading").show();
        $("#div_informacion").hide();
    }

    function desactivar_espera(){
        $("#div_loading").hide();
        $("#div_informacion").show();
    }

    function actualizar_lista(){
        $.ajax({
            url: {% url 'vacios:vacios'%},
            data: $("#form_consulta").serialize(),
            type:'POST',
            beforeSend: function () {
                activar_espera();
                $("#div_error").hide();
            },
            success: function (data) {
                $("#btn_filtrar").attr("disabled", false);
                $("#div_informacion").html(data)
                desactivar_espera();
                $("#div_error").hide();
                $("#id_estacion").prop("disabled", true);
                $("#id_variable").prop("disabled", true);
            },
            error: function () {
                $("#div_informacion").hide();
                $("#div_loading").hide();
                $("#div_error").show();
            }
        });

    }


    $(document).ready(function() {
        $("select").addClass("use-placeholder");
        window.mostrar_label_dentro_de_select();

        $("#btn_filtrar").click(function(){
            actualizar_lista();
        });

        desactivar_espera();
    });

    </script>
{% endblock %}


{% block izq %}Consultar vacios{% endblock %}

{% block cen %}
    <form id="form_consulta" class="form" method="post" action="{% url 'vacios:vacios'%}" style="height:40px;" >
        {% csrf_token %}
        <div class="d-inline-block" style="width:13em;">{% bootstrap_field form.estacion show_label='sr-only' %}</div>
        <div class="d-inline-block" style="width:13em;">{% bootstrap_field form.variable show_label='sr-only' %}</div>

    </form>
{% endblock %}

{% block der %}
<button id="btn_filtrar" type="button" class="btn btn-primary">Buscar</button>
<a class="btn btn-secondary" href="{% url 'vacios:vacios' %}">Limpiar</a>
{% endblock %}


