
{% if datos  %}
<div class="col-lg-6 col-md-6 col-sm-6">
    <table class="table table-striped table-bordered table-condensed table-fixed">
        <thead>
        <tr>
            <th class="col-xs-12">Fechas con Datos </th>
        </tr>
        </thead>
        <tbody>
        {% for item in datos %}
        <tr>
            <td class="col-xs-12">{{ item.fecha|date:"d/m/Y" }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <p><b>Número de días con registros: </b>{{ datos|length }}</p>
</div>

<div class="col-lg-6 col-md-6 col-sm-6">
    <table class="table table-striped table-bordered table-condensed table-fixed">
        <thead>
        <tr>
            <th class="col-xs-12">Fechas sin Datos </th>
        </tr>
        </thead>
        <tbody>
        {% for item in datos_sin %}
        <tr>
            <td class="col-xs-12">{{ item.fecha_sin|date:"d/m/Y" }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <p><b>Número de días sin registros: </b>{{ datos_sin|length }}</p>
</div>

{% else %}
<div class="panel-body">
    <div class="alert alert-warning" role="alert">
        No existe información para la consulta
    </div>
</div>

{% endif %}