{% extends "template_detail.html" %}

{% block titulo %}Telemetría / Configurar estación a visualizar{% endblock %}

{% block table_rows %}
<tr><th>Estación</th><td>{{configvisualizar.estacion}}</td></tr>
<tr><th>Variable</th><td>{{configvisualizar.variable}}</td></tr>
<tr><th>Umbral superior</th><td>{{configvisualizar.umbral_superior}}</td></tr>
<tr><th>Umbral inferior</th><td>{{configvisualizar.umbral_inferior}}</td></tr>
{% endblock %}

{% block url_change %}
{% if perms.telemetria.change_configvisualizar %}{% url 'telemetria:configvisualizar_update' configvisualizar.id %}{% endif %}
{% endblock %}

{% block url_back %}{% url 'telemetria:configvisualizar_list' %}{% endblock %}