{% extends "template_detail.html" %}

{% block titulo %}CALIDAD DE AGUA: Telemetría / Configurar estación a visualizar{% endblock %}

{% block table_rows %}
<tr><th>Estación</th><td>{{configcalidad.estacion}}</td></tr>
<tr><th>Variable</th><td>{{configcalidad.variable}}</td></tr>
<tr><th>Profundidad</th><td>{{configcalidad.profundidad}}</td></tr>
<tr><th>Umbral superior</th><td>{{configcalidad.umbral_superior}}</td></tr>
<tr><th>Umbral inferior</th><td>{{configcalidad.umbral_inferior}}</td></tr>
{% endblock %}

{% block url_change %}
{% if perms.telemetria.change_configcalidad %}{% url 'telemetria:configcalidad_update' configcalidad.id %}{% endif %}
{% endblock %}

{% block url_back %}{% url 'telemetria:configcalidad_list' %}{% endblock %}