{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block javascript %}
{{ super }}

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.6.1/mapbox-gl.css" rel="stylesheet" />

<style>
    #div_informacion .row{max-width: 1300px;}
	#map { position: relative; top: 0; bottom: 0; width: 100%; height: 80vh; }

    #NORMAL {background-color:rgb(0,255,0, 0.4);}
	#EXPECTANTE {background-color:rgb(255,255,0, 0.4);}
	#FALLO {background-color:rgb(255,0,0, 0.4);}

</style>

<script type="text/javascript">

function consulta_mapa(){
    $.ajax({
        url: "{% url 'telemetria:consulta_mapa_alarma_transmision' %}",
        data: {
            'csrfmiddlewaretoken': $("input[name='csrfmiddlewaretoken']").val(),
        },
        type:'POST',
        beforeSend: function () {
        },
        success: function (data) {
            cargar_datos(data);
        },
        error: function () {
        }
    });
};


function cargar_datos(e){

    $("table > tbody").empty();
    $('table').DataTable().clear();
    $('table').DataTable().destroy();

    var punto = {
                    "type": "Feature",
                    "geometry": {
                        "type": "Point",
                        "coordinates": []
                    },
                    "properties": {
                        "estado": "",
                        "description": "",
                    },
                };
    var puntos = [];

    for (const idx in e.estaciones){
        $('#'+ e.estaciones[idx].estado +' tbody').append('<tr><td>'+e.estaciones[idx].codigo+'</td></tr>');
        //////////
        _punto = JSON.parse(JSON.stringify(punto));
        _punto.geometry.coordinates = [e.estaciones[idx].longitud, e.estaciones[idx].latitud];
        _punto.properties.estado = e.estaciones[idx].estado;
        var fecha_estado_actual = e.estaciones[idx].fecha_estado_actual;
        fecha_estado_actual = fecha_estado_actual.replace('T',' ');
        fecha_estado_actual = fecha_estado_actual.slice(0, -4);
        _punto.properties.description = e.estaciones[idx].codigo + "<br>" + fecha_estado_actual;
        puntos.push(_punto);
    };

    $("#NORMAL > thead > tr > th ").html("Normal<br><small>Transm. continua < " + parseFloat(e.limites.lim1) + " hora(s).</small>");
    $("#EXPECTANTE > thead > tr > th ").html("Expectante<br><small>Transm. intermitente.");
    $("#FALLO > thead > tr > th ").html("Fallo<br><small>Sin transm. en " + parseFloat(e.limites.lim2) + " horas.</small>");
    actualizar_tabla("#NORMAL");
    actualizar_tabla("#EXPECTANTE");
    actualizar_tabla("#FALLO");

    mapboxgl.accessToken = 'pk.eyJ1IjoicGFibG8tdWlvMjAyMCIsImEiOiJjazU5cG1ncDIwcnd4M2xvMXNkaHlhNDEyIn0.hNSx3eMIBzAVuoftwdvQPg';
    var map = new mapboxgl.Map({
        container: 'map',
        zoom: 4,
        center: [-74, -10],
        style: 'mapbox://styles/mapbox/outdoors-v11'
        //style: 'mapbox://styles/mapbox/satellite-v9'
    });

    map.on('style.load', function (e) {
        map.addSource('markers', {
            "type": "geojson",
            "data": {
                "type": "FeatureCollection",
                "features": puntos
            }
        });

        map.addLayer({
            "id": "NORMAL",
            "source": "markers",
            "type": "circle",
            "paint": {
                "circle-radius": 12,
                "circle-color": "#007c00",
                "circle-opacity": 0.6,
                "circle-stroke-width": 1,
            },
            "filter": ["==", "estado", "NORMAL"],
        });

        map.addLayer({
            "id": "EXPECTANTE",
            "source": "markers",
            "type": "circle",
            "paint": {
                "circle-radius": 12,
                "circle-color": "#7c7c00",
                "circle-opacity": 0.6,
                "circle-stroke-width": 0,
            },
            "filter": ["==", "estado", "EXPECTANTE"],
        });

        map.addLayer({
            "id": "FALLO",
            "source": "markers",
            "type": "circle",
            "paint": {
                "circle-radius": 12,
                "circle-color": "#7c0000",
                "circle-opacity": 0.6,
                "circle-stroke-width": 0,
            },
            "filter": ["==", "estado", "FALLO"],
        });
    });


    map.on('mousemove', 'NORMAL', (e) => {
        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = e.features[0].properties.description;
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) { coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;}
        new mapboxgl.Popup().setLngLat(coordinates).setHTML(description).addTo(map);
    });

    map.on('mouseleave', 'NORMAL',  function() {$(".mapboxgl-popup").remove();});

    map.on('mousemove', 'EXPECTANTE', (e) => {
        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = e.features[0].properties.description;
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) { coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;}
        new mapboxgl.Popup().setLngLat(coordinates).setHTML(description).addTo(map);
    });

    map.on('mouseleave', 'EXPECTANTE',  function() {$(".mapboxgl-popup").remove();});

    map.on('mousemove', 'FALLO', (e) => {
        var coordinates = e.features[0].geometry.coordinates.slice();
        var description = e.features[0].properties.description;
        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) { coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;}
        new mapboxgl.Popup().setLngLat(coordinates).setHTML(description).addTo(map);
    });

    map.on('mouseleave', 'FALLO',  function() {$(".mapboxgl-popup").remove();});

};


function actualizar_tabla(e){
    table = $(e).DataTable({
        language: window.DATATABLES_LANGUAGE,
        scrollY: '72vh',
        scrollCollapse: true,
        paging: false,
        "dom": '<"small">rt',
        columnDefs: [
            { "targets": 0, "searchable": true },
        ],
    });

    $(e).show();
    table.columns.adjust().draw();

}


$(document).ready(function() {
    consulta_mapa();
    setInterval(consulta_mapa, 600000);
});

</script>

{% endblock %}

{% block content %}

{% csrf_token %}
<div class="row transp-blanco barra-sup">
    <div class="col-md-auto align-self-start"><h5>Telemetría / Mapa de transmisión</h5></div>
</div>

<div class="row mt-2 transp-blanco">
    <div class="col">


        <div id="div_informacion" class="transp-blanco">
            <div class="row">
                <div class="col-md-6 mx-0 px-1">
                    <div id="map"></div>
                </div>

                <div class="col-md-2 mx-0 px-1">
                    <table id="NORMAL"  class="table table-sm">
                        <thead><tr><th>Normal</th></tr></thead><tbody></tbody>
                    </table>
                </div>

                <div class="col-md-2 mx-0 px-1">
                    <table id="EXPECTANTE"  class="table table-sm">
                        <thead><tr><th>Expectante</th></tr></thead><tbody></tbody>
                    </table>
                </div>

                <div class="col-md-2 mx-0 px-1">
                    <table id="FALLO" class="table table-sm">
                        <thead><tr><th>Fallo</th></tr></thead><tbody></tbody>
                    </table>
                </div>

            </div>
        </div>

    </div>
</div>

{% endblock %}
