{% extends "index.html" %}
{% block content %}
{% load bootstrap4 %}
{% load static %}

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script src="{% static 'telemetria/precipitacion_multiestacion.js' %}"></script>

<div class="row">
    <div class="col-lg-10 col-sm-10">
        <h3>Precipitación Multiestación: Acumulada Díaria</h3>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <p class="text-info"><strong>Información: </strong>Revisar los datos de precipitación diaria acumulada de las estaciones con telemetría</p>
    </div>
</div>


<form id="form_telemetria" class="form" method="post">
            {% csrf_token %}
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="form-group row">
                <label class="col-md-3 col-form-label" for="select_estacion" >Estaciones</label>
                <div class="col-md-9">
                    <select id="select_estacion" class="form-control">
                        <option value="all">Todas</option>
                        <option value="selected">Seleccionar</option>
                    </select>
                </div>
            </div>

        </div>

        <div class="col-lg-3 col-md-3 col-sm-6">{% bootstrap_field form.inicio  layout='horizontal' %}</div>
        <div class="col-lg-3 col-md-3 col-sm-6">{% bootstrap_field form.fin layout='horizontal' %}</div>
        <div class="col-lg-2 col-md-4 col-sm-6">
            <button id='visualizar' type='button' class='btn btn-success' >Visualizar</button>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-1 col-md-2 col-sm-3">
            <div>{% bootstrap_field form.estacion show_label=False %}</div>
        </div>

        <div id="div_grafico" class="col-lg-11 col-md-10 col-sm-9">
            <div id="div_informacion" >
                <!--<div class="row bloque-grafico">
                </div>-->
            </div>

            <div id="div_loading" class="row" style="display:none;">
                <div class="col-lg-3 col-md-2 col-sm-1">&nbsp;</div>
                <div class="col-lg-6 col-md-8 col-sm-10">
                    <img src="/media/loading6.gif"/>
                </div>
                <div class="col-lg-3 col-md-2 col-sm-1">&nbsp;</div>
            </div>

            <div id="div_error" class="row" style="display:none;">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    Ocurrio un problema con el procesamiento de la información, por favor intentelo nuevamente
                </div>
            </div>

        </div>
    </div>



</form>

{% endblock %}