{% extends "base.html" %}
{% load static %}
{% load bootstrap4 %}


{% block javascript %}
{{ super }}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>

var graf_margin_right = 5;
var graf_margin_top = 35;
var graf_margin_bottom = 35;
var graf_margin_left = 35;
var graf_title_size = 14;
var graf = 1;

function cargar_datos(data){
    $("#graf1").empty();

    var layout = {
        title: data.estacion  + '\nPrecipitación acumulada',
        titlefont: {
            size: graf_title_size
        },
        showlegend: true,
        width: 900,
        height: 250,
        margin: {
            r: graf_margin_right,
            t: graf_margin_top,
            b: graf_margin_bottom,
            l: graf_margin_left,
            pad: 0
        },
    };

    var trace = {
        name: 'Diario [mm]',
        x: data.datos.fecha,
        y: data.datos.valor,
        type: 'bar',
    };

    var acum_total = {
        name: 'Acum. [mm]',
        x: data.datos.fecha,
        y: data.datos.acumulado,
        type: 'lines',
        line: {
            color: 'rgb(219, 64, 82)',
        }
    };

    Plotly.newPlot('graf1', [trace, acum_total], layout, {showSendToCloud: false, responsive: true});

    var vmac = data.datos.valor_mayor_a_cero;
    for (var ix in vmac){
        $('#table_valor > tbody').append("<tr><td>" + vmac[ix][0] + "</td><td>" + vmac[ix][1] + "</td></tr>");
    }


    $("#graf3").empty();

    var layout = {
        title: data.estacion  + '\nPrecipitación mensual',
        titlefont: {
            size: graf_title_size
        },
        showlegend: true,
        width: 900,
        height: 250,
        barmode: 'group',
        margin: {
            r: graf_margin_right,
            t: graf_margin_top,
            b: graf_margin_bottom,
            l: graf_margin_left,
            pad: 0
        },
    };

    var historico = {
        name: 'Histórico',
        x: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        y: data.datos.historico,
        type: 'bar',
    };

    var actual = {
        name: data.datos.año_actual,
        x: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        y: data.datos.actual,
        type: 'bar',
    };

    Plotly.newPlot('graf3', [historico, actual], layout, {showSendToCloud: false, responsive: true});
}



function enviar_consulta(){


    $("#div_informacion").attr('style', 'display:none !important');
    $("#div_error").attr('style', 'display:none !important');
    $('#div_loading').show();

    $.ajax({
        url: "{% url 'telemetria:consulta_precipitacion' %}",
        data: $("#form_precipitacion").serialize(),
        type:'POST',
        beforeSend: function () {
        },
        success: function (data) {
            cargar_datos(data);
            $("#div_informacion").show();
            $("#div_error").attr('style', 'display:none !important');
            $('#div_loading').attr('style', 'display:none !important');
        },
        error: function () {
            $("#div_informacion").attr('style', 'display:none !important');
            $("#div_loading").attr('style', 'display:none !important');
            $("#div_error").show();
        }
    });
};


$(document).ready(function() {

    $("#id_inicio").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "yy-mm-dd",
        showButtonPanel: true,
        yearRange:  ((new Date).getFullYear()-1) + ':'+(new Date).getFullYear()
    });

    $("#id_inicio").datepicker().focus(function () {
        $("#ui-datepicker-div").position({ my: "center top", at: "center bottom", of: $("#id_inicio")});
    });
    
    
    $("#id_fin").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "yy-mm-dd",
        showButtonPanel: true,
        yearRange:  ((new Date).getFullYear()-1) + ':'+(new Date).getFullYear()
    });

    $("#id_fin").datepicker().focus(function () {
        $("#ui-datepicker-div").position({ my: "center top", at: "center bottom", of: $("#id_fin")});
    })
    $("#id_fin").datepicker().datepicker("setDate", new Date());    

    $("#visualizar").click(function(){
        $("#graf1").empty();
        $("input[name='estacion']").val($('#id_estacion').val() );
        $("input[name='fecha']").val($('#id_fecha').val() );

        enviar_consulta();

    });

    $("select").addClass("use-placeholder");
    window.mostrar_label_dentro_de_select();

    $('.form-group').each(function() {
        window.activar_tooltip($(this));
    });

    $('#div_error').attr('style', 'display:none !important');
    $('#div_loading').attr('style', 'display:none !important');
    $('#div_informacion').attr('style', 'display:none !important');
});


</script>
{% endblock %}

{% block content %}
<style>
    .barra-sup .col {padding: 2px;}
    .form-group { margin-bottom: 2px;}
    .barra-sup>:nth-child(1) {min-width:350px;max-width:360px;}
    .barra-sup>:nth-child(2) {min-width:220px;max-width:360px;}
    .barra-sup>:nth-child(3) {min-width:180px;max-width:360px;}
    .barra-sup>:nth-child(4) {min-width:180px;max-width:360px;}
    .barra-sup>:nth-child(5) {min-width:180px;max-width:360px;}
    ##div_valor {height:75vh; max-width:75vw; overflow-x:hidden; overflow-y: scroll;}
    ##table_valor tr>:nth-child(1) {width:150px !important;}
    ##table_valor tr>:nth-child(2) {width:150px !important;}

    #g_row1, #g_row2{
        margin-right: 0px;
        margin-left: 0px;
        max-width: 93vw;
        overflow-x:auto;
    }

    #div_informacion { max-width:1400px;}

    #div_informacion>:nth-child(2) {
        max-width:360px;
        margin-top:10px;
    }

    #div_valor {
        height:75vh ;
        overflow-x:hidden ;
        overflow-y: scroll ;
    }


</style>
<form id="form_precipitacion" class="form" method="post">
    {% csrf_token %}
    <div class="row transp-blanco barra-sup">
        <div class="col align-self-center"><h5>Telemetría / Precipitación</h5></div>
        <div class="col">{% bootstrap_field form.estacion show_label='sr-only' %}</div>
        <div class="col">{% bootstrap_field form.inicio show_label='sr-only' %}</div>
        <div class="col">{% bootstrap_field form.fin show_label='sr-only' %}</div>
        <div class="col">
            <button id='visualizar' type='button' class='btn btn-primary' >Visualizar</button>
            <a class="btn btn-outline-info" href="{% url 'telemetria:precipitacion' %}">Limpiar</a>
        </div>
    </div>
    <input type="hidden" value="" name="estacion"/>
    <input type="hidden" value="" name="fecha"/>
</form>



<div class="row transp-blanco mt-2">

    <div id="div_loading" class="col" style="display:none !important;" >
        <div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>
    </div>

    <div id="div_error" class="col" style="display:none;">
        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        Ocurrio un problema con el procesamiento de la información, por favor intentelo nuevamente
        </div>
    </div>

    <div class="col">
    <div id="div_informacion" class="row">
        <div class="col">
            <div id="g_row1" class="row">
                <div class="col px-0"><div id="graf1" class="grafico" ></div></div>
            </div>

            <div id="g_row2" class="row mt-2">
                <div class="col px-0"><div id="graf3" class="grafico" ></div></div>
            </div>
        </div>

        <div class="col">
            <h6>Eventos de precipitación.</h6>
            <div id="div_valor">
                <table id="table_valor" class="table table-sm">
                    <thead><tr><th>Fecha</th><th>Valor</th></tr></thead><tbody></tbody>
                </table>
            </div>

        </div>

    </div>
    </div>
</div>

{% endblock %}
