{% extends "index.html" %}
{% block content %}
{% load bootstrap4 %}




<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<script>

var graf_width = 510;
var graf_height = 340;
var graf_margin_right = 5;
var graf_margin_top = 90;
var graf_margin_bottom = 45;
var graf_margin_left = 35;
var legends = {};

$.datepicker.regional['es'] = {
    closeText: 'Cerrar',
    prevText: '< Ant',
    nextText: 'Sig >',
    currentText: 'Hoy',
    monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
    monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
    dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
    dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
    dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
    weekHeader: 'Sm',
    dateFormat: 'yy-mm-dd',
    firstDay: 1,
    isRTL: false,
    showMonthAfterYear: false,
    yearSuffix: ''
};

$.datepicker.setDefaults($.datepicker.regional['es']);


function suma(datos, decimales){
    var res = 0;
    var tmp;
    for ( const i in datos){
        tmp = parseFloat(datos[i]);
        if (! isNaN(tmp)){
            res = res + tmp;
         }
    }
    res = res.toFixed(decimales);
    return res;
}

function maximo(datos){
    var res = -Infinity;
    var tmp;
    for (const i in datos){
        tmp = parseFloat(datos[i]);
        if (! isNaN(tmp)){
            if (tmp > res){
                res = tmp;
            }
        }
    }
    return res;
}


function minimo(datos){
    var res = Infinity;
    var tmp;
    for (const i in datos){
        tmp = parseFloat(datos[i]);
        if (! isNaN(tmp)){
            if (tmp < res){
                res = tmp;
            }
        }
    };
    return res;
}

function renombrar_legends(graf){
    var trace_index = 0;
    $("#graf" + graf).find("g .traces").each(function(){
        trace_index++;
        var legend_text = legends[graf][trace_index];
        if (legend_text){
            $(this).find(".pointtext text").html(legend_text);
         }
    });
}


function cargar_datos(data){
    $("#graf1").empty();
    $("#graf2").empty();
    $("#graf3").empty();
    $("#graf4").empty();
    $("#graf5").empty();
    $("#graf6").empty();
    $("#graf7").empty();
    $("#graf8").empty();
    $("#graf9").empty();
    var graf = 0;
    for (const var_id in data){
        if (var_id == 1){
            graf = graf + 1;
            grafico_serie_barras(data[var_id], graf);
        }
        else if (var_id == 405){
            graf = graf + 1;
            grafico_viento(data[var_id], graf);
        }else{
            graf = graf + 1;
            grafico_serie_lineas(data[var_id], graf);
        }
    }

}


function grafico_serie_barras(data, graf){
    var fecha_ini = data.datos.fecha[0];
    var fecha_fin = data.datos.fecha[data.datos.fecha.length-1];
    var valor_fin = parseFloat(data.datos.valor[data.datos.fecha.length-1]);
    var valor_max = maximo(data.datos.valor);
    var valor_min = minimo(data.datos.valor);
    var umbral_superior = data.umbral_superior;
    var valor_acumulado = suma(data.datos.valor, 2);
    var gdata = [];
    var idx = 0;

    legends[graf] = {};

    var trace = {
        name: 'Datos',
        x: data.datos.fecha,
        y: data.datos.valor,
        type: 'bar',
        marker: {color: 'rgb(0, 90, 0)',},
    };
    gdata.push(trace);
    idx = idx + 1;


    if (umbral_superior){
        gdata.push({
            name: umbral_superior ,
            x: [fecha_ini, fecha_fin],
            y: [umbral_superior, umbral_superior],
            type: 'scatter',
            mode: 'lines+text',
            line: {
                color: 'rgb(255, 127, 0)',
                width: 1
            },
            connectgaps: true
        });

        idx = idx + 1;
        legends[graf][idx] = 'U S';
     }


    if (!isNaN(valor_acumulado) ){
        gdata.push({
            name: valor_acumulado,
            x: [fecha_ini],
            y: [null],
            type: 'scatter',
            mode: 'text',
        });
        idx = idx + 1;
        legends[graf][idx] = 'ACU';
     };


    if (isFinite(valor_max) ){
        gdata.push({
            name: valor_max,
            x: [fecha_ini],
            y: [null],
            type: 'scatter',
            mode: 'text',
        });
        idx = idx + 1;
        legends[graf][idx] = 'Máx';
     };


    if (isFinite(valor_min) ){
        gdata.push({
            name: valor_min,
            x: [fecha_ini],
            y: [null],
            type: 'scatter',
            mode: 'text',
        });
        idx = idx + 1;
        legends[graf][idx] = 'mín';
     };


    if (!isNaN(valor_fin) ){
        var texto_fin = '<br><br>Último:<br><b>' + valor_fin +'</b><br>';
        texto_fin = texto_fin +  fecha_fin.slice(0,10) + '<br>' + fecha_fin.slice(11,19);
        gdata.push({
            name: texto_fin,
            x: [fecha_ini],
            y: [null],
            type: 'scatter',
            mode: 'lines',
            line: {color: 'transparent',},
            connectgaps: false
        });
     };



    var layout = {
        title: data.estacion + ': ' + data.var_nombre + ' (' + data.var_unidad + ')',
        width: graf_width,
        height: graf_height,
        margin: {
            r: graf_margin_right,
            t: graf_margin_top,
            b: graf_margin_bottom,
            l: graf_margin_left,
            pad: 0
        },
        yaxis: {
            rangemode: 'nonnegative',
            autorange: true
        },
        bargap :0,
    };

    var graf_class = 'graf'+graf;
    Plotly.newPlot(graf_class, gdata, layout, {showSendToCloud: false,});

    renombrar_legends(graf);
    $('#' + graf_class).on('plotly_restyle', function(clickData){
        renombrar_legends(graf);
    });

}


function grafico_serie_lineas(data, graf){
    var fecha_ini = data.datos.fecha[0];
    var fecha_fin = data.datos.fecha[data.datos.fecha.length-1];
    var valor_fin = parseFloat(data.datos.valor[data.datos.fecha.length-1]);
    var valor_max = maximo(data.datos.valor);
    var valor_min = minimo(data.datos.valor);
    var umbral_superior = data.umbral_superior;
    var umbral_inferior = data.umbral_inferior;
    var gdata = [];
    var idx = 0;

    legends[graf] = {};

    var trace = {
        name: 'Datos',
        x: data.datos.fecha,
        y: data.datos.valor,
        type: 'scatter',
        mode: 'lines+markers',
        line: {
            color: 'rgb(0, 90, 0)',
            width: 1
        },
        marker: {size: 1, color: 'rgb(0, 90, 0)',},
        connectgaps: false
    };
    gdata.push(trace);
    idx = idx + 1;


    if (umbral_superior){
        gdata.push({
            name: umbral_superior ,
            x: [fecha_ini, fecha_fin],
            y: [umbral_superior, umbral_superior],
            type: 'scatter',
            mode: 'lines+text',
            line: {
                color: 'rgb(255, 127, 0)',
                width: 1
            },
            connectgaps: true
        });

        idx = idx + 1;
        legends[graf][idx] = 'U S';
     }


    if (umbral_inferior){
        gdata.push({
            name: umbral_inferior ,
            x: [fecha_ini, fecha_fin],
            y: [umbral_inferior, umbral_inferior],
            type: 'scatter',
            mode: 'lines+text',
            line: {
                color: 'rgb(0, 127, 255)',
                width: 1
            },
            connectgaps: true
        });

        idx = idx + 1;
        legends[graf][idx] = 'U i';
     }


    if (isFinite(valor_max) ){
        gdata.push({
            name: valor_max,
            x: [fecha_ini],
            y: [null],
            type: 'scatter',
            mode: 'text',
        });
        idx = idx + 1;
        legends[graf][idx] = 'Máx';
     };


    if (isFinite(valor_min) ){
        gdata.push({
            name: valor_min,
            x: [fecha_ini],
            y: [null],
            type: 'scatter',
            mode: 'text',
        });
        idx = idx + 1;
        legends[graf][idx] = 'mín';
     };


    if (!isNaN(valor_fin) ){
        var texto_fin = '<br><br>Último:<br><b>' + valor_fin +'</b><br>';
        texto_fin = texto_fin +  fecha_fin.slice(0,10) + '<br>' + fecha_fin.slice(11,19);
        gdata.push({
            name: texto_fin,
            x: [fecha_ini],
            y: [null],
            type: 'scatter',
            mode: 'lines',
            line: {color: 'transparent',},
            connectgaps: false
        });

     };


    var layout = {
        title: data.estacion + ': ' + data.var_nombre + ' (' + data.var_unidad + ')',
        width: graf_width,
        height: graf_height,
        margin: {
            r: graf_margin_right,
            t: graf_margin_top,
            b: graf_margin_bottom,
            l: graf_margin_left,
            pad: 0
        },
    };

    var graf_class = 'graf'+graf;
    Plotly.newPlot(graf_class, gdata, layout, {showSendToCloud: false});

    renombrar_legends(graf);
    $('#' + graf_class).on('plotly_restyle', function(clickData){
        renombrar_legends(graf);
    });


}


function grafico_viento(data, graf){
    var n = data.datos.velocidad.length;
    var velocidad_fin = parseFloat(data.datos.velocidad[n-1]);
    var direccion_fin = data.datos.direccion[n-1];
    var valor_max = maximo(data.datos.velocidad);
    var datav = [];

    var idx = 0;
    legends[graf] = {};


    var datos = {
        name: "<br>Último:<br><b>" + velocidad_fin + "</b><br>",
        type: "barpolar",
        r: [velocidad_fin,],
        theta: [direccion_fin,],
        thetaunit: 'degrees',
        marker: {color: "rgb(64, 64, 255)"},
    };
    if (n > 0 ){
        datav.push(datos);
        idx++;
    };


    var anteriores =  {
          name: "anteriores",
          type: "scatterpolargl",
          r: data.datos.velocidad,
          theta: data.datos.direccion,
          thetaunit: 'degrees',
          mode: "markers",
          marker: {
            color: "rgb(27,158,119)",
            size: 10,
            line: {
              color: "white"
            },
            opacity: 0.10
          },
          cliponaxis: false
        };
    datav.push(anteriores);
    idx++;


    if ( isFinite(valor_max) ){
        datav.push(
            {
                  type: "scatterpolargl",
                  r: [null],
                  theta: [0],
                  thetaunit: 'degrees',
                  mode: "text",
                  name: valor_max,
                  cliponaxis: false,
                  showlegend: true
            },
        );
        idx++;
        legends[graf][idx] = 'Máx';
     }


    var layout = {
        title: data.estacion + ': '+ data.var_nombre + ' (' + data.var_unidad + ')',
        showlegend: true,
        polar: {
          bgcolor: "rgb(233, 233, 233)",
          angularaxis: {
            tickwidth: 2,
            linewidth: 3,
            direction: 'clockwise',
          },
          radialaxis: {
            side: "counterclockwise",
            showline: true,
            linewidth: 2,
            tickwidth: 2,
            gridcolor: "#FFF",
            gridwidth: 2
          },
        },
        paper_bgcolor: "rgb(255, 255, 255)",
        width: graf_width,
        height: graf_height,
        margin: {
            r: graf_margin_right,
            t: graf_margin_top,
            b: graf_margin_bottom,
            l: graf_margin_left,
            pad: 0
        },
      }

    var graf_class = 'graf'+graf;
    Plotly.newPlot(graf_class, datav, layout, {showSendToCloud: false});
    renombrar_legends(graf);
    $('#' + graf_class).on('plotly_restyle', function(clickData){
        renombrar_legends(graf);
    });


    // renombrar angular axis
    var angulo_index = 0;
    var angulo_dict = {1:'N', 2:'NE', 3:'E', 4:'SE', 5:'S', 6:'SO', 7:'O', 8:'NO'};
    $("g.polarsublayer").find("g.angularaxistick").each(function(){
        angulo_index++;
        $(this).find("text").html(angulo_dict[angulo_index]);
    });

}



function enviar_consulta(){
    $.ajax({
        url: "{% url 'telemetria:consulta' %}",
        data: $("#form_telemetria").serialize(),
        type:'POST',
        beforeSend: function () {
            $("#div_error").hide();
            $("#div_loading").show();
            $("#div_informacion").hide();
        },
        success: function (data) {
            $("#div_informacion").show();
            $("#div_loading").hide();
            $("#div_error").hide();
            cargar_datos(data);
        },
        error: function () {
            $("#div_informacion").hide();
            $("#div_loading").hide();
            $("#div_error").show();
        }
    });
};

$(document).ready(function() {

    $("#id_inicio").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "yy-mm-dd",
        showButtonPanel: true,
        yearRange:  ((new Date).getFullYear()-1) + ':'+(new Date).getFullYear()
    });

    $("#id_inicio").datepicker().focus(function () {
        $("#ui-datepicker-div").position({ my: "center top", at: "center bottom", of: $("#id_inicio")});
    })
    $("#id_inicio").datepicker().datepicker("setDate", new Date());

    $("#visualizar").click(function(){
        $("#graf1").empty();
        $("#graf2").empty();
        $("#graf3").empty();
        $("#graf4").empty();
        $("#graf5").empty();
        $("#graf6").empty();
        $("#graf7").empty();
        $("#graf8").empty();
        $("#graf9").empty();
        $("input[name='estacion']").val($('#id_estacion').val() );
        $("input[name='inicio']").val($('#id_inicio').val() );
        //$("#div_loading").show();
        //$("#div_informacion").show();
        enviar_consulta();
        //$("#div_loading").hide();
        //setInterval(enviar_consulta, 150000);
    });


});


</script>



<div class="">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-3"><h4>Telemetría</h4></div>
            </div>
        </div>

        <div class="card-body">
            <form id="form_telemetria" class="form" method="post">
                {% csrf_token %}
                <input type="hidden" value="" name="estacion"/>
                <input type="hidden" value="" name="inicio"/>
                <div class="form-row">
                    <div class="col">
                        {% bootstrap_field form.estacion %}
                    </div>
                    <div class="col">
                        {% bootstrap_field form.inicio %}
                    </div>
                    <div class="col" style="padding-top:30px">
                        <button id='visualizar' type='button' class='btn btn-primary' >Visualizar</button>
                        <a class="btn btn-light" href="{% url 'telemetria:visualizar' %}">Limpiar</a>

                    </div>

                </div>
            </form>


            <div id="div_informacion" >

                <div class="row">
                    <!--<div id="graf1" class="grafico" style="display:inline-block" ></div>
                    <div id="graf2" class="grafico" style="display:inline-block" ></div>-->
                    <div id="graf1" class="col-lg-6 col-md-6 col-sm-12"></div>
                    <div id="graf2" class="col-lg-6 col-md-6 col-sm-12"></div>
                </div>
                <div class="row">
                    <div id="graf3" class="col-lg-6 col-md-6 col-sm-12"></div>
                    <div id="graf4" class="col-lg-6 col-md-6 col-sm-12"></div>
                </div>
                <div class="row">
                    <div id="graf5" class="col-lg-6 col-md-6 col-sm-12"></div>
                    <div id="graf6" class="col-lg-6 col-md-6 col-sm-12"></div>
                </div>
                <div class="row">
                    <div id="graf7" class="col-lg-6 col-md-6 col-sm-12"></div>
                    <div id="graf8" class="col-lg-6 col-md-6 col-sm-12"></div>
                </div>
                <div class="row">
                    <div id="graf9" class="col-lg-6 col-md-6 col-sm-12"></div>

                </div>
            </div>


            <div id="div_loading" class="row" style="display:none;">
                <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <img src="/media/loading6.gif"/>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
            </div>

            <div id="div_error" class="row" style="display:none;">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    Ocurrio un problema con el procesamiento de la información, por favor intentelo nuevamente
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}