{% extends "template_list.html" %}

{% block javascript %}

    {{ block.super }}

    <script>
    var btns = '';
    var table;

    {% if perms.calidad.view_asociacionhidro %}
    btns = btns + window.btn_detalle_html("{% url 'calidad:asociacionhidro_detail' 0 %}");
    {% endif %}
    
    {% if perms.calidad.change_asociacionhidro %}
    btns = btns + "&nbsp;" + window.btn_editar_html("{% url 'calidad:asociacionhidro_update' 0 %}");
    {% endif %}
    
    {% if perms.calidad.delete_asociacionhidro %}
    btns = btns + "&nbsp;" + window.btn_eliminar_html("{% url 'calidad:asociacionhidro_delete' 0 %}");
    {% endif %}


    $(document).ready(function() {
        table = $('#table_asociacionhidro').DataTable({
            language: window.DATATABLES_LANGUAGE,
            scrollX: true,
            "dom": '<"top"f>rt<"bottom"p><"clear">',
            fixedColumns: { leftColumns: 2,},
            columnDefs: [
                { "targets": 0, "visible" : false, "searchable": false },
                { "targets": 3, "render" : function(data, type, row){ return btns;}  },
            ],
        });

        $('#div_loading').hide();
        $('#div_informacion').show();
        table.columns.adjust().draw();
    });




    </script>
{% endblock %}

{% block titulo %}CALIDAD DE AGUA: Asociación de estaciones de Calidad de Agua con Hidrología{% endblock %}

{% block href_nuevo %}
    {% if perms.calidad.add_asociacionhidro %}{% url 'calidad:asociacionhidro_create' %}{% endif %}
{% endblock %}

{% block div_informacion_header %}

{% endblock %}

{% block div_informacion_content %}
    <style>
    tr>:nth-child(1) {min-width:  200px; max-width: 440px;}
    tr>:nth-child(2) {min-width:  200px; max-width: 440px;}

    </style>
    <table id="table_asociacionhidro" class="table table-hover table-sm overflowtooltip" >
        <thead>
        <tr>
            <th>Id</th>
            <th>Estación Calidad</th>
            <th>Estaciones Hidrología</th>
            <th>Acción</th>
        </tr>
        </thead>

        <tbody>
            {% for est_calidad in object_list %}
            <tr>
                <td>{{ est_calidad.id }}</td>
                <td>{{ est_calidad.estacion_calidad }}</td>
                <td>
                    <table>
                        {% for est_hidro in est_calidad.estaciones_hidro.all %}
                        <tr><td>{{ est_hidro }}</td></tr>
                        {% endfor %}
                    </table>
                </td>
                <td></td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock %}
