{% extends "template_confirm_delete.html" %}

{% block titulo %}CALIDAD DE AGUA: Asociación de estaciones de Calidad de Agua con estaciones de Hidrología{% endblock %}

{% block table_rows %}
    <tr><th>Estación Calidad</th><td>{{asociacionhidro.estacion_calidad}}</td></tr>
    <tr>
        <th>Estaciones Hidro</th><td>
            <table>
                {% for est_hidro in asociacionhidro.estaciones_hidro.all %}
                <tr><td>{{ est_hidro }}</td></tr>
                {% endfor %}
            </table>
        </td>
    </tr>
{% endblock %}

{% block cancelar_url %}{% url 'calidad:asociacionhidro_index' %}{% endblock %}
