{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<style>
    table {
        max-width : 550px;
    }
    th a {
        float: right;
    }
    .col {
        overflow-x:auto;
    }
</style>



<div class="row transp-blanco barra-sup">
    <div class="col align-self-start"><h5>Telemetría / Alarma</h5></div>
</div>

<div class="row mt-2 transp-blanco">
    <div class="col">

        <table class="table table-sm">
            <thead>
                <tr>
                    <th >Rango de horas de toleracia de transmisión</th>
                    <th><a class="btn btn-primary btn-sm" href="{% url 'telemetria:config_alarma_transmision_limites' %}">
                        Modificar límites</a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Límite 1, para estado EXPECTANTE:</td><td>{{ lim_inf_horas| floatformat:1}}</td>
                </tr>
                <tr>
                    <td>Límite 2, para estado FALLO:</td><td>{{ lim_sup_horas| floatformat:1}}</td>
                </tr>
            </tbody>
        </table>


    </div>

</div>


<div class="row mt-2 transp-blanco">
    <div class="col">

        <table class="table table-sm table-hover">
            <thead>
                <tr>
                    <th>Email donde se envía alarma</th>
                    <th>
                    <a class="btn btn-primary btn-sm" href="{% url 'telemetria:config_alarma_email_create' %}">
                        Agregar email</a></th>
                </tr>
            </thead>
            <tbody>
                {% for linea in object_list %}
                <tr>
                <td>{{ linea.email }}</td>
                <td>
                <a class="btn btn-xs btn-secondary" href="{% url 'telemetria:config_alarma_email_delete' linea.pk %}">Eliminar</a>
                </td>
                </tr>

                {% endfor %}
            </tbody>
        </table>


    </div>

</div>

{% endblock %}