{% extends "base.html" %}
{% load bootstrap4 %}

{% block content %}
<style>
    #row_body {
        max-width : 550px;
    }

</style>



<div class="row transp-blanco barra-sup">
    <div class="col align-self-start"><h5>Telemetría / Alarma / Configurar límites</h5></div>
</div>

<div id="row_body" class="row mt-2 transp-blanco">
    <div class="col">
        <div class="row mt-2">
            <div class="col"><h6>Tolerancia de horas para alarma de transmisión</h6></div>
        </div>

        <form id="form_alarma_transmision_limites" class="form" method="post">
            {% csrf_token %}
        <div class="row mt-2">
            <div class="col">{% bootstrap_field form.lim_inf %}</div>
            <div class="col">{% bootstrap_field form.lim_sup %}</div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <button id='guardar_limites' type='submit' class='btn btn-primary' >Guardar</button>
                <a class="btn btn-secondary" href="{% url 'telemetria:config_alarma_list' %}">Cancelar</a>
            </div>
        </div>
        </form>
    </div>
</div>

{% endblock %}

