{% extends "template_confirm_delete.html" %}

{% block titulo %}Instalacion{% endblock %}

{% block table_rows %}
<tr><th>Estación</th><td>{{instalacion.est_id|default_if_none:""}}</td></tr>
<tr><th>Datalogger</th><td>{{instalacion.dat_id|default_if_none:""}}</td></tr>
<tr><th>Fecha inicio</th><td>{{instalacion.ins_fecha_ini|default_if_none:""}}</td></tr>
<tr><th>Fecha fin</th><td>{{instalacion.ins_fecha_fin|default_if_none:""}}</td></tr>
<tr><th>En uso</th><td>{% if instalacion.ins_en_uso == True %}Sí{% else %}No{% endif %}</td></tr>
<tr><th>Observación</th><td>{{instalacion.ins_observacion|default_if_none:""}}</td></tr>
{% endblock %}

{% block cancelar_url %}{% url 'instalacion:instalacion_index' %}{% endblock %}
