<html>
<head>
</head>

{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery=True %}


{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles/global_20210218.css' %}">


<body >

<div class="container centr">
    <div class="jumbotron transp-gris2 col-sm-6 float-sm-center">
        <div class="row">
            <h2>iMHEA</h2>
        </div>

        <div class="row" style="margin-top:20px">
            <h5>Por favor ingrese sus datos.</h5>
        </div>

        <div class="row" >
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_field form.username show_label=False %}
                {% bootstrap_field form.password show_label=False %}
                <button type="submit" class="btn btn-primary">Ingresar</button>
                <a class="btn btn-light"  href="{% url 'home:home' %}">Salir</a>
            </form>
                {% bootstrap_form_errors form %}
        </div>

    </div>

</div>


</body>
</html>
