{% if datos %}
<div class="col-md-5">
    <table style="font-size: 12px" class="table table-sm table-striped table-bordered table-sm">

        <thead>
        <tr>
            <th align="center" colspan='2'>Frecuencia de Registro Mensual</th>
        </tr>
        <tr>
            <th>Mes</th>
            <th>Porcentaje</th>
        </tr>

        </thead>
        <tbody>

        {% for item in datos %}

        <tr>
            <td>{{ item.mes }}</td>
            <td>{{ item.completo_mediciones }}</td>

        </tr>

        {% endfor%}

        </tbody>
    </table>
</div>
{%else%}
<div class="col-lg-5 col-md-5">
    <div class="alert alert-primary" role="alert">
        Información no Disponible
    </div>
</div>
{% endif %}


