{% extends "calidad/template_graficos.html" %}
{% load bootstrap4 %}

{% block javascript %}

{{ block.super }}

<script>

var graf = 1;

var colores = [
    "rgb(159, 0, 0)",
    "rgb(0, 159, 0)",
    "rgb(0, 0, 159)",
    "rgb(159, 159, 0)",
    "rgb(0, 159, 159)",
    "rgb(159, 0, 159)",
    "rgb(96, 48, 0)"
];



function cargar_datos(data){
    var graf = 1;
    $("#graf1").empty();
    var graficos = [];

    var step_border = 0.07;
    var n_variables_calidad = Object.keys(data.calidad).length;
    var layout_xaxis_domain_left = (parseInt(n_variables_calidad)-1) * step_border;

    var n_variables_hidro = Object.keys(data.hidro).length;
    var layout_xaxis_domain_right = 1 - Math.max(0, (parseInt(n_variables_hidro)-1) * step_border) ;

    var layout = {
        annotations: [{
            text: data.est_calidad.codigo + ' - ' + data.est_calidad.nombre + '  /  ' + data.est_hidro.codigo + ' - ' + data.est_hidro.nombre ,
            xref: 'paper',
            yref: 'paper',
            xanchor: 'center',
            yanchor: 'top',
            x: 0.5,
            y: 1.2,
            showarrow: false,
            font: {size: 18}
        }],
        showlegend: true,
        width: 1150,
        height: 500,
        xaxis: {
            domain: [layout_xaxis_domain_left, layout_xaxis_domain_right]
        },
        legend: {
            x: 0,
            y: -0.12,
            xanchor: 'left',
            yanchor: 'top',
            orientation: "h"
        },

    };



    for (const var_id in data.calidad){
        var v = data.calidad[var_id];
        var trace = {
            name: v.var_codigo,
            x: v.datos.fecha,
            y: v.datos.valor,
            line: {shape: 'spline', color: colores[graf - 1]},
            type: 'scatter',
        };

        if (graf == 1){
            layout['title'] = v.estacion;
            //trace['yaxis'] = 'y';
            layout['yaxis'] = {
                title: v.var_codigo + ' [' + v.var_unidad + ']' ,
                titlefont: {color: colores[graf - 1]},
                tickfont: {color: colores[graf - 1]},
            };
        }else {
            trace['yaxis'] = 'y' + graf;
            var layout_position = parseInt(n_variables_calidad - graf) * step_border;
            layout['yaxis' + graf ] = {
                title: v.var_codigo + ' [' + v.var_unidad + ']',
                titlefont: {color: colores[graf - 1]},
                tickfont: {color: colores[graf - 1]},
                anchor: 'free',
                overlaying: 'y',
                side: 'left',
                position: layout_position,
            };
        }

        graficos.push(trace);
        graf = graf + 1;
    }


    // variables hidro
    graf_hidro = 1;
    for (const var_id in data.hidro){
        var v = data.hidro[var_id];
        var trace = {
            name: v.var_codigo,
            x: v.datos.fecha,
            y: v.datos.valor,
        };

        if (v.var_es_acumulada){
            trace['type'] = 'bar';
            trace['marker'] = {color: colores[graf - 1]};
        }else {
            trace['line'] = {shape: 'spline', color: colores[graf - 1]};
            trace['type'] = 'scatter';
        }

        trace['yaxis'] = 'y' + graf;
        var layout_position = 1 - parseInt(n_variables_hidro - graf_hidro) * step_border;
        layout['yaxis' + graf ] = {
            title: v.var_codigo + ' [' + v.var_unidad + ']',
            titlefont: {color: colores[graf - 1]},
            tickfont: {color: colores[graf - 1]},
            anchor: 'free',
            overlaying: 'y',
            side: 'right',
            position: layout_position,
        };

        graficos.push(trace);
        graf = graf + 1;
        graf_hidro = graf_hidro + 1;
    }
    Plotly.newPlot('graf1', graficos, layout, {showSendToCloud: false, responsive: true});
}



function enviar_consulta(){
    $.ajax({
        url: "{% url 'calidad:consulta_comparar_hidro' %}",
        data: $("#form_calidad").serialize(),
        type:'POST',
        success: function (data) {
            $("#div_loading").hide();
            cargar_datos(data);
            $("#div_grafico").show();
        },
        error: function () {
            $("#div_grafico").hide();
            $("#div_loading").hide();
            $("#div_error").show();
        }
    });
};


$(document).ready(function() {
    $("select").addClass("use-placeholder");
    window.mostrar_label_dentro_de_select();


    $("#id_inicio").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "yy-mm-dd",
        showButtonPanel: true,
        yearRange:  ((new Date).getFullYear()-1) + ':'+(new Date).getFullYear()
    });

    $("#id_inicio").datepicker().focus(function () {
        $("#ui-datepicker-div").position({ my: "right top", at: "center bottom", of: $("#id_inicio")});
    })
    $("#id_inicio").datepicker().datepicker("setDate", new Date());
    
    
    $("#id_fin").datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "yy-mm-dd",
        showButtonPanel: true,
        yearRange:  ((new Date).getFullYear()-1) + ':'+(new Date).getFullYear()
    });

    $("#id_fin").datepicker().focus(function () {
        $("#ui-datepicker-div").position({ my: "right top", at: "center bottom", of: $("#id_fin")});
    })
    $("#id_fin").datepicker().datepicker("setDate", new Date());    

    $("#visualizar").click(function(){
        $("#div_error").hide();
        $("#graf1").empty();
        $("#div_grafico").hide();
        $("#div_loading").show();
        enviar_consulta();
    });

    $("#id_est_calidad").change(function () {
        var est_calidad_id = $(this).val();
        $.ajax({
            url: "{% url 'calidad:cargar_estaciones_hidro' %}",
            data: {
              'est_calidad_id': est_calidad_id
            },
            success: function (data) {
                $("#id_est_hidro").html(data);
            }
        });
    });

    var wh = window.innerHeight;
    $("#form_calidad").height(wh - 140);

});


</script>
{% endblock %}

{% block titulo %}Comparación Calidad - Hidrología{% endblock %}

{% block cen %}
<button id='visualizar' type='button' class='btn btn-primary' >Visualizar</button>
<a class="btn btn-secondary" href="{% url 'calidad:comparar_hidro' %}">Limpiar</a>
{% endblock %}

{% block formulario %}

    <style>
        #form_calidad {
            overflow-y: scroll;
        }
    </style>

    <form id="form_calidad" class="form" method="post">
        {% csrf_token %}
        {% bootstrap_field form.frecuencia size='small' show_label='sr-only' %}
        {% bootstrap_field form.inicio size='small' show_label='sr-only' %}
        {% bootstrap_field form.fin size='small' show_label='sr-only' %}

        <div style="display: inline-block;">
            {% bootstrap_field form.est_calidad size='small' show_label='sr-only'%}
            {% bootstrap_field form.profundidad size='small' show_label='sr-only' %}
            {% bootstrap_field form.var_calidad size='small' show_label='sr-only' %}
        </div>

        <div style="display: inline-block;">
            {% bootstrap_field form.est_hidro size='small' show_label='sr-only'%}
            {% bootstrap_field form.var_hidro size='small' show_label='sr-only' %}
        </div>
    </form>
{% endblock %}

{% block graficos %}
    <div id="graf1"></div>
{% endblock %}