{% extends "template_list.html" %}

{% block javascript %}

    {{ block.super }}

    <script>
    var btns = '';
    var table;

    {% if perms.calidad.view_usuariovariable %}
    btns = btns + window.btn_detalle_html("{% url 'calidad:usuariovariable_detail' 0 %}");
    {% endif %}
    
    {% if perms.calidad.change_usuariovariable %}
    btns = btns + "&nbsp;" + window.btn_editar_html("{% url 'calidad:usuariovariable_update' 0 %}");
    {% endif %}
    
    {% if perms.calidad.delete_usuariovariable %}
    btns = btns + "&nbsp;" + window.btn_eliminar_html("{% url 'calidad:usuariovariable_delete' 0 %}");
    {% endif %}


    $(document).ready(function() {
        table = $('#table_usuariovariable').DataTable({
            language: window.DATATABLES_LANGUAGE,
            scrollX: true,
            "scrollY": "420px",
            "scrollCollapse": true,
            "paging": false,
            "dom": '<"top"f>rt<"bottom"><"clear">',
            fixedColumns: { leftColumns: 2,},
            columnDefs: [
                { "targets": 0, "visible" : false, "searchable": false },
                { "targets": 3, "render" : function(data, type, row){ return btns;}  },
            ],
        });

        $('#div_loading').hide();
        $('#div_informacion').show();
        table.columns.adjust().draw();
    });




    </script>
{% endblock %}

{% block titulo %}CALIDAD DE AGUA: Permisos de usuario para variables{% endblock %}

{% block href_nuevo %}
    {% if perms.calidad.add_usuariovariable %}{% url 'calidad:usuariovariable_create' %}{% endif %}
{% endblock %}

{% block div_informacion_header %}

{% endblock %}

{% block div_informacion_content %}
    <style>
    tr>:nth-child(1) {min-width:  200px; max-width: 440px;}
    tr>:nth-child(2) {min-width:  400px; max-width: 600px;}

    </style>
    <table id="table_usuariovariable" class="table table-hover table-sm overflowtooltip" >
        <thead>
        <tr>
            <th>Id</th>
            <th>Usuario</th>
            <th>Variable(s)</th>
            <th>Acción</th>
        </tr>
        </thead>

        <tbody>
            {% for usrvar in object_list %}
            <tr>
                <td>{{ usrvar.usuario.pk }}</td>
                <td>{{ usrvar.usuario.username }}</td>
                <td>
                    <table>
                        {% for var in usrvar.variable.all %}
                        <tr><td>{{ var }}</td></tr>
                        {% endfor %}
                    </table>
                </td>
                <td></td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
{% endblock %}
