
table {background-color: rgba(220,220,220,0.7);}

.table tbody {
  display: block;
  max-height: 400px;
  overflow-y: scroll;
}

.table thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.table thead {
  overflow-y: scroll;
}

.btn-cambio{background-color: #BFBFFF;}

.seleccionado > .normal {background-color: #BFFFBF;}
.seleccionado > .error {background-color: #FFBFBF;}
.seleccionado > .sospechoso {background-color: #FFFFBF;}
.seleccionado > .salto {background-color: #FFFFBF;}

.seleccionado > .validado {background-color: #BFFFBF;}
.seleccionado > .cambio {background-color: #BFFFFF;}
.seleccionado > .no-validado {background-color: #DFDFDF;}
.no-seleccionado > .no-validado {background-color: #7F7F7F;}

.col1 {width: 18%;}
.col2 {width: 15%;}
.col3 {width: 12%;}
.col4 {width: 15%;}
.col5 {width: 10%;}
.col6 {width: 30%;}
