<!doctype html>
{% load bootstrap4 %}
{% load static %}
{% if 'use_i18n'|bootstrap_setting %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% endif %}
<html lang="{{ LANGUAGE_CODE|default:'en_us' }}" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>iMHEA</title>

    <!-- STYLESHEET CSS -->
    <!--       {%  bootstrap_css %}-->
    <link rel="stylesheet" href="{% static 'ext/jquery-ui-1.12.1/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'ext/bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'ext/fontawesome-free-5.13.0-web/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'ext/DataTables/datatables.min.css' %}" />


    <!--SCRIPTS-->
    <!--        {% bootstrap_javascript jquery=True %}-->
    <!--        Se usa jquery 3.4.1 para compatibilidad con popper -->

    <script crossorigin="anonymous" src="{% static 'ext/jquery3.4.1/jquery.min.js' %}"></script>
    <script crossorigin="anonymous" src="{% static 'ext/jquery-ui-1.12.1/jquery-ui.js' %}"></script>
    <script crossorigin="anonymous" src="{% static 'ext/popper-core_v1.16.1-lts/umd/popper.min.js' %}"></script>
    <script crossorigin="anonymous" src="{% static 'ext/bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'ext/DataTables/datatables.min.js' %}"></script>

    <script src="{% static 'scripts/global.js' %}"></script>

    {% block javascript %}
    {% endblock %}

    {% bootstrap_messages %}

</head>


<body>

    <main role="main" class="container py-2">
        {% block content %}
        {% endblock %}
    </main>



</body>

</html>