{% extends "index.html" %}

{% block title %}Pagina Principal{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-lg-4 col-md-5 col-sm-4 d-none d-md-block">

                <img src="/media/Portada-SEDC.jpg" class="img-fluid img-thumbnail" alt="My image">

        </div>
        <div class="col-lg-8 col-md-7 col-sm-12">

            <h1 class="display-4 text-primary">SEDC </h1>
            <h4 class="text-secondary">Sistema de Estandarización de Datos Crudos Hidroclimáticos</h4>
            <div class="row">
                <div class="col-lg-3 col-md-5 col-sm-6">

                    <div class="list-group" id="list-tab" role="tablist">
                      <a class="list-group-item list-group-item-action text-center" data-toggle="list" href="{% url 'datalogger:datalogger_index' %}" role="tab" aria-controls="Dataloggers">Dataloggers</a>
                      <a class="list-group-item list-group-item-action text-center" data-toggle="list" href="{% url 'sensor:sensor_index' %}" role="tab" aria-controls="Sensores">Sensores</a>
                      <a class="list-group-item list-group-item-action text-center" data-toggle="list" href="{% url 'estacion:estacion_index' %}" role="tab" aria-controls="Estaciones">Estaciones</a>
                      <a class="list-group-item list-group-item-action text-center" data-toggle="list" href="{% url 'variable:variable_index' %}" role="tab" aria-controls="Variables">Variables</a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7 col-sm-12">
                    <p class="text-justify">
                        Permite administrar, controlar, integrar, estandarizar y operar la Red Hidrometeorológica del FONAG conformada por 24 estaciones (hidrológicas, meteorológicas y pluviométricas)
                    </p>
                    <p class="text-justify">
                        Además es una herramienta avalada por el <strong>FONAG</strong> que facilita la optimización de recursos para consolidar y procesar gran cantidad de información en corto tiempo y fundamental para difundir información hidroclimática de calidad y de forma oportuna.
                    </p>
                </div>
            </div>

            <!--<div class="d-none d-lg-block">
                <p class="text-justify">
                Los siguientes son links de accesos rápido, pero puedes encontrar más opciones en el menú principal
                </p>
                <div class="container">
                    <a role="button" class="btn btn-primary"
                       href="{% url 'datalogger:datalogger_index' %}">
                        Datalogger</a>
                    <a role="button" class="btn btn-primary"
                       href="{% url 'sensor:sensor_index' %}">
                        Sensor</a>
                    <a role="button" class="btn btn-primary"
                       href="{% url 'estacion:estacion_index' %}">
                        Estación</a>
                    <a role="button" class="btn btn-primary"
                       href="{% url 'variable:variable_index' %}">
                        Variable</a>
                    <a role="button" class="btn btn-primary"
                       href="{% url 'variable:control_index' %}">
                        Instalaciones</a>
                </div>
            </div>-->
            


        </div>


    </div>


{% endblock %}
