<html>

{# Load the tag library #}
{% load bootstrap4 %}


{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
    {% load static %}
    <script src="{% static 'functions.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<body>
<nav class="navbar navbar-expand navbar-dark bg-info">
    <a class="navbar-brand mr-md-auto" href="/reportes">SEDC</a>

    <!-- Collect the nav links, forms, and other content for toggling -->

        <ul class="navbar-nav mr-3">
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'reportes:anuario' %}">Anuario Hidroclimático</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'reportes:consultas_periodo' %}">Consultas por Periodo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'reportes:comparacion_reporte' %}">Comparar entre Estaciones</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{% url 'reportes:comparacion_variable' %}">Comparar entre Variables</a>
            </li>
            <!--<li class="nav-item dropdown">

                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-expanded="false">
                    Reportes<span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                    <a class="dropdown-item" href="{% url 'reportes:anuario' %}">Anuario</a>

                    <a class="dropdown-item" href="{% url 'reportes:consultas_periodo' %}">Consultas por Periodo</a>
                    <a class="dropdown-item" href="{% url 'reportes:comparacion_reporte' %}">Comparar 3 estaciones</a>
                    <a class="dropdown-item" href="{% url 'reportes:comparacion_variable' %}">Comparar 2 variables</a>
                </div>
            </li>-->


        </ul>


</nav>
{% block javascript %}{% endblock %}
<div class="container" style="margin-top:20px;">
    {% block content %}
    {% endblock %}
</div>


</body>
</html>
