<html>

{# Load the tag library #}
{% load bootstrap4 %}


{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!--<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>-->
    {% load static %}
    <script src="{% static 'functions.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />


    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
</head>

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">SEDC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Administración
                    <span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'marca:marca_index' %}">Marcas: Sensores y Datalogger</a>
                    <a class="dropdown-item" href="{% url 'estacion:estacion_index' %}">Estaciones</a>
                    <a class="dropdown-item" href="{% url 'variable:unidad_index' %}">Unidades</a>
                    <a class="dropdown-item" href="{% url 'variable:variable_index' %}">Variables</a>
                    <a class="dropdown-item" href="{% url 'datalogger:datalogger_index' %}">Dataloggers</a>
                    <a class="dropdown-item" href="{% url 'sensor:sensor_index' %}">Sensores</a>
                    <a class="dropdown-item" href="{% url 'medicion:curvadescarga_index' %}">Curvas de Descarga</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'cruce:cruce_index' %}">Variables por Estación</a>
                    <a class="dropdown-item" href="{% url 'frecuencia:frecuencia_index' %}">Frecuencia de Registro</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'formato:extension_index' %}">Extensiones</a>
                    <a class="dropdown-item" href="{% url 'formato:delimitador_index' %}">Delimitadores</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                aria-haspopup="true" aria-expanded="false">Mantenimiento
                    <span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'variable:control_index' %}">Instalaciones Sensores</a>
                    <a class="dropdown-item" href="{% url 'instalacion:instalacion_index' %}">Instalaciones Dataloggers</a>
                    <a class="dropdown-item" href="{% url 'bitacora:bitacora_index' %}">Historial</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Importacion
                    <span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'formato:formato_index' %}">Formatos de Importación</a>
                    <a class="dropdown-item" href="{% url 'formato:asociacion_index' %}">Formatos por Estación</a>
                    <a class="dropdown-item" href="{% url 'importacion:importacion_create'%}">Importar Archivo</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'vacios:vacios_index' %}">Vacios de Información</a>
                    <a class="dropdown-item" href="{% url 'vacios:dias' %}">Registro de Vacios por días</a>
                    <a class="dropdown-item" href="{% url 'reportes:estacion_variable' %}">Datos Crudos por Estación</a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-expanded="false">
                    Análisis de Datos<span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="{% url 'medicion:medicion_filter' %}">Validación Datos Crudos</a>
                    <a class="dropdown-item" href="{% url 'anuarios:anuarios_procesar' %}">Procesar Anuario</a>
                    <a class="dropdown-item" href="{% url 'indices:doblemasa' %}">Doble Masa</a>
                    <a class="dropdown-item" href="{% url 'validacion:diaria' %}">Validación Diaria</a>
                    <!--<a class="dropdown-item" href="{% url 'horario:porcentaje' %}">Porcentaje Horario</a>
                    <a class="dropdown-item" href="{% url 'mensual:frecuencia' %}">Porcentaje Mensual</a>-->
                    
                </div>
            </li>

            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   role="button" aria-haspopup="true" aria-expanded="false">
                    Reportes<span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                    <a class="dropdown-item" href="{% url 'reportes:anuario' %}">Anuario</a>
                    <a class="dropdown-item" href="{% url 'reportes:consultas_periodo' %}">Consultas por Periodo</a>
                    <a class="dropdown-item" href="{% url 'reportes:consultas_sistema' %}">Consultas por Sistema Cuenca</a>
                    <a class="dropdown-item" href="{% url 'reportes:reporte_inamhi' %}">Consultar Información INAMHI</a>
                    <a class="dropdown-item" href="{% url 'reportes:comparacion_reporte' %}">Comparar 3 estaciones</a>
                    <a class="dropdown-item" href="{% url 'reportes:comparacion_variable' %}">Comparar 2 variables</a>

                </div>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Metadata
                    <span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'registro:logmedicion_index' %}">Datos Crudos</a>
                    <a class="dropdown-item" href="{% url 'importacion:importacion_index' %}">Archivos Importados</a>
                    <a class="dropdown-item" href="{% url 'importacion:importacion_automatica' %}">Lectura Automatica</a>
                </div>
            </li>
            <!--<li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Indices
                    <span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'indices:doblemasa' %}">doble Masa</a>
                </div>
            </li>-->
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Indicadores
                    <span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <a class="dropdown-item" href="{% url 'indices:precipitacion' %}">Precipitación</a>
                    <a class="dropdown-item" href="{% url 'indices:caudal' %}">Caudales</a>
                    <a class="dropdown-item" href="{% url 'indices:intensidad' %}">Intensidad - Duración</a>
                    <a class="dropdown-item" href="{% url 'indices:duracaudal' %}">Duración Caudal</a>

                </div>

            </li>


            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">Telemetria
                    <span class="caret"></span></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'telemetria:visualizar' %}">Visualizar variables</a>
                    <a class="dropdown-item" href="{% url 'telemetria:mapa_alarma_transmision' %}">Mapa transmisión</a>
                    <a class="dropdown-item" href="{% url 'telemetria:precipitacion' %}">Precipitación</a>
                    <a class="dropdown-item" href="{% url 'telemetria:multiestacion_precipitacion' %}">Precipitación Multiestación</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'telemetria:configvisualizar_list' %}">Configurar visualización</a>
                    <a class="dropdown-item" href="{% url 'telemetria:config_alarma_list' %}">Configurar alarma</a>

                </div>

            </li>

        </ul>
        <span class="navbar-text">

            {% if user.is_authenticated %}
            <a href="#">{{user.get_username}}</a>
            <a href="{% url 'logout'%}?next={{request.path}}">Logout</a>
            {% else %}
            <a href="{% url 'login'%}?next={{request.path}}">Login</a>
            {% endif %}
        </span>
    </div><!-- /.navbar-collapse -->
</nav>
{% block javascript %}{% endblock %}
<div class="container" style="margin-top:20px;">
    {% block content %}
    {% endblock %}
</div>


</body>
</html>
