{% load static %}
{% load i18n %}
{% load rest_framework %}

<div class="navbar navbar-static-top {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}" role="navigation"
  aria-label="{% trans 'navbar' %}">
  <div class="container">
    <span>
      {% block branding %}
      <a class='navbar-brand' rel="nofollow" href='/'>
        Paricia
      </a>
      {% endblock %}
    </span>

    <ul class="nav navbar-nav pull-left">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDataMenuLink" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Data<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="navbarStationMenuLink">
          <li><a class="dropdown-item" href="/validated/daily_validation">Validation</a></li>
          <li><a class="dropdown-item" href="/validated/data_report">Reports</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarStationMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Station<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="navbarStationMenuLink">
          <li><a class="dropdown-item" href="/station/country">Country</a></li>
          <li><a class="dropdown-item" href="/station/region">Region</a></li>
          <li><a class="dropdown-item" href="/station/ecosystem">Ecosystem</a></li>
          <li><a class="dropdown-item" href="/station/institution">Institution</a></li>
          <li><a class="dropdown-item" href="/station/stationtype">Station Type</a></li>
          <li><a class="dropdown-item" href="/station/place">Place</a></li>
          <li><a class="dropdown-item" href="/station/basin">Basin</a></li>
          <li><a class="dropdown-item" href="/station/placebasin">Place Basin</a></li>
          <li><a class="dropdown-item" href="/station/station">Station</a></li>
          <li><a class="dropdown-item" href="/station/delta_t">Delta T (Station)</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarVariableMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Variable<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="navbarVariableMenuLink">
          <li><a class="dropdown-item" href="/variable/unit">Unit</a></li>
          <li><a class="dropdown-item" href="/variable/variable">Variable</a></li>
          <li><a class="dropdown-item" href="/variable/sensorinstallation">Sensor Installation</a></li>
          <!--                <li><a class="dropdown-item" href="/variable/variable/limits">Variable Limits</a></li>-->
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarSensorMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Sensor<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="navbarSensorMenuLink">
          <li><a class="dropdown-item" href="/sensor/sensortype">Sensor Type</a></li>
          <li><a class="dropdown-item" href="/sensor/sensorbrand">Sensor Brand</a></li>
          <li><a class="dropdown-item" href="/sensor/sensor">Sensor</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarFormattingMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Formatting<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="navbarFormattingMenuLink">
          <li><a class="dropdown-item" href="/formatting/extension">Extension</a></li>
          <li><a class="dropdown-item" href="/formatting/delimiter">Delimiter</a></li>
          <li><a class="dropdown-item" href="/formatting/date">Date</a></li>
          <li><a class="dropdown-item" href="/formatting/time">Time</a></li>
          <li><a class="dropdown-item" href="/formatting/format">Format</a></li>
          <li><a class="dropdown-item" href="/formatting/classification">Classification</a></li>
          <li><a class="dropdown-item" href="/formatting/association">Association</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarImportingMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Importing<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="navbarImportingMenuLink">
          <li><a class="dropdown-item" href="/importing/data_import_temp">Data import (Temporal)</a></li>
          <li><a class="dropdown-item" href="/importing/data_import_full">Data import (Full)</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarManagementMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Management<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="navbarManagementMenuLink">
          <li><a class="dropdown-item" href="/management/register">Register</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarMeasurementMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          API<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="navbarMeasurementMenuLink">
          <li><a class="dropdown-item" href="api/measurement/measurement">Measurements</a></li>
          <li><a class="dropdown-item" href="api/measurement/report">Reports</a></li>
        </ul>
      </li>

      <li class="nav-item dropdown pull-right">
        <a class="nav-link dropdown-toggle" href="#" id="navbarAdminMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Admin<span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="navbarAdminMenuLink">

          {% if user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin site</a>
          </li>
          {% endif %}

          {% if user.is_authenticated %}
          <li class="nav-item">
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <input class="nav-link" type="submit" value="Logout"
                style="border:none;border-color:transparent;background-color:transparent;" />
            </form>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/api-auth/login">Login</a>
          </li>
          {% endif %}

        </ul>
      </li>

    </ul>
  </div>
</div>