{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
  <h2>
    {% block title %}
      {{ title }}
    {% endblock title %}
    object detail
  </h2>
  <!-- Action buttons -->
  <div class="row">
    <div class="col">
      <a href="{% url list_url %}" class="btn btn-success">Return to list</a>
      <a href="{% url edit_url pk %}" class="btn btn-warning">Edit</a>
      {% if delete_url %}
        <a href="{% url delet_url %}" class="btn btn-danger">Delete</a>
      {% endif %}
    </div>
  </div>
  <!-- Object details -->
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th>Field</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {% for field in form %}
            <tr>
              <td>{{ field.label }}</td>
              <td>{{ field.value }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
