{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  <h2>
    {% block title %}
      {{ title }}
    {% endblock title %}
    object detail
  </h2>
  <!-- Action buttons -->
  <div class="row">
    <div class="col">
      <a href="{% url list_url %}" class="btn btn-success">Return to list</a>
      <a href="{% url edit_url pk %}" class="btn btn-warning">Edit</a>
      {% if delete_url %}
        <a href="{% url delet_url %}" class="btn btn-danger">Delete</a>
      {% endif %}
    </div>
  </div>
  <!-- Object details -->
  <div class="row">
    <div class="col">
      <p>&nbsp;</p>
      {% bootstrap_form form layout='horizontal' %}
    </div>
  </div>
{% endblock content %}
