{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}
{% block content %}
  <h2>
    {% block title %}
      {{ title }}
    {% endblock title %}
  </h2>
  <!-- Action buttons -->
  <a href="{% url list_url %}" class="btn btn-success">Refresh</a>
  <a href="{% url create_url %}" class="btn btn-warning">New</a>
  <p>&nbsp;</p>
  <!-- Filter -->
  {% if filter %}
    <form action="" method="get" class="form form-inline">
      <div class="row">
        <div class="col-lg-6">{% bootstrap_form filter.form layout='horizontal' %}</div>
        <div class="col-lg-6">
          <button type="submit" class="btn btn-info">Filter</button>
        </div>
      </div>
    </form>
  {% endif %}
  <!-- Table -->
  {% render_table table %}
{% endblock content %}
