{% extends "base.html" %}
{% load static %}

{% block javascript %}

<script>
$( document ).ready(function() {
    $(".barra-sup .btn").each(function(){
        var href = $(this).attr("href");
        if (typeof href !== typeof undefined && href !== false && href !== "" ) {
            $(this).show();
        }
    });

    $.fn.DataTable.ext.pager.numbers_length = 5;
});
</script>

<style>
div.dataTables_scrollBody {
 background: rgba(255, 255, 255, 0.4) !important;
}

.dataTables_filter {
    text-align: left !important;
}

.dataTables_paginate {
    display: inline-block;
}

.bottom {
    text-align: center;
}

</style>
{% endblock %}


{% block content %}
<div class="row transp-blanco barra-sup">
    <div class="col-md-auto align-self-start"><h5>{% block izq %}{% block titulo %}{% endblock %} / Listar{% endblock %}</h5></div>
    <div class="col-md-auto align-self-center">{% block cen %}{% endblock %}</div>
    <div class="col-md-auto align-self-end">{% block der %}
        <a class="btn btn-primary float-right" href="{% spaceless %}{% block href_nuevo %}{% endblock %}{% endspaceless %}" style="display:none;">Nuevo</a>
        <a class="btn btn-outline-info float-right" href="{% spaceless %}{% block href_exportar %}{% endblock %}{% endspaceless %}" style="display:none;">Exportar</a>
        {% endblock %}
    </div>
</div>

<div class="row mt-2 transp-blanco">
    <div class="col">

        <div id="div_loading" class="centr-h mt-5" >
            <div class="spinner-border text-primary" role="status"><span class="sr-only">Cargando...</span></div>
        </div>

        <div id="div_error" class="centr-h mt-5" style="display:none;" >
            <div class="alert alert-danger alert-dismissible" role="alert">
                Ocurrio un problema con el procesamiento de la información, por favor intentelo nuevamente
            </div>
        </div>

                                                            <!--  min-width: 300px; max-width: 800px; >-->
        <div id="div_informacion" style="{% block div_informacion_style %}display:none;{% endblock %}">
            <div class="row p-2"><div class="col">{% block div_informacion_header %}{% endblock %}</div></div>
            {% block div_informacion_content %}{% endblock %}
        </div>

    </div>
</div>
{% endblock %}
