[Unit]
 
Description=Lectura Automatica
#After=network.target mysql.service

[Service]
User=paul
ExecStart=/home/developer/web/sedc_web/scripts/telemetricas.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
