
{% load bootstrap3 %}
<script>
  $( function() {
    $("#btn_guardar").click(function(){
      guardar_registro();
    });
    $("#btn_cancelar_update").click(function(){
        var isOpen = $( "#div_edit" ).dialog( "isOpen" );
        if (isOpen) {
            $( "#div_edit" ).dialog( "close" );
        }
        else {
            $( "#div_create" ).dialog( "close" );
        }

    });
  });
</script>
<div class="col-lg-12 col-md-12 col-sm-12">
    <form id="form_save" method="post" class="form" action="{{url}}">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button id="btn_guardar" type="button" class="btn btn-default btn-primary">
            Guardar
        </button>
        <button id="btn_cancelar_update" type="button" class="btn btn-default btn-default">
            Cancelar
        </button>
    </form>
</div>

