{% extends "template_detail.html" %}

{% block titulo %}Formato de importacion / Asociación formato-estación{% endblock %}

{% block table_rows %}
<tr><th>Formato</th><td>{{asociacion.for_id|default_if_none:""}}</td></tr>
<tr><th>Estación</th><td>{{asociacion.est_id|default_if_none:""}}</td></tr>
{% endblock %}

{% block url_change %}
{% if perms.Formato.change_asociacion %}{% url 'formato:asociacion_update' asociacion.aso_id %}{% endif %}
{% endblock %}

{% block url_back %}{% url 'formato:asociacion_index' %}{% endblock %}
