{% extends "template_list.html" %}
{% load bootstrap4 %}

{% block javascript %}

    {{ block.super }}

    <script>

    $(document).ready(function() {

        $('#div_loading').hide();
        $('#div_informacion').show();

        $("#btn_add_var").click(function(){

            $.ajax({
                url: $(this).attr('href'),
                type:'GET',
                beforeSend: function () {
                },
                success: function (data) {
                    $('.modal-title').html('Agregar variable');
                    $(".modal .modal-body").html(data);
                    $(".modal").modal();
                },
                error: function () {
                    debugger;
                }

            });
            return false;
        });


        $(".btn-vie-var").click(function(){
            $.ajax({
                url: $(this).attr('href'),
                type:'GET',
                beforeSend: function () {
                },
                success: function (data) {
                    $('.modal-title').html('Detalle de variable en formato');
                    $(".modal .modal-body").html(data);
                    $(".modal").modal();
                },
                error: function () {
                }
            });
            return false;
        });


        $(".btn-del-var").click(function(){
            $.ajax({
                url: $(this).attr('href'),
                type:'GET',
                beforeSend: function () {
                },
                success: function (data) {
                    $('.modal-title').html('Eliminar variable en formato');
                    $(".modal .modal-body").html(data);
                    $(".modal").modal();
                },
                error: function () {
                }
            });
            return false;
        });


        $(".btn-upd-var").click(function(){
            $.ajax({
                url: $(this).attr('href'),
                type:'GET',
                beforeSend: function () {
                },
                success: function (data) {
                    $('.modal-title').html('Editar variable en formato');
                    $(".modal .modal-body").html(data);
                    $(".modal").modal();
                },
                error: function () {
                }
            });
            return false;
        });


        tablef = $("#table_formato").DataTable({
            scrollX: true,
            "dom": 'rt',
            language: {
                "zeroRecords": " ",
                "infoEmpty": "",
                },
        });

        tablev = $("#table_variable").DataTable({
            fixedColumns: { leftColumns: 1,},
            scrollX: true,
            "dom": 'rt',
            language: {
                "zeroRecords": " ",
                "infoEmpty": "",
                },
        });

        $('#div_informacion').show();
        tablef.columns.adjust().draw();
        tablev.columns.adjust().draw();

    });

    </script>

{% endblock %}


{% block titulo %}Formato de importación / {{formato.for_nombre}}{% endblock %}

{% block der %}
    <a class="btn btn-primary float-right" id="btn_add_var" href="{% url 'formato:clasificacion_create' formato.for_id %}">
        Agregar variable</a>
{% endblock %}


{% block div_informacion_content %}
    <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body"></div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>


    <style>

    </style>
    <table id="table_formato" class="table table-hover table-sm display nowrap">
        <thead style="display:none;">
            <tr><td>1</td><td>2</td><td>3</td><td>4</td></tr>
        </thead>
        <tbody>
            <tr>
                <th>Nombre</th><td>{{formato.for_nombre}}</td>
                <th>Descripción</th><td>{{formato.for_descripcion}}</td>
            </tr>
            <tr>
                <th>Extensión</th><td>{{formato.ext_id}}</td>
                <th>Delimitador</th><td>{{formato.del_id}}</td>
            </tr>
            <tr>
                <th>Fila de inicio</th><td>{{formato.for_fil_ini}}</td>
                <th>Fila de cola</th><td>{{formato.for_fil_cola|default_if_none:""}}</td>
            </tr>
            <tr>
                <th>Formato de Fecha</th><td>{{formato.fec_id}}</td>
                <th>Columna fecha</th><td>{{formato.for_col_fecha}}</td>
            </tr>
            <tr>
                <th>¿Es fecha UTC? (Resta 5 horas)</th><td>{% if  formato.es_fecha_utc == True %}Sí{%else%}No{% endif %}</td>
                <th></th><td></td>
            </tr>
            <tr>
                <th>Formato de Hora</th><td>{{formato.hor_id}}</td>
                <th>Columna hora</th><td>{{formato.for_col_hora}}</td>
            </tr>
        </tbody>
    </table>

<!--    <div class="mt-3"></div>-->

    <table id="table_variable" class="table table-hover table-sm mt-2 display nowrap">
        <thead>
            <tr>
                <th>Variable</th>
                <th>Sep. decimal</th>
                <th>Col. valor</th>
                <th>Col. máximo</th>
                <th>Col. mínimo</th>
                <th>¿Es incremental?</th>
                <th>¿Acumular a 5 minutos?</th>
                <th>Resolución</th>
                <th>Acción</th>
            </tr>
        </thead>

        <tbody>
        {% for item in variable %}
        <tr>
            <td>{{ item.var_id }}</td>
            <td>{% if item.coma_decimal %}Coma{% else %}Punto{% endif %}</td>
            <td>{{ item.cla_valor }}</td>
            <td>{{ item.cla_maximo|default_if_none:"--" }}</td>
            <td>{{ item.cla_minimo|default_if_none:"--" }}</td>
            <td>{% if item.incremental %}Sí{% else %}No{% endif %}</td>
            <td>{% if item.acumular %}Sí{% else %}No{% endif %}</td>
            <td>{{ item.resolucion|default_if_none:"--" }}</td>

            <td>
                <a class="btn-vie-var" href="{% url 'formato:clasificacion_detail' item.cla_id %}">
                    <i class='fas fa-eye fa-sm fa-fw'></i></a>
                {% if perms.formato.change_formato %}
                <a class="btn-del-var" href="{% url 'formato:clasificacion_delete' item.cla_id %}">
                    <i class='fas fa-trash fa-sm fa-fw'></i></a>
                <a class="btn-upd-var" href="{% url 'formato:clasificacion_update' item.cla_id %}">
                    <i class='fas fa-pen fa-sm fa-fw'></i></a>
                {% endif %}
            </td>

        </tr>
        {% endfor%}
        </tbody>
    </table>


{% endblock %}