{% extends "base.html" %}
{% block content %}
{% load bootstrap4 %}
{% load static %}

<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{% static 'scripts/indices.js' %}"></script>
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>

<!--script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></--script>
<script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF/jspdf.min.js"></script>
<script src="https://unpkg.com/tableexport.jquery.plugin/libs/jsPDF-AutoTable/jspdf.plugin.autotable.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/export/bootstrap-table-export.min.js"></script-->

<div class="titulo row">
    <div class="col-lg-10 col-sm-10">
        <h3>Curva de Duración de Caudal Específico Multiestación</h3>
    </div>
</div>

<div class=" filtro row">
    <div class="col-lg-12">
        <p class="text-info"><strong>Información: </strong>Comparar la curva de duración de caudal específico de las
            estaciones hidrológicas de la red integrada </p>
    </div>
</div>


<div class="row filtro " style="margin-right: 10px; margin-left: 10px;">

    <div class=" col-lg-10 col-md-10 col-sm-9">
        <center>
            <form id="form_curva_descarga" method="post" action="{% url 'indices:duracaudalmulti' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <label>Estaciones</label>
                        <div style="height:200px; overflow-x:hidden ; overflow-y: scroll; padding-bottom:10px; text-align: left;">
                            {% bootstrap_field form.estacion show_label=False %}
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-6  col-xs-12">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" >{% bootstrap_field form.inicio layout='horizontal' %}</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">{% bootstrap_field form.fin layout='horizontal' %}</div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <button id='btn_visualizar' type='button' class='btn btn-success'>Visualizar</button>
                        </div>
                    </div>
                </div>
                <br>
            </form>
        </center>
        

    </div>
</div>
<div id="div_informacion" class="transp-blanco ">
    <center>
        <div id="grficosf"></div>
        <div class="row">
            <p class="text-primary col-lg-3 col-md-3 col-sm-1"></p>
            <p id="tbtitle" class="text-primary col-lg-6 col-md-6 col-sm-10"> </p>
            <p class="text-primary col-lg-3 col-md-3 col-sm-1"></p>
        </div>
    </center>
    
    <table id="table" class="transp-blanco table table-bordered table-hover "
           data-height="400">
        <thead>

        </thead>
    </table>
</div>

<div id="div_loading" class="row" style="display:none;">
    <div class="col-lg-3 col-md-2 col-sm-1">&nbsp;</div>
    <div class="col-lg-6 col-md-8 col-sm-10">
        <img src="/static/images/loading6.gif"/>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-1">&nbsp;</div>
</div>

<div id="div_error" class="row col-lg-12 col-md-12 col-sm-12" style="display:none;">
    <div id="msjError" class="alert alert-danger alert-dismissible" role="alert">
        Ocurrio un problema con el procesamiento de la información, por favor intentelo nuevamente
    </div>
</div>
<div id="espacio" style="padding-bottom:200px;">

</div>
{% endblock %}