{% extends "index.html" %}
{% block content %}
{% load bootstrap4 %}

<div class="card">
    <!-- Default panel contents -->
    <div class="card-header">
        <div class="row">
            <div class="col-lg-9">
                <h4>Lista de Variables de la Red Hidrometeorológica</h4>
            </div>
            <div class="col-lg-3">
                <a style="float:right" class="btn btn-info"
                   href="{% url 'variable:variable_create' %}">
                    Nuevo</a>
            </div>
        </div>
    </div>

    <div class="card-body">
        <table class="table table-striped table-bordered table-sm">
            <thead>
            <tr>
                <th>Código</th>
                <th>Nombre</th>
                <th>Unidad</th>
            </tr>
            </thead>
            <tbody>
            {% for item in object_list %}
            <tr>
                <td>{{ item.var_codigo}}</td>
                <td>{{ item.var_nombre}}</td>
                <td>{{ item.uni_id}}</td>
                <td>
                    <a href="{% url 'variable:variable_detail' item.var_id %}">
                        <span class="far fa-eye" aria-hidden="true"></span>
                    </a>
                    <a href="{% url 'variable:variable_update' item.var_id %}">
                        <span class="far fa-edit" aria-hidden="true"></span>
                    </a>
                    <a href="{% url 'variable:variable_delete' item.var_id %}">
                        <span class="far fa-trash-alt" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>

            {% endfor%}

            </tbody>
        </table>

        {% if is_paginated %}
        <nav aria-label="Page navigation" style="float:right">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item"><a class="page-link" href="{% url 'variable:variable_index' first %}">&lt;&lt;</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'variable:variable_index' page_obj.previous_page_number %}">&lt;</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&lt;</a></li>
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&lt;&lt;</a></li>
                {% endif %}

                {% for i in range %}
                {% if page_obj.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{ i }}<span class="sr-only">(current)</span></a></li>
                {% else %}
                <li class="page-item"><a class="page-link" href="{% url 'variable:variable_index' i%}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item"><a class="page-link" href="{% url 'variable:variable_index' page_obj.next_page_number %}">&gt;</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'variable:variable_index' last %}">&gt;&gt;</a></li>
                {% else %}
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&gt;</a></li>
                <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">&gt;&gt;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    {% endblock %}
