{% extends "template_confirm_delete.html" %}

{% block titulo %}Variable{% endblock %}

{% block table_rows %}
<tr><th>Código</th><td>{{variable.var_codigo}}</td></tr>
<tr><th>Nombre</th><td>{{variable.var_nombre}}</td></tr>
<tr><th>Unidad</th><td>{{variable.uni_id}}</td></tr>
<tr><th>Máximo</th><td>{{variable.var_maximo|default_if_none:""}}</td></tr>
<tr><th>Mínimo</th><td>{{variable.var_minimo|default_if_none:""}}</td></tr>
<tr><th>Incremento sospechoso</th><td>{{variable.var_sos|default_if_none:""}}</td></tr>
<tr><th>Incremento error</th><td>{{variable.var_err|default_if_none:""}}</td></tr>
<tr><th>Sigmas (outliers)</th><td>{{variable.var_min|default_if_none:""}}</td></tr>
<tr><th>Acumulada/Promedio</th><td>{% if variable.es_acumulada %}Acum.{% else %}Prom.{% endif %}</td></tr>
<tr><th>Reporte automático</th><td>{% if variable.reporte_automatico %}Si{% else %}No{% endif %}</td></tr>
<tr><th>Umbral para completo</th><td>{{variable.umbral_completo|default_if_none:""}}</td></tr>
{% endblock %}

{% block cancelar_url %}{% url 'variable:variable_index' %}{% endblock %}
