
body {
 /*  min-height: 75rem;  */
  padding-top:4rem; /* Dar espacio abajo barra navegacion navbar fixed-top */
}

/*
body{
    font-size: small;
}
*/

body {
    background: url('../images/fondo1.jpg') ; /* Referencia: static/styles/. */
    background-color: rgb(127,127,127);
    background-blend-mode: screen;
    background-repeat: repeat;
    background-attachment: fixed;
    min-height: 25%;
    min-width: 25%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.blanco {background-color: rgb(255,255,255);}

 /* fondo transparentes (Probado en Mozilla y Chrome: talvez no funcion en IE)*/
.transp-negro {background-color: rgba(0,0,0,0.6);}

.transp-blanco {background-color: rgba(255,255,255,0.6);}

.transp-gris1 {background-color: rgba(63,63,63,0.6);}
.transp-gris2 {background-color: rgba(127,127,127,0.6);}
.transp-gris3 {background-color: rgba(190,190,190,0.6);}

.transp-rojo {background-color: rgba(255,190,190,0.6);}
.transp-amarillo {background-color: rgba(255,255,190,0.6);}
.transp-verde {background-color: rgba(190,255,190,0.6);}
.transp-cyan {background-color: rgba(190,255,255,0.6);}
.transp-azul {background-color: rgba(190,190,255,0.6);}
.transp-magenta {background-color: rgba(255,190,255,0.6);}

#content-foot img {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: -10;
}


#menu_navbar {
  width: 100%;
  transition: top 0.5s;
}

.nav-item a:hover {
  background-color: #ddd;
  color: black;
}


.centr-h {
    /* centrar contenido horizontalmente */
    text-align: center;
}

.centr-v {
    /* centrar contenido verticalmente */
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.centr {
    /* centrar contenido en horizontal y vertical */
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.ajust-a-cont {
    /* Ajusta su tamaño de acuerdo a su contenido */
    display: inline-block
}



.placeholder{color: grey;}
select option:first-child{color: grey;}


/* Texto dentro de celda se corta con ... en overflow */
th, td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*  botón xtra small para bootstrap 4  */

.btn-group-xs > .btn, .btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}


.DTFC_LeftBodyLiner {
    overflow-x: hidden;
}

.val_fond {
  background-color: #ffffff;
  padding: 5px;
}
.normal {background-color: #BFFFBF  !important;}
.error {background-color: #FFBFBF   !important;}
.sospechoso {background-color: #FFFFBF  !important;}
.validado {background-color: #cce5ff    !important;}
.no-seleccionado {background-color: #7F7F7F !important;}