.table-fixed thead,
.table-fixed tfoot{
  width: 97%;
}

.table-fixed tbody {
  height: 230px;
  overflow-y: auto;
  width: 100%;
}

.table-fixed thead,
.table-fixed tbody,
.table-fixed tfoot,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
  display: initial;
}

.table-fixed tbody td,
.table-fixed thead > tr> th,
.table-fixed tfoot > tr> td{
  float: left;
  border-bottom-width: 0;
}

form{
margin-bottom:0
}


.legend {

    color: #555;
    padding: 6px 8px;
    font: 14px/25px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.introduccion {
    padding-top:10px;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;

}

.leaflet-top {
    width: 100%;
    padding-right: 20px;
}
.leaflet-left {

}


.div-hiden{
    display:none  !important;
}
.div-show{
    display:block !important;
}
/*
.normal {background-color: #BFFFBF  !important;}
.error {background-color: #FFBFBF   !important;}
.warning {background-color: #FFFFBF  !important;}
rgba(255, 255, 0, 0.5);
*/
.normal {background-color: rgba(0, 255, 0, 0.2) !important;}
.error {background-color: rgba(255, 0, 0, 0.2) !important;}
.warning {background-color: rgba(255, 255, 0, 0.2)  !important;}

.sospechoso {background-color: #FFFFBF  !important;}
.validado {background-color: #cce5ff    !important;}
.no-seleccionado {background-color: #7F7F7F !important;}

.table-scroll tbody {
    height: 400px;
    overflow-y: auto;
    width: 100%;
}

.table-scroll thead,
.table-scroll tbody,
.table-scroll tr,
.table-scroll td,
.table-scroll th {
    display: block;
}

.table-scroll tbody td,
.table-scroll tbody th,
.table-scroll thead > tr > th {
    float: left;
    position: relative;
}


.table-scroll tbody td::after,
.table-scroll tbody th::after,
.table-scroll thead > tr > th::after {
    content: '';
    clear: both;
    display: block;
}

#tabla_datos thead th{
    height:110px;
}

.my-custom-scrollbar {
position: relative;
height: 200px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}



.btn{
}
.filtro{
background: rgba(255,255,255,0.6);
}

.titulo{
background: rgba(185,185,185,0.6);
}