
#table_validacion {
    background-color: rgba(220,220,220,0.7);
}

#table_validacion tbody {
  display: block;
  max-height: 400px;
  overflow-y: scroll;
}


#table_validacion thead tr,
#table_validacion tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}


#table_validacion thead {
  overflow-y: scroll;
}


.btn-cambio{background-color: #BFBFFF;}

.seleccionado > .normal {background-color: rgba(191,255,191,0.55);}
.seleccionado > .error {background-color: rgba(255,191,191,0.55);}
.seleccionado > .sospechoso {background-color: rgba(255,255,191,0.55);}
.seleccionado > .salto {background-color: rgba(255,255,191,0.55);}

.seleccionado > .validado {background-color: rgba(191,255,191,0.55);}
.seleccionado > .cambio {background-color: rgba(191,255,255,0.55);}
.seleccionado > .no-validado {background-color: rgba(223,223,233,0.55);}
.no-seleccionado > .no-validado {background-color: rgba(127,127,127,0.55);}

.col1 {width: 220px;}
.col2 {width: 160px;}
.col3 {width: 130px;}
.col4 {width: 170px;}
.col5 {width: 130px;}
.col6 {width: 300px;}
