{% extends "base.html" %}

{% block content %}
<div class="row transp-blanco">
    <div class="col"><h5>{% block titulo %}App / Modelo{% endblock %} / Eliminar</h5></div>
</div>

<div class="container transp-blanco mt-2" style="min-width:10em; max-width:43em;">
    <div class="row">
        <div class="col">
            <table class="table table-hover table-sm" style="width:auto;">
                {% block table_rows %}{% endblock %}
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <form method="post" class="form">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning">Confirmar</button>
                <a class="btn btn-secondary" href="{% block cancelar_url %}{% endblock %}">Cancelar</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}
