{% extends "base.html" %}
{% load bootstrap4 %}

{% block javascript %}
    <style type="text/css">
        .popup-overlay {
            visibility:hidden;
            position:fixed;
            height: 100%;
            width: 100% ;
            left: 0;
            top: 0;
            z-index: 1;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }

        .popup-content {
            position:relative;
            margin:0 auto;
            visibility:hidden;
            vertical-align: middle;
        }

        .popup-overlay.active{visibility:visible;}
        .popup-content.active{visibility:visible;}
        .nivelregleta .valor .si{display:none;}
        .nivelregleta .valor .no{display:none;}

    </style>

    <script>

    function enviar_confirmacion() {
        $('input[name=accion]').val('confirmar');
        $("#btn_confirmar").attr('disabled',true);
        $.ajax({
            url: '{% url 'importacion:importacion_temp_detail' importaciontemp.imp_id %}',
            type:'POST',
            data: $("#form_confirm").serialize(),
            beforeSend: function () {
                $("#div_informacion").hide();
                $("#div_error").hide();
                $("#div_loading").show();
            },
            success: function (data) {
                $("#div_loading").hide();
                $("#div_error").hide();
                $("#div_informacion").empty();
                $("#div_informacion").html(data);
                $("#div_informacion").show();

            },
            error: function () {
                $("#div_informacion").hide();
                $("#div_loading").hide();
                $("#div_error").show();
                $("#btn_confirmar").removeAttr('disabled');
            }
        });
        return false;
    }

    function aceptar_sobrescribe(){
        if (  $("input[name='nivel_agua']").val() == "True" ){
            $('#regleta-form').css("display", "block");
            $('#aceptar-sobrescribe').css("display", "none");
            $(".popup-overlay, .popup-content").addClass("active");
            return;
        }
        enviar_confirmacion();
    }


    $(document).ready(function() {

        $("#btn_confirmar").click(function(event){
            event.preventDefault();

            if (  $("input[name='sobrescribe']").val() == "True" ){
                $('#regleta-form').css("display", "none");
                $('#aceptar-sobrescribe').css("display", "block");
                $(".popup-overlay, .popup-content").addClass("active");
            }else{
                aceptar_sobrescribe();
            }
        });


        $("#btn_sobrescribe_no").click(function(){
            $(".popup-overlay, .popup-content").removeClass("active");
         });


        $("#btn_sobrescribe_si").click(function(){
            $('#regleta-form').css("display", "none");
            $('#aceptar-sobrescribe').css("display", "none");
            $('.popup-overlay, .popup-content').removeClass('active');
            aceptar_sobrescribe();
         });


        $(".nivelregleta > .valor > input[type='radio'][name='valor']").click(function(){
            if ( $(this).val() == "si" ){
                $('.nivelregleta > .valor > .si').css("display", "block");
                $('.nivelregleta > .valor > .no').css("display", "none");
            }else if ( $(this).val() == "no" ){
                $('.nivelregleta > .valor > .no').css("display", "block");
                $('.nivelregleta > .valor > .si').css("display", "none");
            }
        });


        $('#btn_nivelregleta_guardar').click(function(){
            if ( $(".nivelregleta > .valor > input[type='radio']:checked").val() == null ) return;
            if ( $(".nivelregleta > .calibrado > input[type='radio']:checked").val() == null ) return;

            valor = null;
            comentario = null;
            calibrado = null;

            if( $(".nivelregleta > .valor > input[type='radio']:checked").val() == "si"){
                valor = $(".nivelregleta > .valor > .si > input").val();
                if (valor == null) return;
            }else {
                comentario = $(".nivelregleta > .valor > .no > textarea").val();
                if (comentario == null) return;
            }

            if( $(".nivelregleta > .calibrado > input[type='radio']:checked").val() == "si"){
                calibrado = true;
            }else{
                calibrado = false;
            }

            nivelregleta = JSON.stringify({ valor: valor, comentario: comentario, calibrado: calibrado});
            $("input[name='nivelregleta']").val(nivelregleta);
            enviar_confirmacion();
            $('.popup-overlay, .popup-content').removeClass('active');
        });



        $('#btn_nivelregleta_regresar').click(function(){
            $('.popup-overlay, .popup-content').removeClass('active');
            $(".nivelregleta > .valor > .no > textarea").val("");
            $(".nivelregleta > .valor > .si > input[type='number']").val("");
            $('.nivelregleta > .valor > .no').css("display", "none");
            $('.nivelregleta > .valor > .si').css("display", "none");
            $(".nivelregleta > .valor > input[type='radio']").prop("checked", false);
            $(".nivelregleta > .calibrado > input[type='radio']").prop("checked", false);
        });


    });
    </script>




{% endblock %}


{% block content %}
<div class="row transp-blanco">
    <div class="col"><h5>Importación / Detalle de carga</h5></div>
</div>

<div class="container transp-blanco mt-2" style="min-width:10em; max-width:70em;">
    <div id="div_loading" class=" row" style="display:none;" >
        <div class="col text-center">
            <div class="spinner-border text-primary" role="status"><span class="sr-only">Loading...</span></div>
        </div>
    </div>

    <div id="div_error" class="row" style="display:none;">
        <div class="col">
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            Ocurrio un problema con el procesamiento de la información, por favor intentelo nuevamente
            </div>
        </div>
    </div>

    <div id="div_informacion" class="row">
        <div class="col">
            <table class="table table-hover table-sm" style="width:auto;">
                <tr><th>Archivo</th><td>{{nombre_archivo_solo}}</td></tr>
                <tr><th>Código de la Estación</th><td>{{importaciontemp.est_id}}</td></tr>
                <tr><th>Formato de Importación</th><td>{{importaciontemp.for_id}}</td></tr>
                <tr><th>Fecha Inicial</th><td>{{importaciontemp.imp_fecha_ini|date:"Y-m-d H:i:s"}}</td></tr>
                <tr><th>Fecha Final</th><td>{{importaciontemp.imp_fecha_fin|date:"Y-m-d H:i:s "}}</td></tr>
            </table>

            <form id="form_confirm" method="post" class="form mt-4">
                {% csrf_token %}
                <input type="hidden" name="nivelregleta" value="">
                {% bootstrap_form form %}
                <button class="btn btn-primary" id="btn_confirmar" >Confirmar</button>
                <a class="btn btn-secondary" id="btn_cancelar" href="{% url 'importacion:importacion_index' %}">Cancelar</a>
                <input type="hidden" name="accion" value="">
            </form>

        </div>

        <div class="col">
            <table class="table table-hover table-sm" style="width:auto;">
                <thead>
                <tr><th colspan="3">Comparación con base de datos</th></tr>
                <tr>
                    <th>Variable</th>
                    <th>Sobrescribe</th>
                    <th>Fecha de último dato cargado</th>
                </tr>
                </thead>
                <tbody>
                {% for item in informacion %}
                <tr>
                    <td>{{ item.var_nombre}}</td>
                    <td>{% if item.existe %}*Si{%else%}No{% endif %}</td>
                    {% if item.var_id ==  11 %}<input type="hidden" name="nivel_agua" value="True">{% endif %}
                    <td>{{ item.ultima_fecha|date:"Y-m-d H:i:s"}}</td>
                </tr>

                {% endfor%}

                </tbody>
            </table>
            {% if sobrescribe %}<input type="hidden" name="sobrescribe" value="True">{% endif %}
        </div>
    </div>

</div>


<div class="popup-overlay" >
    <div  class="popup-content centr">

        <div id="aceptar-sobrescribe" class="centr" >
            <div class="jumbotron blanco ajust-a-cont">
                <h4>Atención!!</h4>
                <h5>Existen datos que se van a sobrescribir.</h5>
                <button id="btn_sobrescribe_si" type="button" class="btn btn-danger">Aceptar y sobrescribir</button>
                <button id="btn_sobrescribe_no" type="button" class="btn btn-secondary">Cancelar</button>
            </div>
        </div>


        <div id="regleta-form" class="centr">
            <div class="jumbotron blanco ajust-a-cont">
                <h4>Atención:</h4>

                <div class="nivelregleta">
                    <div class="valor">
                        <h5>1. ¿Tiene el valor de regleta?</h5>
                        <br>
                        <input type="radio" name="valor" value="si"> Sí<br>
                        <input type="radio" name="valor" value="no"> No<br>
                        <br>
                        <div class="si">
                            <h5>Ingrese el valor de nivel de regleta en centímetros:</h5>
                            <input type="number" name="valor" value="" size="6">
                        </div>
                        <div class="no">
                            <h5>Ingrese la razón/comentario de la razón:</h5>
                            <textarea name="comentario" rows="5" cols="30"></textarea>
                        </div>
                    </div>
                    <br>
                    <div class="calibrado">
                        <h5>2. ¿Dejó calibrando la regleta con el sensor?</h5>
                        <br>
                        <input type="radio" name="calibrado" value="si"> Sí<br>
                        <input type="radio" name="calibrado" value="no"> No<br>
                    </div>
                    <br>
                    <button id="btn_nivelregleta_guardar" type="button" class="btn btn-xs btn-success">Guardar</button>
                    <button id="btn_nivelregleta_regresar" type="button" class="btn btn-xs btn-secondary">Regresar</button>

                </div>
            </div>

        </div>

     </div>
</div>


{% endblock %}
