{% extends "template_detail.html" %}
{% load bootstrap4 %}

{% block titulo %}Importación{% endblock %}

{% block body_content %}

<div class="row">
    <div class="col">
        <table class="table table-hover table-sm" style="width:auto;">
            <tr>
                <th colspan="2">Información del archivo</th>
            </tr>
            <tr>
                <th>Código de la Estación</th>
                <td>{{importacion.est_id}}</td>
            </tr>
            <tr>
                <th>Formato de Importación</th>
                <td>{{importacion.for_id|default_if_none:""}}</td>
            </tr>
            <tr>
                <th>Fecha Inicial</th>
                <td>{{importacion.imp_fecha_ini|date:"Y-m-d H:i:s"}}</td>
            </tr>
            <tr>
                <th>Fecha Final</th>
                <td>{{importacion.imp_fecha_fin|date:"Y-m-d H:i:s "}}</td>
            </tr>

            <tr>
                <th colspan="2">Observación</th>
            </tr>
            <tr>
                <td colspan="2">{{importacion.imp_observacion}}</td>
            </tr>

        </table>

    </div>

    <div class="col">
        <table class="table table-hover table-sm">
            <thead>
            <tr>
                <th colspan="3">Información de Importación</th>
            </tr>
            <tr>
                <th>Variable</th>
            </tr>
            </thead>
            <tbody>
            {% for item in informacion %}
            <tr>
                <td>{{ item.var_nombre}}</td>
            </tr>
            {% endfor%}

            </tbody>
        </table>
    </div>
</div>




{% endblock %}


{% block url_back %}
{% url 'importacion:importacion_index' %}
{% endblock %}