{% extends "reportes/template_reportes.html" %}
{% load bootstrap4 %}


{% block javascript %}
    {{ block.super }}

    <style>
        #formulario .row {max-width:1300px;}
        #formulario .row>:nth-child(1) {min-width:210px;}
        #formulario .row>:nth-child(2) {min-width:220px;}
        #formulario .row>:nth-child(3) {min-width:220px;}
        #formulario .row>:nth-child(4) {min-width:220px;}
        #formulario .row>:nth-child(5) {min-width:360px;}
        #formulario .row>:nth-child(5) .row .col {min-width:180px;}
    </style>

    <script>
    var btn_csv = "<button name='csv' type='button' class='btn btn-primary btn-xs reporte' onclick='accion_click(this)'>CSV</button>";
    var btn_excel = "<button name='excel' type='button' class='btn btn-default btn-xs reporte' onclick='accion_click(this)'>EXCEL</button>";
    var btn_grafico = "<button name='grafico' type='button' class='btn btn-success btn-xs reporte' onclick='accion_click(this)'>Gráfico</button>";

    var botones = btn_csv + btn_excel + btn_grafico;

    function url_accion_click(){
        return '{% url "reportes:calidad_consultas_periodo" %}';
    }
    </script>
{% endblock %}


{% block dr_top %}
    iniciar_datepicker("#id_inicio");
    iniciar_datepicker("#id_fin");
    $("#id_inicio").on("change", function() {
        $("#id_fin").datepicker( "option", "minDate", getDate( this ) );
    });

    $("#id_variable").prepend('<option value>---------</option>');
    $('#id_variable').attr("required", true);

    consultar_profundidades();

    $("#id_variable").change(function () {
        consultar_profundidades();
    });

{% endblock %}


{% block titulo %} Consultas por período{% endblock %}

{% block centro %}{% bootstrap_field form.frecuencia show_label='sr-only' %}{% endblock %}

{% block derecha %}<a class="btn btn-outline-secondary" href="{% url 'reportes:calidad_consultas_periodo' %}">Limpiar</a>{% endblock %}


{% block formulario %}
<div class="col">{% bootstrap_field form.filtro show_label='sr-only' %}</div>
<div class="col sitio-cuenca" style="display:none;">{% bootstrap_field form.sitio show_label='sr-only' %}</div>
<div class="col">{% bootstrap_field form.variable show_label='sr-only' %}</div>
<div class="col">{% bootstrap_field form.profundidad show_label='sr-only' %}</div>
<div class="col" >
    <div class="row" style="flex-wrap:nowrap;">
        <div class="col" >{% bootstrap_field form.inicio show_label='sr-only' %}</div>
        <div class="col" >{% bootstrap_field form.fin show_label='sr-only' %}</div>
    </div>
</div>
<input type="hidden" value="" name="accion"/>
{{ form.estacion_id }}
{% endblock %}
