name: Check links in Markdown files
on:
  workflow_call:
  schedule:
    - cron: "0 0 * * 1" # midnight every Monday

jobs:
  check-links:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: umbrelladocs/action-linkspector@v1
        name: Check links in markdown files
        with:
          reporter: github-pr-review
