    <div id="toolbar_daily" class="filter row no-gutters">
        <div class="col-lg-3 col-md-3 col-sm-12">
            <input id="txt_daily_selection" name="daily" type="text" class="form-control mr-2" placeholder="1,5,7 or 1-10">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="btn-group ml-lg-2 ml-md-2">
                <button id="btn_daily_select" name="daily" class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top" title="Select rows">Select</button>
                <button id="btn_daily_unselect" name="daily" class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top" title="Unselect rows">Unselect</button>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="btn-group">
                <button id="btn_daily_unvalidate" name="daily" class="btn btn-xs btn-primary" data-toggle="tooltip" data-placement="top" title="Unvalidate data">Unvalidate data</button>
<!--                <button id="btn_grafico" name="daily" class="btn btn-xs btn-info" data-toggle="tooltip" data-placement="top" title="Plot">Plot</button>-->
                <button id="btn_daily_history" name="daily" class="btn btn-xs btn-dark" data-toggle="tooltip" data-placement="top" title="Validation History">Validation History</button>
                <button id="btn_daily_delete" name="daily" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Remove rows">Remove rows</button>
                <button id="btn_daily_show" name="daily" class="btn btn-xs btn-danger" data-toggle="tooltip" data-placement="top" title="Undo changes">Undo changes</button>
                <button id="btn_daily_send" name="daily" class="btn btn-xs btn-success" data-toggle="tooltip" data-placement="top" title="Send validation">Save</i></button>
            </div>
        </div>
    </div>


    <table id="table_daily"
        data-toggle="table"
        data-height="250"
        data-show-footer="true"
        data-unique-id="id"
        data-show-columns="true"
        data-toolbar="#toolbar_daily" class="filter">
    </table>
