{% extends "base.html" %}

{% load bootstrap4 %}
{% load static %}

{% block extralibraries %}
<link rel="stylesheet" href="{% static 'ext/fontawesome-free-5.13.0-web/css/all.min.css' %}">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
<!--  <link rel="stylesheet" href="/resources/demos/style.css">-->
<!--  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>-->
<!--  <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>-->

<!--<script crossorigin="anonymous" src="{% static 'ext/jquery3.4.1/jquery.min.js' %}"></script>-->
<script crossorigin="anonymous" src="{% static 'ext/jquery-ui-1.12.1/jquery-ui.js' %}"></script>
<script crossorigin="anonymous" src="{% static 'ext/popper-core_v1.16.1-lts/umd/popper.min.js' %}"></script>
<script crossorigin="anonymous" src="{% static 'ext/bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'ext/DataTables/datatables.min.js' %}"></script>




<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<link href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"></script>

<script src="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.css">


<link rel="stylesheet" href="{% static 'ext/DataTables/datatables.min.css' %}"/>
<link rel="stylesheet" href="{% static 'styles/global.css' %}">
<link rel="stylesheet" href="{% static 'styles/style.css' %}">
<script src="{% static 'scripts/global.js' %}"></script>
<script src="{% static 'validated/js_ajax2.js' %}"></script>
<script src="{% static 'validated/daily_validation.js' %}"></script>

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.2.1/dygraph.min.css" />
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/dygraph/2.2.1/dygraph.min.js"></script>

<style type="text/css">
    .popup-overlay {
        visibility:hidden;
        position:fixed;
        background-size:100% 100%;
        height: 100%;
        width: 100% ;
        left: 0;
        top: 0;
        z-index: 1;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.4);
    }

    .popup-content {
        position:relative;
        margin:0 auto;
        visibility:hidden;
        height:20%;
        width:40%;
        vertical-align: middle;
    }
    .mensaje{
        vertical-align: middle;
        text-align: center;
    }
    .popup-overlay.active{visibility:visible;}
    .popup-content.active{visibility:visible;}

    .nopadding {
        padding: 0;
        margin: 0;
    }
</style>
<script>
$(document).ready(function() {

    $("select").addClass("use-placeholder");
    window.mostrar_label_dentro_de_select();
});
</script>
{% endblock %}


{% block content %}

<div class=" ">

    <!-- div titulo-->
    <div class="titulo row">
        <div class="col mt-2">
            <h5>Validación Datos Crudos por Frecuencia Diaria</h5>
        </div>
        <div class="col">
            <a id="id_limpiar" class="btn btn-light" href="{% url 'validated:daily_validation' %}"><span>Limpiar</span></a>
        </div>
    </div>


    <br/>
    <div class="filtro row">
        <!-- div formulario-->
        <div class="col-lg-12 col-md-12 col-sm-12">

            <form id="form_validacion" class="form" method="post" action="{% url 'validated:daily_validation' %}">
                <div class="row">
                    {% csrf_token %}
                    {% for field in form%}
                    {% bootstrap_field field show_label=False form_group_class='col-lg-3 col-md-3 col-sm-6 mt-3' %}
                    {% endfor %}
                    <div class="form-group col-lg-3 col-md-3 mt-3">
                        <button id="btn_buscar" type="button" class="btn btn-primary">Validar</button>
                        
                    </div>
                </div>
            </form>


        </div><!-- end div formulario-->


    </div>
    <div id="div_c"></div>
    <center class="filtro">
        <button id="resize_plot" div="div_resize_plot"  style="display:none;" class="btn btn-success btn-xs" onclick="resizePlot()"> &gt Un pixel por dato &lt </button>
    </center>
    <div id="div_informacion" style="overflow-x: scroll;"  class="col-lg-12 col-md-12 col-sm-12 nopadding">
    </div>
    <div id="div_message_fechas" class="row mt-4" style="display:none;">
        <div class="alert alert-danger alert-dismissible" role="alert">
            Ocurrio un problema con el procesamiento de la información, seleccione Fechas
        </div>
    </div>


    <div id="div_mensaje" class="filtro row" style="display:none;">
        <div class="alert alert-danger alert-dismissible" role="alert">
            Ocurrio un problema con el procesamiento de la información, por favor intentelo nuevamente
        </div>
    </div>

    <div class="row m-3">
        <div class="col"></div>
    </div>


    <div class=" row my-3">
        <div class="col-lg-2 col-md-2 col-sm-4">
            <b>Filtro Fecha</b>
            <select id="chk_fecha" name="crudo" type="text" class="form-control mr-2">
                <option value="todos">Todos</option>
                <option value="normal">Normales</option>
                <option value="error">Errores</option>
            </select>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-4">
            <b>Filtro Porcentaje</b>
            <select id="chk_porcentaje" name="diario" type="text" class="form-control mr-2">
                <option value="todos">Todos</option>
                <option value="normal">Dentro del Umbral</option>
                <option value="error">Fuera del Umbral</option>

            </select>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-4">
            <b>Filtro Valor</b>
            <select id="chk_numero" name="diario" type="text" class="form-control mr-2">
                <option value="todos">Todos</option>
                <option value="normal">Sin problemas</option>
                <option value="error">Con problemas</option>

            </select>
        </div>
    </div>




    <div id="toolbar_diario" class="filtro row no-gutters">
        <div class="col-lg-3 col-md-3 col-sm-12">
            <input id="txt_seleccionar" name="diario" type="text" class="form-control mr-2" placeholder="1,5,7 or 1-10">
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="btn-group ml-lg-2 ml-md-2">
                <button id="btn_seleccionar" name="diario" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Marcar Filas"><i style="margin: 4px auto;" class="fas fa-check-circle"></i></button>
                <button id="btn_desmarcar" name="diario" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Desmarcar Filas"><i class="far fa-check-circle"></i></button>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="btn-group">
                <button id="btn_desvalidar" name="diario" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Desvalidar Datos"><i style="margin: 4px auto;" class="fas fa-redo"></i></button>
                <button id="btn_grafico" name="diario" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Graficar Datos"><i style="margin: 4px auto;" class="fas fa-chart-line"></i></button>
                <button id="btn_historial" name="diario" class="btn btn-dark" data-toggle="tooltip" data-placement="top" title="Historial de Validación"><i class="fas fa-history"></i></button>
                <button id="btn_eliminar" name="diario" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Eliminar Filas"><i name="diario" class="fas fa-trash"></i></button>
                <button id="btn_mostrar" name="diario" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Deshacer Cambios"><i class="fas fa-trash-restore"></i></button>
                <button id="btn_enviar" name="diario" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Enviar Validación"><i class="fas fa-save"></i></button>
            </div>
        </div>
    </div>

    <table id="table_diario"
            data-toggle="table"
            data-height="458"
            data-show-footer="true"
            data-unique-id="id"
            data-show-columns="true"
            data-toolbar="#toolbar_diario" class="filtro">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Fecha</th>
                <th>Porcentaje</th>
                <th>Valor</th>
                <th>Acción</th>
            </tr>
        </thead>
    </table>


    <div class="row m-4">
        <div class="col"></div>
    </div>


    <div class=" row my-3">
        <div class="col-lg-2 col-md-2 col-sm-6">

            <b>Filtro Fecha</b>
            <select id="chk_fecha_crudo" name="crudo" type="text" class="form-control mr-2">
                <option value="todos">Todos</option>
                <option value="normal">Normales</option>
                <option value="error">Anomálos</option>
            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
            <b>Filtro Valor</b>
            <select id="chk_valor_crudo" name="crudo" type="text" class="form-control mr-2">
                <option value="todos">Todos</option>
                <option value="normal">Dentro del umbral</option>
                <option value="error">Fuera del Umbral</option>

            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
            <b>Valores atípicos</b>
            <select id="chk_stddev" name="crudo" type="text" class="form-control mr-2">
                <option value="todos">Todos</option>
                <option value="normal">Dentro de sigmas</option>
                <option value="error">Fuera de sigmas</option>

            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
            <b>Filtro Estado</b>
            <select id="chk_fila" name="crudo" type="text" class="form-control mr-2">
                <option value="todos">Todas</option>
                <option value="normal">Activo</option>
                <option value="error">Inactivo</option>

            </select>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6">
            <b>Filtro Variación</b>
            <select id="chk_varcon" name="crudo" type="text" class="form-control mr-2">
                <option value="todos">Todas</option>
                <option value="normal">Normal</option>
                <option value="error">Error</option>

            </select>
        </div>

    </div>


    <div id="toolbar_crudo" class="filtro row no-gutters">
        <div class="col-lg-3 col-md-3 col-sm-12">
            <input id="txt_seleccionar_crudo" type="text" class="form-control" placeholder="1,5,7 or 1-10">

        </div>
        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="btn-group ml-lg-2 ml-md-2">
                    <button id="btn_seleccionar_crudo" name="crudo" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Marcar Filas"><i style="margin: 4px auto;" class="fas fa-check-circle"></i></button>
                    <button id="btn_desmarcar_crudo" name="crudo" class="btn btn-warning" data-toggle="tooltip" data-placement="top" title="Desmarcar Filas"><i class="far fa-check-circle"></i></button>
                </div>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="btn-group">
                <button id="btn_nuevo_crudo" name="crudo" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Nuevo Registro"><i class="fas fa-plus-circle"></i></button>
                <button id="btn_grafico_crudo" name="crudo" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Graficar Datos"><i style="margin: 4px auto;" class="fas fa-chart-line"></i></button>
                <button id="btn_eliminar_crudo" name="crudo" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Eilminar Filas"><i class="fas fa-trash"></i></button>
                <button id="btn_mostrar_crudo" name="crudo" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Deshacer Cambios"><i class="fas fa-trash-restore"></i></button>
                <button id="btn_enviar_crudo" name="crudo" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Guardar Cambios"><i class="fas fa-save"></i></button>
            </div>
        </div>
    </div>


    <table id="table_crudo"
            data-toggle="table"
            data-height="458"
            data-show-footer="true"
            data-unique-id="id"
            data-show-columns="true"
            data-toolbar="#toolbar_crudo"
            class="filtro">
        <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Fecha</th>
                <th>Valor</th>
                <th>Variación consecutiva</th>
                <th>Valores Atípicos</th>
                <th>Comentario</th>                
                <th>Acción</th>
            </tr>
        </thead>
    </table>


    <div id="div_lista_datos">
    </div>

    <div id="div_loading_datos" class="row" style="display:none;">
        <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <img src="/static/images/loading6.gif"/>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">&nbsp;</div>
    </div>

    <div id="div_error_datos" class="row" style="display:none;">
        <div class="alert alert-danger alert-dismissible" role="alert">
            Ocurrio un problema con el procesamiento de la información, por favor intentelo nuevamente
        </div>
    </div>

    <!-- Modal Formulario Acumulado -->
    <div class="modal fade" id="modal_acumulado" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal_label_promedio" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_label_acumulado">Modificar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form_acumulado">
                        <input type="hidden" name="id">
                        <div class="form-group">
                            <label class="col-form-label">Fecha:</label>
                            <input type="text" class="form-control" name="fecha" placeholder="Disabled input">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Valor</label>
                            <input type="number" step=".1" class="form-control" name="valor" required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Comentario</label>
                            <input type="text" class="form-control" name="comentario" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="btn_modificar_acumulado" name="acumulado" type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Formulario Acumulado -->

    <!-- Modal Formulario Promedio -->
    <div class="modal fade" id="modal_promedio" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal_label_promedio" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_label_promedio">Modificar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form_promedio">
                        <input type="hidden" name="id">
                        <div class="form-group">
                            <label class="col-form-label">Fecha:</label>
                            <input type="text" class="form-control" name="fecha">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Valor</label>
                            <input type="number" step=".000001" class="form-control" name="valor" required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Maximo</label>
                            <input type="number" step=".000001" class="form-control" name="maximo">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Mínimo</label>
                            <input type="number" step=".000001" class="form-control" name="minimo">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Comentario</label>
                            <input type="text" class="form-control" name="comentario" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="btn_modificar_promedio" name="promedio" type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Formulario Promedio -->


    <!-- Modal Formulario Modificar Agua -->
    <div class="modal fade" id="modal_agua" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal_label_promedio" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modificar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form_agua">
                        <input type="hidden" name="id">
                        <div class="form-group">
                            <label class="col-form-label">Fecha:</label>
                            <input type="text" class="form-control" name="fecha">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Valor</label>
                            <input type="number" step=".000001" class="form-control" name="valor" required>
                        </div>
                        <!--div class="form-group">
                            <label class="col-form-label">Caudal</label>
                            <input type="number" step=".000001" class="form-control" name="caudal" required>
                        </!--div-->
                        <div class="form-group">
                            <label class="col-form-label">Comentario</label>
                            <input type="text" class="form-control" name="comentario" required>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="btn_modificar_agua" name="agua" type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Formulario Modificar Agua -->




    <!-- Modal Nuevo Formulario Nuevo Acumulado -->
    <div class="modal fade" id="modal_nuevo_acumulado" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal_label_promedio" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Nuevo Registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form_nuevo_acumulado">
                        <input type="hidden" name="id">
                        <div class="form-group">
                            <label class="col-form-label">Fecha:</label>
                            <input type="text" class="form-control" name="fecha">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Hora:</label>
                            <input type="time" class="form-control" name="hora" required>
                        </div>

                        <div class="form-group">
                            <label class="col-form-label">Valor</label>
                            <input type="number" step=".1" class="form-control" name="valor" required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Comentario</label>
                            <input type="text" class="form-control" name="comentario" required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Número de Fila</label>
                            <input type="number" class="form-control" name="fila" required>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="btn_nuevo_acumulado" name="acumulado" type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Formulario Nuevo Acumulado -->

    <!-- Modal Formulario Nuevo Agua -->
    <div class="modal fade" id="modal_nuevo_promedio" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal_label_promedio" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Nuevo Registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form_nuevo_promedio">
                        <input type="hidden" name="id">
                        <div class="form-group">
                            <label class="col-form-label">Fecha:</label>
                            <input type="text" class="form-control" name="fecha">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Hora:</label>
                            <input type="time" class="form-control" name="hora" required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Valor</label>
                            <input type="text" class="form-control" name="valor" required>
                        </div>
                        <!--div class="form-group">
                            <label class="col-form-label">Caudal</label>
                            <input type="text" class="form-control" name="caudal" required>
                        </!--div-->
                        <div class="form-group">
                            <label class="col-form-label">Comentario</label>
                            <input type="text" class="form-control" name="comentario" required>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label">Número de Fila</label>
                            <input type="number" class="form-control" name="fila" required>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="btn_nuevo_promedio" name="promedio" type="button" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Formulario Nuevo Agua -->





    <!-- Modal Formulario Eliminar -->
    <div class="modal fade" id="modal_eliminar" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal_label_eliminar" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_label_eliminar">Eliminar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form_eliminar">
                        <input type="hidden" name="id">
                        <input type="hidden" name="estado">
                        <div class="form-group">
                            <label class="col-form-label">Comentario</label>
                            <input id="txt_comentario_elimminar" type="text" class="form-control" name="comentario">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="btn_eliminar_valor" name="eliminar" type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Formulario Eliminar -->



    <!-- Modal Formulario Enviar Validacion -->
    <div class="modal fade" id="modal_validar" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modal_label_validad" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal_label_validad">Modificar</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="form_validar">
                        <div class="form-group">
                            <label class="col-form-label">Comentario</label>
                            <input id="txt_comentario_validar" type="text" class="form-control" name="comentario">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button id="btn_validar_comentario" name="eliminar" type="button" class="btn btn-danger">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Formulario Enviar Validacion -->


    <!-- Modal Mensaje Validacion -->
    <div class="modal fade" id="div_mensaje_validacion" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="div_mensaje_validacion_label" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Mensaje</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="div_body_mensaje" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Mensaje Validacion -->

    <!-- Modal Gráfico  -->
    <div class="modal fade" id="div_modal_grafico" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Gráfico</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="div_grafico" class="modal-body">
                    <!-- Plotly chart will be drawn inside this DIV -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Historial de Validación  -->
    <div class="modal fade" id="div_modal_historial" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Datos Validados</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Plotly chart will be drawn inside this DIV -->
                    <div id="div_loading_historial" style="display:none;">
                        <div class="d-flex align-items-center">
                            <strong>Loading...</strong>
                            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
                        </div>
                    </div>

                    <div id="div_historial" class="row mt-4">

                    </div>

                    <div id="div_message_historial" class="row mt-4" style="display:none;">
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            Ocurrio un problema con el procesamiento de la información, por favor intentelo nuevamente
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>


    <input type="hidden" id="orig_estacion_id">
    <input type="hidden" id="orig_variable_id">
    <input type="hidden" id="orig_fecha_inicio">
    <input type="hidden" id="orig_fecha_fin">
    <input type="hidden" id="orig_lim_sup">
    <input type="hidden" id="orig_lim_inf">
    <input type="hidden" id="orig_fecha_diario">
    <input type="hidden" id="orig_id_diario">


</div>
<div id="espacio" style="padding-bottom:200px;">

</div>
{% endblock %}
