{% load static %}


<script src="{% static 'porcentaje.js' %}"></script>
{% if datos %}
<div class="col-md-5">
    <table id="tbl_data" style="font-size: 12px" class="table table-sm table-striped table-bordered table-sm">

        <thead>

        <tr>
            <th>Fecha</th>
            <th>
                <div class="form-group">
                    <label>Valor</label>
                    <select id="chk_valor" class="form-control form-control-sm">
                        <option value="valor">Todos</option>
                        <option value="valor normal">Normal</option>
                        <option value="valor error">Sospechoso</option>
                    </select>
                </div>
                <div class="row mt-2 no-gutters justify-content-md-center" >
                    <div class="col-md-auto">
                        <span id="btn_valor_normal"  class="badge badge-success">Normal<br/>-</span>
                        <span id="btn_valor_error"  class="badge badge-warning">Sospechoso<br/>-</span>
                    </div>
                </div>

            </th>
            <th>
                <div class="form-group">
                    <label>Porcentaje</label>
                    <select id="chk_porcentaje" class="form-control form-control-sm">
                        <option value="porcentaje">Todos</option>
                        <option value="porcentaje normal">Normal</option>
                        <option value="porcentaje error">Sospechoso</option>
                    </select>
                </div>
                <div class="row mt-2 no-gutters justify-content-md-center" >
                    <div class="col-md-auto">
                        <span id="btn_porcentaje_normal" class="badge badge-success">Normal<br/>-</span>
                        <span id="btn_porcentaje_error" class="badge badge-warning">Sospechoso<br/>-</span>
                    </div>
                </div>
            </th>
        </tr>

        </thead>
        <tbody>

        {% for item in datos %}

        <tr>
            <td>{{ item.fecha|date:"Y-m-d H:i:s" }}</td>
            <td class="valor {{item.class_valor}}">{{ item.valor }}</td>
            <td class="porcentaje {{item.class_porcentaje}}">{{ item.completo_mediciones }}</td>

        </tr>

        {% endfor%}

        </tbody>
    </table>
</div>
{%else%}
<div class="col-lg-5 col-md-5">
    <div class="alert alert-primary" role="alert">
        Información no Disponible
    </div>
</div>
{% endif %}


